﻿
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/amstock.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/none.js"></script>

<style>
    #chartdiv {
        width: 90%;
        height: 500px;
    }

    .amcharts-scrollbar-label {
        fill: black;
    }
</style>

<script>
    //var chartData = loadCSV("amstock/data.txt");
    var chartData = [];
    

    function loadCSV() {
        if (window.XMLHttpRequest) {
            // IE7+, Firefox, Chrome, Opera, Safari
            var request = new XMLHttpRequest();
        } else {
            // code for IE6, IE5
            var request = new ActiveXObject('Microsoft.XMLHTTP');
        }
        // load
        request.open('GET', "../ShareChart/data.txt", false);
        request.send();
        parseCSV(request.responseText);
    }

    function parseCSV(data) {
        //replace UNIX new lines
        data = data.replace(/\r\n/g, "\n");
        //replace MAC new lines
        data = data.replace(/\r/g, "\n");
        //split into rows
        var rows = data.split("\n");

        // loop through all rows
        for (var i = 0; i < rows.length; i++) {
            // this line helps to skip empty rows
            if (rows[i]) {
                // our columns are separated by comma
                var column = rows[i].split(",");

                // column is array now
                // first item is date
                var date = column[0];
                // second item is value of the second column
                var value = column[1];

                var Volumn = column[2];

                // create object which contains all these items:
                var dataObject = {
                    "date": date,
                    "value": value,
                    volume: Volumn
                };
                // add object to chartData array
                chartData.push(dataObject);
            }
        }
        chart.validateData();
    }

    function generateChartData() {
        var chartData = [];
        var firstDate = new Date(2012, 0, 1);
        firstDate.setDate(firstDate.getDate() - 1000);
        firstDate.setHours(0, 0, 0, 0);

        for (var i = 0; i < 1000; i++) {
            var newDate = new Date(firstDate);
            newDate.setHours(0, i, 0, 0);

            var a = Math.round(Math.random() * (40 + i)) + 100 + i;
            var b = Math.round(Math.random() * 100000000);

            chartData.push({
                "date": newDate,
                "value": a //,
                //"volume": b
            });
        }
        return chartData;
    }

    var chart = AmCharts.makeChart("chartdiv", {
        "type": "stock",
        "theme": "none",
        "categoryAxesSettings": {
            "minPeriod": "mm"
        },

        "dataSets": [{
            "color": "#dcb95a",
            "fieldMappings": [{
                "fromField": "value",
                "toField": "value"
            },
            {
                "fromField": "volume",
                "toField": "volume"
            }],
            "dataProvider": chartData,
            "categoryField": "date"
        }],

        "panels": [{
            "showCategoryAxis": false,
            "title": "Value",
            "percentHeight": 70,
            "stockGraphs": [{
                "id": "g1",
                "valueField": "value",
                "type": "smoothedLine",
                "lineThickness": 2,
                "bullet": "round"
            }],


            "stockLegend": {
                "valueTextRegular": " ",
                "markerType": "none"
            }
        }
            , {
            "title": "Volume",
            "percentHeight": 10,
            //"stockGraphs": [{
            //    "valueField": "volume",
            //    "type": "column",
                //"cornerRadiusTop": 2,
            //    "fillAlphas": 1
            //}],

            //"stockLegend": {
            //    "valueTextRegular": " ",
            //    "markerType": "none"
            //}
            }
        ],

        "chartScrollbarSettings": {
            "graph": "g1",
            "usePeriod": "10mm",
            "position": "top"
        },

        "chartCursorSettings": {
            "valueBalloonsEnabled": true

        },

        "periodSelector": {
            "position": "top",
            "dateFormat": "YYYY-MM-DD",
            "inputFieldWidth": 150,
            "periods": [{
                "period": "MM",
                "count": 1,
                "label": "Last Month",
                "selected": true
            },{
                "period": "MAX",
                "label": "MAX"
            }]
        },

        "panelsSettings": {
            "usePrefixes": true
        },

        "export": {
            "enabled": false,
            "position": "bottom-right"
        }

        
    });

    loadCSV();



</script>

<center>

    <div id="chartdiv"></div>

</center>