﻿@using resShared = ECFBase.Resources.OneForAll.OneForAll; 
@using ECFBase.Models
@model PaginationMobileAgent



<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
        &times;
    </button>
    <h4 class="modal-title">
        <center>
            @resShared.mnuGenerateTopUp
        </center>
    </h4>
</div>
<div id="ModalBody" class="modal-body">
    @Html.HiddenFor(M => M.PinID, new { id = "ID" })
    <div class="row" align="center">
        <div style="max-width: 400px; text-align: left">
            <div class="form-group">
                <strong>@resShared.lblRequestDate<span style="color: Red">*</span></strong>
                @Html.TextBoxFor(m => @Model.Date, new { @disabled = "disabled", @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row" align="center">
        <div style="max-width: 400px; text-align: left">
            <div class="form-group">
                <strong>@resShared.lblUsername<span style="color: Red">*</span></strong>
                @Html.TextBoxFor(m => @Model.Username, new { @disabled = "disabled", @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row" align="center">
        <div style="max-width: 400px; text-align: left">
            <div class="form-group">
                <strong>@resShared.lblName<span style="color: Red">*</span></strong>
                @Html.TextBoxFor(m => @Model.Name, new { @disabled = "disabled", @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row" align="center">
        <div style="max-width: 400px; text-align: left">
            <div class="form-group">
                <strong>@resShared.lblCountry<span style="color: Red">*</span></strong>
                @Html.TextBoxFor(m => @Model.Country, new { @disabled = "disabled", @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row" align="center">
        <div style="max-width: 400px; text-align: left">
            <div class="form-group">
                <strong>@resShared.lblAmtUSD<span style="color: Red">*</span></strong>
                @Html.TextBoxFor(m => @Model.USDAmount, new { @disabled = "disabled", @id = "USDAmount", @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row" align="center">
        <div style="max-width: 400px; text-align: left">
            <div class="form-group">
                <strong>@resShared.lblLocalAmount<span style="color: Red">*</span></strong>
                @Html.TextBoxFor(m => @Model.LocalAmount, new { @id = "RMAmount", @disabled = "disabled", @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row" align="center">
        <div style="max-width: 400px; text-align: left">
            <div class="form-group">
                <strong>@resShared.lblProvinceName<span style="color: Red">*</span></strong>
                @Html.TextBoxFor(m => @Model.Province, new { @class = "form-control", @disabled = "disabled" })
            </div>
        </div>
    </div>

    <div class="row" align="center">
        <div style="max-width: 400px; text-align: left">
            <div class="form-group">
                <strong>@resShared.lblBank<span style="color: Red">*</span></strong>
                @Html.TextBoxFor(m => @Model.Bank, new { @class = "form-control", @disabled = "disabled" })
            </div>
        </div>
    </div>

    <div class="row" align="center">
        <div style="max-width: 400px; text-align: left">
            <div class="form-group">
                <strong>@resShared.lblBranchName<span style="color: Red">*</span></strong>
                @Html.TextBoxFor(m => @Model.BranchName, new { @class = "form-control", @disabled = "disabled" })
            </div>
        </div>
    </div>

    <div class="row" align="center">
        <div style="max-width: 400px; text-align: left">
            <div class="form-group">
                <strong> Account Holder Name <span style="color: Red">*</span></strong>
                @Html.TextBoxFor(m => @Model.AccountHolerName, new { @class = "form-control", @disabled = "disabled" })
            </div>
        </div>
    </div>

    <div class="row" align="center">
        <div style="max-width: 400px; text-align: left">
            <div class="form-group">
                <strong>@resShared.lblAccNo<span style="color: Red">*</span></strong>
                @Html.TextBoxFor(m => @Model.AccountNumber, new { @class = "form-control", @disabled = "disabled" })
            </div>
        </div>
    </div>

    <div class="row" align="center">
        <div style="max-width: 400px; text-align: left">
            <div class="form-group">
                <strong>@resShared.lblRemark<span style="color: Red">*</span></strong>
                @Html.TextBoxFor(m => @Model.Remark, new { @class = "form-control", @disabled = "disabled" })
            </div>
        </div>
    </div>

    <div class="row" align="center">
        <div style="max-width: 400px; text-align: left">
            <div class="form-group">
                <strong>@resShared.lblStatus<span style="color: Red">*</span></strong>
                @Html.TextBoxFor(m => @Model.Status, new { @class = "form-control", @disabled = "disabled" })
            </div>
        </div>
    </div>

    <div class="row" align="center">
        <div style="max-width: 400px; text-align: left">
            <div class="form-group">
                <strong>@resShared.lblApprovedBy<span style="color: Red">*</span></strong>
                @Html.TextBoxFor(m => @Model.ApproveBy, new { @class = "form-control", @disabled = "disabled" })
            </div>
        </div>
    </div>

    <div class="row" align="center">
        <div style="max-width: 400px; text-align: left">
            <div class="form-group">
                <strong>@resShared.lblApprovedOn<span style="color: Red">*</span></strong>
                @Html.TextBoxFor(m => @Model.ApproveOn, new { @class = "form-control", @disabled = "disabled" })
            </div>
        </div>
    </div>


    <div class="row" align="center">
        <div style="max-width: 400px; text-align: left">
            <div class="form-group">
                <strong>@resShared.lblImage<span style="color: Red">*</span></strong>
            </div>
        </div>
    </div>
    <div class="row" align="center">
        <div style="max-width: 400px; text-align: left">
            <div class="form-group">
                <a href="@Html.DisplayFor(m => m.ImagePath)" target="_blank">
                    <img alt="" height="400" width="400" onerror="onError(this)" src="@Html.DisplayFor(m => m.ImagePath, new { @class = "form-control" })" />
                </a>
            </div>
        </div>
    </div>
</div>
