﻿@using ECFBase.Models
@model PaginationMobileAgent
@using resAdminHome = ECFBase.Resources.OneForAll.OneForAll;
@using resShared = ECFBase.Resources.OneForAll.OneForAll;
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


<script type="text/javascript">
    function Verify(ID) {
            $.ajax({
                type: "POST",
                url: "/AdminWallet/VeryfyPurchaseRP",
                data: { ID: ID },
                success: function (data) {
                    $("#ModalBody").html(data);
                    $("#myModal").modal();

                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $("#ajaxloading").dialog("close");
                }
            });
    };


    function Generate(ID) {
        $.ajax({
            type: "POST",
            url: "/AdminWallet/GeneratePurchaseRP",
            data: { ID: ID },
            success: function (data) {
                $("#ModalBody2").html(data);
                $("#myModal2").modal();

            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $("#ajaxloading").dialog("close");
            }
        });
    };

    $("#OkApproveBtn").click(function (evt) {
        var ID = $(document.getElementById("ID")).val();
        var AdminRemark = $(document.getElementById("AdminRemark")).val();

        ID = ID + "," + AdminRemark;

        Approve(ID);
        $("[class *= 'modal-backdrop']").hide();
    });

    function Approve(ID) {

        var splits = ID.split(",");
        var IDID = splits[0]; // output: this
        var Remark = splits[1]; // output: this

        if (confirm("@resShared.warningSureWantToApprove")) {
            $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/AdminWallet/ApprovePurchaseRP",
                data: { ID: IDID , AdminRemark : Remark},
                success: function (data) {
                    //alert("@resAdminHome.msgSaveSuccessfully");
                    window.location.href = "/Admin/Home";
                    $('#Loading').hide();
                     //$("#main-content").html(data);
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        } else {
            // Do nothing!
        }

    };

    $("#okRejectBtn").click(function (evt) {
        var ID = $(document.getElementById("ID")).val();
        var AdminRemark = $(document.getElementById("AdminRemark")).val();

        ID = ID + "," + AdminRemark;
        Reject(ID);
        $("[class *= 'modal-backdrop']").hide();
    });

    function Reject(ID) {
        var splits = ID.split(",");
        var IDID = splits[0]; // output: this
        var Remark = splits[1]; // output: this

        if (confirm("@resShared.warningSureWantToReject")) {
            $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/AdminWallet/RejectPurchaseRP",
                data: { ID: IDID, AdminRemark: Remark },
                success: function (data) {
                    //alert("@resAdminHome.msgSaveSuccessfully");
                    window.location.href = "/Admin/Home";
                    $('#Loading').hide();
                    //$("#main-content").html(data);
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        } else {
            // Do nothing!
        }

    };

    $("#okConfirmBtn").click(function (evt) {
        var ID = $(document.getElementById("ID")).val();
        Confirm(ID);
        $("[class *= 'modal-backdrop']").hide();
    });

    function Confirm(ID) {
        if (confirm("@resAdminHome.warningSureWantToGenerate")) {
            $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/AdminWallet/GenerateRP",
                data: { ID: ID },
                success: function (data) {
                     @*alert("@resAdminHome.msgSaveSuccessfully");*@
                    window.location.href = "/Admin/Home";
                    $('#Loading').hide();
                    //$("#main-content").html(data);
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        } else {
            // Do nothing!
        }

    };

    $("#btnPage").click(function (evt) {
        $('#Loading').show();
        var e = document.getElementById("page")
        var page = e.options[e.selectedIndex].value;
        $.ajax({
            type: "POST",
            url: "/AdminWallet/PurchaseRP",
            data: { selectedPage: page },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });

</script>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div id="ModalBody">
            </div>
            <div class="modal-footer">
                <button type="button" id="OkApproveBtn" class="btn btn-info" data-dismiss="modal"
                        style="width: 100px;" aria-hidden="true">
                    @resAdminHome.btnApprove
                </button>
                <button type="button" id="okRejectBtn" class="btn btn-info" data-dismiss="modal"
                        style="width: 100px;" aria-hidden="true">
                    @resAdminHome.btnReject
                </button>
                <button type="button" id="CancelConfirmBtn" class="btn btn-info" data-dismiss="modal"
                        style="width: 100px; padding-left: 10px" aria-hidden="true">
                    @resAdminHome.btnCancel
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div id="ModalBody2">
            </div>
            <div class="modal-footer">
                <button type="button" id="okConfirmBtn" class="btn btn-info" data-dismiss="modal"
                        style="width: 100px;" aria-hidden="true">
                    @resAdminHome.lblConfirm
                </button>
                <button type="button" id="CancelConfirmBtn2" class="btn btn-info" data-dismiss="modal"
                        style="width: 100px; padding-left: 10px" aria-hidden="true">
                    @resAdminHome.btnCancel
                </button>
            </div>
        </div>
    </div>
</div>

<body>
    <div>
        <div class="row">
            <div class="col-lg-12">
                <h2 style="padding-left:10px;">@resShared.lblTopUpRequest</h2>
                <!-- Begin breadcrumb -->
                <ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
                    <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                    <li><a href="#">@resShared.lblWallet</a></li>
                    <li><a href="#">@resShared.mnuUtility</a></li>
                    <li class="active"><a href="#" onclick="dummy(0);return false;">@resShared.mnuMobileRequestTopUp</a></li>
                </ol>
                <h1 class="page-sub-header"></h1>
            </div>
        </div>
        <div class="table-responsive">
            <table id="tablestyle" class="table table-bordered table-hover table-striped">
                <thead>
                    <tr style="background-color: #080808;">
                        <th style="text-align: center; color: White">
                            @resAdminHome.lblDate
                        </th>
                        <th style="text-align: center; color: White">
                            @resAdminHome.lblReference
                        </th>
                        <th style="text-align: center; color: White">
                            @resAdminHome.lblUsername
                        </th>
                        <th style="text-align: center; color: White">
                            @resAdminHome.lblFullname
                        </th>
                        <th style="text-align: center; color: White">
                            @resAdminHome.lblTopUpFor
                        </th>
                        <th style="text-align: center; color: White">
                            @resAdminHome.mnuCurrency
                        </th>
                        <th style="text-align: center; color: White">
                            @resAdminHome.lblLocalAmount
                        </th>
                        <th style="text-align: center; color: White">
                            @resAdminHome.lblAmountUSD
                        </th>
                        <th style="text-align: center; color: White">
                            @resAdminHome.lblProvinceName
                        </th>
                        <th style="text-align: center; color: White">
                            @resAdminHome.lblBank
                        </th>
                        <th style="text-align: center; color: White">
                            @resAdminHome.lblBranchName
                        </th>
                        <th style="text-align: center; color: White">
                            Account Holder Name
                        </th>
                        <th style="text-align: center; color: White">
                            Account Number
                        </th>
                        <th style="text-align: center; color: White">
                            @resAdminHome.lblRemark
                        </th>
                        <th style="text-align: center; color: White">
                            @resAdminHome.lblAdminRemark
                        </th>
                        <th style="text-align: center; color: White">
                            @resAdminHome.lblVerifiedBy
                        </th>
                        <th style="text-align: center; color: White">
                            @resAdminHome.lblVerifiedOn
                        </th>
                        @*<th style="text-align: center; color: White">
                            @resAdminHome.lblApprovedBy
                        </th>
                        <th style="text-align: center; color: White">
                            @resAdminHome.lblApprovedOn
                        </th>*@
                        <th style="text-align: center; color: White">
                            @resAdminHome.lblAction
                        </th>


                    </tr>
                    @if (Model.MobileTopUpList.Count == 0)
                    {
                        <tr style="height: 25px; border-top: 2px solid white;">
                            <td style="padding: 5px;" colspan="10">
                                @resShared.lblNoRecFound
                            </td>
                        </tr>
                    }
                </thead>
                <tbody>
                    @if (Model.MobileTopUpList.Count != 0)
                    {
                        foreach (var item in Model.MobileTopUpList)
                        {
                            <tr>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.Date, "{0:dd/MM/yyyy}")
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.ReferenceOrder)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.MemberID)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.FullName)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.TopUpFor)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.Currency)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.LocalAmount)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.Amount)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.Province)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.Bank)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.BranchName)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.AccHolderName)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.AccNo)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.Remark)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.AdminRemark)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.VerifyBy)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.VerifyOn, "{0:dd/MM/yyyy}")
                                </td>
                                @*<td align="center">
                                    @Html.DisplayFor(modelItem => item.ApprovedBy)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.ApprovedOn, "{0:dd/MM/yyyy}")
                                </td>*@
                                <td align="center">
                                    <center>
                                        @if (item.Status == "Pending")
                                        {
                                            <button id="btnNext" type="button" class="btn btn-primary" style="width: 100px;" onclick="Verify('@item.PinID')">
                                                @resAdminHome.lblVerify
                                            </button>
                                        }
                                        else if (item.Status == "Approve")
                                        {
                                            <button id="btnNext" type="button" class="btn btn-primary" style="width: 100px;" onclick="Generate('@item.PinID')">
                                                @resAdminHome.btnGenerate
                                            </button>
                                        }
                                    </center>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <table width="auto" style="text-align:right; margin-right:0px; margin-left:auto;">
                <tr>
                    <td style="text-align: right">
                        <div class="BtnClass" style="float: right;">
                            @Html.DropDownList("page", @Model.Pages, new { @class = "form-control", style = "width:80px;" })

                        </div>
                    </td>
                    <td>
                        <button id="btnPage" type="button" class="btn btn-sm btn-success" style="width: 100px">@resShared.btnView</button>
                    </td>
                </tr>
            </table>
        </div>

    </div>
</body>
<script type="text/javascript">
    window.scrollTo = function (x, y) {
        return true;
    }
</script>