﻿@using ECFBase.Models
@model PaginationDailyWalletLogSummary 
@using resShared = ECFBase.Resources.OneForAll.OneForAll; 

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $("#btnSearch").click(function (evt) {
        $('#Loading').show();

        var selectedMonth = $("#SelectedMonth :selected").text();
        var selectedYear = $("#SelectedYear :selected").text();
        var type = '@ViewBag.Type';

        $.ajax({
            type: "POST",
            url: "/AdminWallet/ViewTopUpLog",
            data: { type: type, selectedPage: -1, month: selectedMonth, year: selectedYear },
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });

</script>

<div class="row">
    <div class="col-lg-12">
         <h2 style="padding-left:10px;">@ViewBag.Title</h2>
        <!-- Begin breadcrumb -->
				<ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
					<li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
					<li><a href="#">@resShared.lblWallet</a></li>
					<li><a href="#">@resShared.lblUtility</a></li>
					<li class="active"><a href="#" onclick="dummy(0);return false;">@ViewBag.Title</a></li>
				</ol>
		<!-- End breadcrumb --> 
        <h1 class="page-sub-header"></h1>
    </div>
</div>

<div>
    <div class="grid" style="margin-left: 5px;" id="grid">
            <div align="center">
                <div class="grid">
                    <table width="100%" class="test">
                        <tr>
                            <td style="text-align:right; padding-left:60px">
                               @Html.Label(@resShared.lblMonth)
                            </td>
                            <td style="padding-left:10px; width:100px">
                                @Html.DropDownListFor(m => m.SelectedMonth, @Model.Months, new { style = "width:150px; height:30px", @class = "form-control" })
                            </td>
                        </tr>
                        <tr>
                             <td style="text-align:right;padding-top:5px;">  
                                @Html.Label(@resShared.lblYear)
                            </td>
                            <td style="padding-left:10px; width:100px;padding-top:5px;">  
                                @Html.DropDownListFor(m => m.SelectedYear, @Model.Years, new { style = "width:150px; height:30px", @class = "form-control" })
                            </td>
                            <td style="padding-left:10px;padding-top:5px; ">                                
                                 <button id="btnSearch" type="button" style="width:150px" class="btn btn-sm btn-success">@resShared.btnFilter</button>
                              </td>
                       </tr>
                    </table>
                    <div class="table-responsive">
                    <table id="tablestyle" class="table table-bordered table-hover table-striped" >
                        <thead>
                            <tr style="background-color: #414558;">
                                <th style="text-align:center;color:White">
                                    @resShared.lblDate
                                </th>
                                @*<th style="text-align:center">
                                    @resShared.lblBonus
                                </th>*@
                                <th style="text-align:center;color:White">
                                    @resShared.lblTopUp
                                </th>
                              @* <th style="text-align:center">
                                    @resShared.lblPVWallet
                                </th>
                                <th style="text-align:center">
                                    @resShared.lblWithdrawal
                                </th>  *@   
                           </tr>
                        </thead>
                        <tbody>
                        @if (Model.WalletLogSummaryList.Count == 0)
                        {
                            <tr style="height: 25px; border-top: 2px solid white;">
                            <td style="padding: 5px;" colspan="10">
                                @resShared.lblNoRecFound
                            </td>
                        </tr>
                        }
                        @foreach (var item in Model.WalletLogSummaryList)
                        {
                            <tr style="height: 25px; border-top: 2px solid white;">
                        <td>
                            @Html.DisplayFor(modelItem => item.DateTime)
                        </td>
                       @* <td>
                            @Html.DisplayFor(modelItem => item.Bonus)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.TopUp)
                        </td>
                     @*   <td>
                            @Html.DisplayFor(modelItem => item.PVWallet)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Withdrawal)
                        </td>     *@                
                    </tr>
                        }
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
    </div>
</div>