﻿@using ECFBase.Models
@model PaginationDailyWalletLogSummary 
@using resShared = ECFBase.Resources.OneForAll.OneForAll;


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#btnSearch").click(function (evt) {

            var months = document.getElementById("Months");
            var selectedMonth = months.options[months.selectedIndex].value;

            var years = document.getElementById("Years");
            var selectedYear = years.options[years.selectedIndex].value;

            $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/AdminWallet/ViewDailyBonusWalletSummary",
                data: { selectedPage: -1, month: selectedMonth, year: selectedYear },
                success: function (data) {
                    $("#main-content").html(data);
                   $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                   $('#Loading').hide();
                }
            });
        });
    });

</script>
<div style="height: 30px;padding-left:20px;text-align:left">
    <h3>@resShared.lblWallet >> @resShared.lblReports >> @resShared.mnuDailyBonusSummary </h3>
</div>
<br />
    <div align="center">
        <div class="grid" style="margin-left: 5px;" id="grid">
            @Html.Label(@resShared.lblMonth, new { style = "color:Black;float:left;width:50px" })
            @Html.DropDownListFor(m => m.SelectedMonth, @Model.Months, new { style = "float:left;width:180px" })
            &nbsp;&nbsp;
            @Html.Label(@resShared.lblYear, new { style = "color:Black;float:left;width:50px" })
            @Html.DropDownListFor(m => m.SelectedYear, @Model.Years, new { style = "float:left;width:180px" })
            <input id="btnSearch" value="@resShared.btnFilter" class="button" style="float:right" />
            <br />
            <table id="tablestyle" style="width: 100%">
                <thead>
                    <tr style="height: 25px; background-color: #f1f1f1; border-top: 2px solid white;">
                          <th style="padding: 5px; width: 15%">
                                @resShared.lblDate
                            </th>
                            <th>
                                @resShared.lblBonus
                            </th>
                            <th>
                                @resShared.lblTransfer
                            </th>
                            <th>
                                @resShared.lblPVWallet
                            </th>
                            <th>
                                @resShared.lblWithdrawal
                            </th>     
                    </tr>
                </thead>
               <tbody>
                    @if (Model.WalletLogSummaryList.Count == 0)
                    {
                        <tr style="height: 25px; border-top: 2px solid white;">
                            <td style="padding: 5px;" colspan="10">
                                @resShared.lblNoRecFound
                            </td>
                        </tr>
                    }
                    @foreach (var item in Model.WalletLogSummaryList)
                    {
                    <tr style="height: 25px; border-top: 2px solid white;">
                        <td>
                            @Html.DisplayFor(modelItem => item.DateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bonus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Transfer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PVWallet)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Withdrawal)
                        </td>                     
                    </tr>
                    }
                    </tbody>
            </table>          
        </div>
    </div>