﻿@using resShared = ECFBase.Resources.OneForAll.OneForAll;
@using ECFBase.Models
@model PaginationWalletLogModel

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $(document).ready(function () {

        function stopRKey(evt) {
            var evt = (evt) ? evt : ((event) ? event : null);
            var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
            if ((evt.keyCode == 13) && (node.type == "text")) { return false; }
        }
        document.onkeypress = stopRKey;


    });


    $("#btnPage").click(function (evt) {
        $('#Loading').show();
            var e = document.getElementById("page")
            var page = e.options[e.selectedIndex].value;

            $.ajax({
                type: "POST",
                url: "/AdminWallet/WithdrawalCashLog",
                data: { selectedPage: page },
                success: function (data) {
                    $("#main-content").html(data);
                   $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                   $('#Loading').hide();
                }
            });
        });

    $("#WithdrawalCashLog").click(function (evt) {
           $('#Loading').show();

            var e = document.getElementById("page")
            if (e == null) {
                var page = 1;
            }
            else {
                var page = e.options[e.selectedIndex].value;
            }
            $.ajax({
                type: "POST",
                url: "/AdminWallet/WithdrawalCashLog",
                data: { selectedPage: page, Username: $('#searchName').val() },
                success: function (data) {
                    $("#main-content").html(data);
                   $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                   $('#Loading').hide();
                }
            });
        });    
</script>

<div class="row">
    <div class="col-lg-12">
         <h2 style="padding-left:10px;">@resShared.mnuCPWithdrawalLog</h2>
    <!-- Begin breadcrumb -->
				<ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
					<li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
					<li><a href="#">@resShared.mnuWallet</a></li>
					<li><a href="#">@resShared.mnuReports</a></li>
					<li class="active"><a href="#" onclick="dummy(0);return false;">@resShared.mnuCPWithdrawalLog</a></li>
				</ol>
		<!-- End breadcrumb -->
        <h1 class="page-sub-header"></h1>
    </div>
</div>

@{ Html.EnableClientValidation(true); }
@using (Html.BeginForm("WithdrawBonus", "AdminWallet", FormMethod.Post, new { name = "MemberDiv", id = "MemberDiv" })) //this id very important to do HttpPost
{
    //display Model's errors
    @Html.ValidationSummary(true)
    <div>
    <div class="grid" style="margin-left: 5px;" id="grid">
     <div class="grid">
         <div class="row">
             <div class="col-xs-12" style="padding-bottom:10px; padding-left:0">
                 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:right">
                     @resShared.lblUsername:
                 </div>
                 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding:0">
                     <input type="text" class="form-control" id="searchName" />
                 </div>
                 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                     <button id="btnSearchByName" type="button" class="btn btn-sm btn-success" style="width:100px">@resShared.btnSearch</button>
                 </div>
             </div>
         </div>
      @*<table width="100%" class="test">
        <tr>
            <td style="text-align:right">
                <label>@resShared.lblUsername:</label>
             </td>
             <td style="padding-left:10px; width:200px">
                <input type="text" class="form-control" id="searchName" />
            </td>
            <td style="padding-left:10px">
                <button id="btnSearchByName" type="button" class="btn btn-sm btn-success" style="width:100px">@resShared.btnSearch</button>
            </td>
         </tr>
    </table>*@
    <br />
    <div class="table-responsive">
        <table id="tablestyle" class="table table-bordered table-hover table-striped" >
            <thead>
                <tr style="background-color: #414558;">
                    <th style="text-align:center;color:White">
                        @resShared.lblNumber
                    </th>
                    <th style="text-align:center;color:White">
                        @resShared.lblUsername
                    </th>
                    <th style="text-align:center;color:White">
                        @resShared.lblWithdrawAmt
                    </th>
                    <th style="text-align:center;color:White">
                        @resShared.lblCountry
                    </th>
                    <th style="text-align:center;color:White">
                        @resShared.lblBank
                    </th>

                    <th style="text-align:center;color:White">
                        Branch Name
                    </th>
                    <th style="text-align:center;color:White">
                        Branch Address
                    </th>

                    <th style="text-align:center;color:White">
                        Branch Swift Code
                    </th>
                    <th style="text-align:center;color:White">
                        @resShared.lblBankAccountNo
                    </th>
                    <th style="text-align:center;color:White">
                        Mailing Address
                    </th>
                    <th style="text-align:center;color:White">
                        @resShared.lblFullname
                    </th>
                    <th style="text-align:center;color:White">
                        @resShared.lblApplyDate
                    </th>
                    <th style="text-align:center;color:White">
                        @resShared.lblApprovedDate
                    </th>
                    <th style="text-align:center;color:White">
                        @resShared.lblStatus
                    </th>
                </tr>
                </thead>
                <tbody>
                    @if (Model.WalletLogList.Count == 0)
                    {
                        <tr style="height: 25px; border-top: 2px solid white;">
                            <td style="padding: 5px;" colspan="10">
                                @resShared.lblNoRecFound
                            </td>
                        </tr>
                    }
                    @foreach (var item in Model.WalletLogList)
                    {
                        <tr style="height: 25px; border-top: 2px solid white;">
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.No)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.Username)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.CashOut)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.CountryName)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.Bank)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.BranchName)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.BranchAdd)
                            </td>

                            <td align="center">
                                @Html.DisplayFor(modelItem => item.BranchSwiftCode)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.AccNo)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.CreatedDate)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.TranState)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.status)
                            </td>

                        </tr>
                    }                 
                </tbody>
            </table>
        </div>
            @if (Model.WalletLogList.Count > 0)
            {
                <table  width="auto" style="text-align:right; margin-right:0px; margin-left:auto;">
                   <tr>
                        <td style="text-align: right">
                            <div class="BtnClass" style="float: right;">
                                @Html.DropDownList("page", @Model.Pages, new { @class = "form-control", style = "width:80px;" })
                        </div>
                        </td>
                        <td style="text-align: right">
                               <button id="btnPage" type="button" class="btn btn-sm btn-success" style="width:100px">@resShared.btnView</button>
                        </td>
                    </tr>
                </table>
            }
        </div>
    </div>
</div>
}
          