﻿@using resShared = ECFBase.Resources.OneForAll.OneForAll;
@using ECFBase.Models
@model PaginationWalletLogModel


<link href="../../Scripts/jquery.ui.dialog.css" rel="stylesheet" type="text/css" />
<link href="../../Scripts/popbox.css" rel="stylesheet" type="text/css" />
<script src="../../Scripts/popbox.min.js" type="text/javascript"></script>
<script src="../../Scripts/popbox.js" type="text/javascript"></script>
<link href="../../Scripts/JQueryUI/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="../../Scripts/JQueryUI/jquery-ui.js" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


<script type="text/javascript">
    $(document).ready(function () {

        function stopRKey(evt) {
            var evt = (evt) ? evt : ((event) ? event : null);
            var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
            if ((evt.keyCode == 13) && (node.type == "text")) { return false; }
        }
        document.onkeypress = stopRKey;


    });

       
    $("#btnPage").click(function (evt) {
        $('#Loading').show();

        var e = document.getElementById("page")
        var page = e.options[e.selectedIndex].value;

        $.ajax({
            type: "POST",
            url: "/AdminWallet/WithdrawCashList",
            data: { selectedPage: page, searchName: '0', selectedCountry: '0'},
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });

   $("#OkApproveBtn").click(function (evt) {
       $('#Loading').show();
        approveWithdrawal();
        $("[class *= 'modal-backdrop']").hide();
    });

    function approveWithdrawal() {
        $.ajax({
            type: "POST",
            url: "/AdminWallet/ApproveWithdrawal",
            data: { ParameterValue: $("#MemberDiv").serialize().toString() },
            success: function (data) {
                alert("@resShared.msgSaveSuccessfully");
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    };


    $("#OkRefundBtn").click(function (evt) {
        refundWithdrawal();
        $("[class *= 'modal-backdrop']").hide();
    });

    function refundWithdrawal() {
        $.ajax({
            type: "POST",
            url: "/AdminWallet/RefundWithdrawal",
            data: { ParameterValue: $("#MemberDiv").serialize().toString() },
            success: function (data) {
                alert("@resShared.msgSaveSuccessfully");
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    };

    $("#btnSearch").click(function (evt) {
        $('#Loading').show();

        //var date = document.getElementById("dateList");
        //var dateString = date.options[date.selectedIndex].value;
        //var state = document.getElementById("stateList");
        //var stateString = state.options[state.selectedIndex].value;
        var country = document.getElementById("countryList");
        var countryString = country.options[country.selectedIndex].value; 
        
        var e = document.getElementById("page")
        if (e == null) {
            var page = 1;
        }
        else {
            var page = e.options[e.selectedIndex].value;
        }
        $.ajax({
            type: "POST",
            url: "/AdminWallet/WithdrawCashList",
            data: { selectedCountry: countryString},
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });

   $("#btnSearchByName").click(function (evt) {
       $('#Loading').show();
        var e = document.getElementById("page")
        if (e == null) {
            var page = 1;
        }
        else {
            var page = e.options[e.selectedIndex].value;
        }
        $.ajax({
            type: "POST",
            url: "/AdminWallet/WithdrawCashList",
            data: { selectedPage: page, searchName: $('#searchName').val() },
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });
</script>


<div class="modal fade" id="confirmRefundDialog" title="message title" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog" style="width: 450px">
        <div class="modal-content" style="text-align: center" align="center">
            <div class="modal-header" style="height: 70px">
                <button type="button" class="close" data-dismiss="modal">
                    ×</button>
                <h4>@resShared.lblConfirmation</h4>
            </div>
            <div class="modal-body">
                @resShared.WarningRefundWithdrawal
            </div>
            <div class="modal-footer">
                <button type="button" id="OkRefundBtn" class="btn btn-info" data-dismiss="modal"
                    style="width: 100px;" aria-hidden="true">@resShared.lblYes</button>
                <button type="button" id="CancelRefundBtn" class="btn btn-info" data-dismiss="modal"
                    style="width: 100px; padding-left: 10px" aria-hidden="true">@resShared.lblNo</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirmApproveDialog" title="message title" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog" style="width: 450px">
        <div class="modal-content" style="text-align: center" align="center">
            <div class="modal-header" style="height: 70px">
                <button type="button" class="close" data-dismiss="modal">
                    ×</button>
                <h4>@resShared.lblConfirmation</h4>
            </div>
            <div class="modal-body">
                @resShared.WarningApproveWithdrawal
            </div>
            <div class="modal-footer">
                <button type="button" id="OkApproveBtn" class="btn btn-primary" data-dismiss="modal"
                    style="width: 100px;" aria-hidden="true">@resShared.lblYes</button>
                <button type="button" id="CancelConfirmBtn" class="btn btn-primary" data-dismiss="modal"
                    style="width: 100px; padding-left: 10px" aria-hidden="true">@resShared.lblNo</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
         <h2 style="padding-left:10px;">@resShared.mnuCashWithdrawalList</h2>
    <!-- Begin breadcrumb -->
				<ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
					<li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
					<li><a href="#">@resShared.lblWallet</a></li>
					<li><a href="#">@resShared.lblUtility</a></li>
					<li class="active"><a href="#" onclick="dummy(0);return false;">@resShared.mnuCashWithdrawalList</a></li>
				</ol>
		<!-- End breadcrumb -->
        <h1 class="page-sub-header">
        </h1>
    </div>
</div>
@*@{ Html.EnableClientValidation(true); }*@
@using (Html.BeginForm("WithdrawBonus", "AdminWallet", FormMethod.Post, new { name = "MemberDiv", id = "MemberDiv" })) //this id very important to do HttpPost
{
    //display Model's errors
    @Html.ValidationSummary(true)
    <div>
        <div class="grid" style="margin-left: 5px;" id="grid">
            <div align="center">
                <div class="grid">
                    <div class="row">
                        <div class="col-xs-12" style="padding-bottom:10px; padding-left:0">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:right">
                                @resShared.lblUsername:
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding:0">
                                <input type="text" id="searchName" class="form-control" />
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <button id="btnSearchByName" type="button"   style="padding-left:0; padding-right:0; width:100px"  class="btn btn-sm btn-success">@resShared.btnSearch</button>
                            </div>
                        </div>
                        <div class="col-xs-12" style="padding-bottom:10px; padding-left:0">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="text-align:right">
                               
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                @Html.DropDownList("countryList", @Model.Countries, new { style = "width:150px; height:30px", @class = "form-control" })
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <button id="btnSearch" type="button"  style="padding-left:0; padding-right:0; width:100px" class="btn btn-sm btn-success">@resShared.btnFilter</button>
                            </div>
                        </div>
                        <div class="col-xs-12" style="padding-bottom:10px; padding-left:0">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-right:0">
                                <button id="btnApprove" type="button" class="btn btn-sm btn-success" style="width: 180px; background-color:black;color:yellow;"
                                        data-toggle="modal" data-target="#confirmApproveDialog">
                                    @resShared.btnApprove
                                    </button> 
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-left:0">
                                <button id="btnRefund" type="button" class="btn btn-sm btn-success" style="width: 180px; background-color:Maroon;color:white;"
                                        data-toggle="modal" data-target="#confirmRefundDialog">
                                    @resShared.btnRefund
                                    </button>
                            </div>
                        </div>
                        <div>
                            <a href="@Url.Action("ExportWithdrawalList", "AdminWallet", new {})" class="button" target="_blank">Export All</a>


                        </div>
                    </div>

                    @if (Session["EditWithdrawalList"] == "true")
                    { 
                    }
                    <br />
                    <div id="EList" class="table-responsive" >
                        <table id="tablestyle" class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr style="background-color: #414558;">
                                    <th style="text-align: center; color:White">
                                    </th>
                                    <th style="text-align: center; color:White">
                                        @resShared.lblNumber
                                    </th>
                                    <th style="text-align: center; color:White">
                                        @resShared.lblUsername
                                    </th>
                                    <th style="text-align: center; color:White">
                                        @resShared.lblName
                                    </th>
                                    <th style="text-align: center; color:White">
                                        @resShared.lblAmountRD
                                    </th>
                                    <th style="text-align:center; color:White">
                                        @resShared.lblBankCharges
                                    </th>
                                    <th style="text-align:center; color:White">
                                        @resShared.lblNetAmount
                                    </th>
                                    <th style="text-align: center; color:White">
                                        @resShared.lblCountry
                                    </th>
                                    <th style="text-align: center; color:White">
                                        @resShared.mnuBank
                                    </th>
                                    <th style="text-align:center;color:White">
                                        Branch Name
                                    </th>
                                    <th style="text-align:center;color:White">
                                        Branch Address
                                    </th>

                                    <th style="text-align:center;color:White">
                                        Branch Swift Code
                                    </th>
                                    <th style="text-align:center;color:White">
                                        @resShared.lblBankAccountNo
                                    </th>
                                    <th style="text-align:center;color:White">
                                        Mailing Address
                                    </th>
                                    <th style="text-align: center; color:White">
                                        @resShared.lblBeneName
                                    </th>
                                    <th style="text-align: center; color:White">
                                        @resShared.lblCellPhone
                                    </th>
                                    <th style="text-align: center; color:White">
                                        @resShared.lblIC
                                    </th>
                                    <th style="text-align: center; color:White">
                                        @resShared.lblApplyDate
                                    </th>



                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.WalletLogList.Count == 0)
                                {
                                    <tr style="height: 25px; border-top: 2px solid white;">
                                        <td style="padding: 5px;" colspan="14">
                                            @resShared.lblNoRecFound
                                        </td>
                                    </tr>
                                }
                                @foreach (var item in Model.WalletLogList)
                                {
                                   
                                    <tr style="height: 25px; border-top: 2px solid white;">
                                        <td style="padding: 5px;">
                                            @if (item.ShowSubTotal == false)
        {
                                    <div>@Html.CheckBoxFor(modelItem => item.IsChecked, new { @ID = item.ID, @Name = item.ID })</div>
}
                                        </td>
                                        <td align="center">
                                            @Html.DisplayFor(modelItem => item.No)
                                        </td>
                                        <td align="center">
                                            @if (item.ShowSubTotal == false)
        {
                                    @Html.DisplayFor(modelItem => item.Username)
}
else
{
                                    <b>@Html.DisplayFor(modelItem => item.Subtotal)</b>
}
                                        </td>
                                        <td align="center">
                                            @Html.DisplayFor(modelItem => item.FullName)
                                        </td>
                                        <td align="center">
                                            @if (item.ShowSubTotal == false)
        {
                                    @Html.DisplayFor(modelItem => item.CashOut)
}
else
{
                                    <b> @Html.DisplayFor(modelItem => item.TotalAmout)</b>
}
                                        </td>
                                        <td align="center">
                                            @if (item.ShowSubTotal == false)
        {
                                    @Html.DisplayFor(modelItem => item.BankCharges)
}
                                        </td>
                                        <td align="center">
                                            @if (item.ShowSubTotal == false)
        {
                                    @Html.DisplayFor(modelItem => item.NetAmount)
}
                                        </td>
                                        <td align="center" style="width: 10px">
                                            @Html.DisplayFor(modelItem => item.CountryName)
                                        </td>
                                        <td align="center">
                                            @Html.DisplayFor(modelItem => item.Bank)
                                        </td>
                                        <td align="center">
                                            @Html.DisplayFor(modelItem => item.BranchName)
                                        </td>
                                        <td align="center">
                                            @Html.DisplayFor(modelItem => item.BranchAdd)
                                        </td>

                                        <td align="center">
                                            @Html.DisplayFor(modelItem => item.BranchSwiftCode)
                                        </td>
                                        <td align="center">
                                            @Html.DisplayFor(modelItem => item.AccNo)
                                        </td>
                                        <td align="center">
                                            @Html.DisplayFor(modelItem => item.Address)
                                        </td>
                                        <td align="center">
                                            @Html.DisplayFor(modelItem => item.FullName)
                                        </td>
                                        <td align="center">
                                            @Html.DisplayFor(modelItem => item.MobileNumber)
                                        </td>
                                        <td align="center">
                                            @Html.DisplayFor(modelItem => item.IC)
                                        </td>
                                        <td align="center" style="width: 15px">
                                            @Html.DisplayFor(modelItem => item.CreatedDate)
                                        </td>

                                    </tr>                                  
                                }
                                @if (Model.WalletLogList.Count != 0)
                                {
                                    <tr style="height: 25px; border-top: 2px solid white; font-weight: bold">
                                        <td>
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                        </td>
                                        <td>@resShared.lblTotal
                                        </td>
                                        <td>@ViewBag.totalWithdraw
                                        </td>
                                        <td>@ViewBag.totalAdminCharge
                                        </td>
                                        <td>@ViewBag.totalNettWithdraw
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                        </td>
                                         <td>
                                        </td>
                                         
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                @if (Model.WalletLogList.Count > 0)
                {
                    <table width="auto" style="text-align:right; margin-right:0px; margin-left:auto;">
                        <tr>
                            <td style="text-align: right">
                                <div class="BtnClass" style="float: right;">
                                    @Html.DropDownList("page", @Model.Pages, new { @class = "form-control", style = "width:80px;" })
                                </div>
                            </td>
                            <td style="text-align: right">
                                <button id="btnPage" type="button" class="btn btn-sm btn-success" style="width: 100px">@resShared.btnView</button>
                            </td>
                        </tr>
                    </table>
                }
                
                <div id="testing" style="visibility: hidden">

                    <div id="dialog-confirmD2" title="Empty the recycle bin?"   >
                         <textarea id ="ContentText" rows="4" cols="50">
                        </textarea> 
                    </div>

                </div>
            </div>
        </div>

        
    </div>
}
              