﻿@using resShared = ECFBase.Resources.OneForAll.OneForAll;
@using ECFBase.Models
@model InvoiceModel

<div>
    <div align="center">
        <div>
            <table style="width:90%">
                <tr>
                    <td>
                        <img src="/Images/Logo.png" border="0" alt="" style="position:inherit; width:300px;min-height:150px; " />
                    </td>
                    <td>
                        <table style="height:150px; font-size: 20px">
                            <tr>
                                <td>
                                    <strong>亿康连锁</strong>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>地址：</strong>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>电话:  0769-85726688        传真：0769-86726688</strong>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>邮箱地址：sales@yicommm.com</strong>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            
            <table style="width: 90%">
                <tr>
                    <td style="border:1px solid maroon; border-width: 5px; width:inherit;">
                        <table>
                            <tr>
                                <td>
                                    @resShared.lblUsername:
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => @Model.Username, new { @readonly = "readonly" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @resShared.lblCellPhone:
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => @Model.CellPhone, new { @readonly = "readonly" })
                                </td>
                                <td>
                                     @resShared.lblPhone:
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => @Model.Phone, new { @readonly = "readonly" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @resShared.lblAddress:
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => @Model.ShipAddress, new { @readonly = "readonly" })
                                    <div>@Html.TextBoxFor(m => @Model.ShipAddress1, new { @readonly = "readonly" })</div>
                                    <div>@Html.TextBoxFor(m => @Model.ShipAddress2, new { @readonly = "readonly" })</div>
                                    <div>@Html.TextBoxFor(m => @Model.ShipAddress3, new { @readonly = "readonly" })</div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td style="border:1px solid maroon; border-width: 5px">
                        <table style="margin-left: 20px">
                            <tr>
                                <td>
                                     @resShared.lblInvoiceNo:
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => @Model.InvoiceNo, new { @readonly = "readonly" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                   @resShared.lblDate:
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => @Model.Date, new { @readonly = "readonly" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                     @resShared.lblSalesPerson:
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => @Model.IntroPerson, new { @readonly = "readonly" })
                                </td>
                            </tr>
                        </table>
                    </td>               
                </tr>
            </table>
            <br/>
            <table id="tablestyle" style="width: 90%">
                <thead>
                    <tr style="height: 25px; background-color: #f1f1f1; border-top: 2px solid white;">
                        <th style="width:30px">
                            @resShared.lblNumber
                        </th>
                        <th style="width:90px;">
                             @resShared.lblDescription
                        </th>
                        <th style="width:140px">
                             @resShared.lblQty
                        </th>
                        <th style="width:130px">
                            @resShared.lblPrice
                        </th>
                        <th style="width:90px">
                            @resShared.lblAmount
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td align="center" style="text-align: center">
                            @Html.DisplayFor(modelItem => modelItem.RowNumber)
                        </td>
                        <td align="center" style="text-align: center">
                            @Html.DisplayFor(modelItem => modelItem.PackageDescription)
                        </td>
                        <td align="center" style="text-align: center">
                            @Html.DisplayFor(modelItem => modelItem.PackageQuantity)
                        </td>
                        <td align="center" style="text-align: center">
                            @Html.DisplayFor(modelItem => modelItem.Investment)
                        </td>
                        <td align="center" style="text-align: center">
                            @Html.DisplayFor(modelItem => modelItem.TotalAmount)
                        </td>
                    </tr> 
                    <tr>
                        <td colspan="4" style="text-align:right; font-weight:bold">
                            @resShared.lblTotalAmount:
                        </td>
                        <td style="text-align: center; font-weight:bold">
                            @Html.DisplayFor(modelItem => modelItem.TotalAmount)
                        </td>
                    </tr>
                </tbody>
            </table>
            <br/>
            <table id="tablestyle" style="width: 90%">
                <tr>
                    <td style="text-align: left">
                        @resShared.lblTotalAmount (@resShared.lblUppercase):
                    </td>
                    <td style="text-align:center;">
                        @*@Html.DisplayFor(modelItem => modelItem.UiModel.TotalAmount)*@
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left">
                        @resShared.lblPaymentmode1
                    </td>
                    <td style="text-align:center;">
                        @*@Html.DisplayFor(modelItem => modelItem.UiModel.Payment)*@
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left">
                        @resShared.lblRemark
                    </td>
                    <td style="text-align:center;">
                        @*@Html.DisplayFor(modelItem => modelItem.UiModel.Remark)*@
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center; font-weight:bold">
                        @resShared.lblCompBankInfo
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left">
                        @resShared.lblBeneName
                    </td>
                    <td style="text-align:center;">
                        @*@Html.DisplayFor(modelItem => modelItem.UiModel.Beneficiary)*@
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left">
                        @resShared.lblBankName
                    </td>
                    <td style="text-align:center;">
                        @*@Html.DisplayFor(modelItem => modelItem.UiModel.BankName)*@
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left">
                        @resShared.lblBranchName
                    </td>
                    <td style="text-align:center;">
                        @*@Html.DisplayFor(modelItem => modelItem.UiModel.BankBranch)*@
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left">
                        @resShared.lblBankAccountNo
                    </td>
                    <td style="text-align:center;">
                        @*@Html.DisplayFor(modelItem => modelItem.UiModel.BankAccount)*@
                    </td>
                </tr>
            </table>
            <br/>
            <br/>
            <br/>
            <div style="text-align: left; width: 90%">
                @resShared.lblSignature,
            </div>
            <br/>
            <br/>
        </div>
    </div>
</div>
