﻿@using resShared = ECFBase.Resources.OneForAll.OneForAll;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@resShared.lblYiCommm</title>
    <link href="~/Content/MainPageMemberLoginUI/css/style.css" rel="stylesheet" />
    <link href="~/Content/MainPageMemberLoginUI/css/animate.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/MainPageMemberLoginUI/css/font-awesome.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/MainPageMemberLoginUI/css/iosOverlay.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/MainPageMemberLoginUI/css/animated-notifications.css" rel='stylesheet' type='text/css' />
    <script src="~/Content/MainPageMemberLoginUI/js/jquery-1.11.0.min.js"></script>
    <script src="~/Content/MainPageMemberLoginUI/js/jquery.ui.core.js"></script>
    <script src="~/Content/MainPageMemberLoginUI/js/spin.min.js"></script>
    <script src="~/Content/MainPageMemberLoginUI/js/iosOverlay.js"></script>
    <link href="~/Content/MainPageMemberLoginUI/css/bootstrap.min.css" rel="stylesheet" />


    @*<script type="application/x-javascript">*@
    <script type="text/javascript">

        @*if ('@ViewBag.ReloadPage' == 'Y') {
            location.href = "/Admin/AdminLogin";
        }*@
        
        if ('@ViewBag.ReloadPage' == 'Yes') {

            if ('@ViewBag.ReloadPage' == 'Yes') {
                alert("Session Expired");
                window.location = '@Url.Action("AdminLogin", "Admin")';
            }
            else {
                window.location = '@Url.Action("AdminLogin", "Admin")';
            }


        }

        addEventListener("load", function () { setTimeout(hideURLbar, 0); }, false); function hideURLbar() { window.scrollTo(0, 1); }

    $(document).ready(function () {

        $(function () {
            $("input[type=text]").first().focus();
        });
        $("#errorDIV").hide();
        $("#txtUserName").focus();

         function login() {
            $.ajax({
                type: "POST",
                url: "/AdminLogin/ValidateLogin",
                data: { userName: $('#txtUserName').val(), password: $('#txtPassword').val(), captcha: $('#txtCaptcha').val() },
                success: function (data) {
                    if (data.Status != null && data.Status == '-1') {
                        if (confirm(data.Message)) {
                            overwrite = 'true';
                            login();
                        }
                    }
                    else {
                        overwrite = 'false';
                        window.location.href = "/Admin/Home";
                    }

                    isPressed = false;
                },
                error: function (xhr, status, error) {
                    isPressed = false;
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert('@resShared.msgInvalidLogin');
                    window.location.href = "/Admin/AdminLogin";
                }
            });
        }


        $("#btnAdminLogin").click(function (evt) {
            login();
        });

        $("#txtUserName").keypress(function (e) {
            //$('#Loading').show();
            //code = (e.keyCode ? e.keyCode : e.which);
            //if (code == 13)
            //    login();
            //isPressed = true;
            if (!isPressed) {
                login();
            }
        });

        $("#txtPassword").keypress(function (e) {
            //$('#Loading').show();
            //code = (e.keyCode ? e.keyCode : e.which);
            //if (code == 13)
            //    login();
            //isPressed = true;
            if (!isPressed) {
                login();
            }
        });

        $("#txtCaptcha").keypress(function (e) {
            //$('#Loading').show();
            //code = (e.keyCode ? e.keyCode : e.which);
            //if (code == 13)
            //    login();
            //isPressed = true;
            if (!isPressed) {
                login();
            }
        });

        $("#LanEn").click(function (evt) {
            $.ajax({
                type: "POST",
                url: "/Admin/ChangeLanguage",
                data: { languageCode: 'en-US' },
                success: function (data) {
                    //refresh page.
                    location.reload();
                },
                error: function (xhr, status, error) {
                    //refresh page.
                    location.reload();
                }
            });
        });

        $("#LanCH").click(function (evt) {
            $.ajax({
                type: "POST",
                url: "/Admin/ChangeLanguage",
                data: { languageCode: 'zh-cn' },
                success: function (data) {
                    //refresh page.
                    location.reload();
                },
                error: function (xhr, status, error) {
                    //refresh page.
                    location.reload();
                }
            });
        });

        $("#LanCH2").click(function (evt) {
            $.ajax({
                type: "POST",
                url: "/Admin/ChangeLanguage",
                data: { languageCode: 'zh-tw' },
                success: function (data) {
                    //refresh page.
                    location.reload();
                },
                error: function (xhr, status, error) {
                    //refresh page.
                    location.reload();
                }
            });
        });
    });

    </script>
</head>
<body>
    <div class="main" id="BoxContent">

        <div class="logo">
            <img alt="logo" src="@ViewBag.Logo" width="150" />
        </div>
        <form>
            <div class="inset">
                <div class="language_section" style="padding-top:170px">
                    <ul>
                        <li id="lanEN"><a style="color:#EEBA30">English</a></li>
                        <li id="lanCN"><a style="color:#EEBA30">中文</a></li>
                    </ul>
                </div>
                <h1>@resShared.lblAdminLogin</h1>

                <div style="padding:0 15px;">
                    <input id="txtUserName" name="login.userId" type="text" class="form-control" placeholder="@resShared.lblAdminID" required />
                </div>
                <div style="padding:0 15px;">
                    <input id="txtPassword" name="login.password" class="form-control" type="password" placeholder="@resShared.lblPassword" required />
                </div>

                <div style="padding:0 15px;">
                    <img alt="Captcha" id="captchaimg" height="50px" width="120px;" class="pull-right" style="bottom:70px; right:50px;position:absolute" src="@Url.Action("../AdminLogin/CaptchaImage")" />
                    <input id="txtCaptcha" type="text" name="_captcha" class="form-control" placeholder=@resShared.lblCaptchaCode required />
                </div>

                <div style="text-align:center">
                    <input id="btnAdminLogin" type="submit" style="width:90%" value="@resShared.btnLogin">
                </div>
            </div>
            @*<p class="p-container">
                    <span><a id="forgetPassword" href="#"><b><span style="color: white">@resShared.ForgetPassword</span></b></a>

                </p>*@
        </form>
    </div>
    <div class="copy-right">
        <p style="color:Black">
            Copyright 2018 &copy; convexcapital.co.uk. All rights reserved.
        </p>
    </div>
</body>

<script>
    /*
    $('#submit-btn').click(function(e) {
    e.preventDefault(); // don't submit multiple times
    alert("!");
    });
    */

    $('form').submit(function (event) {
        event.preventDefault();
        window.setTimeout(function () {
            overlay.update({
                icon: "",
                text: "Success"
            });
        }, 3e3);

        window.setTimeout(function () {
            $('#Loading').hide();
            notify_msg();

        }, 5e3);

        return false;
    });

    function notify_msg() {
        //Notification
        var notification_msg = "Hello World";
        var notify_box = ('<div id="notifications-top-center" class="notifications-white"><span class="iconb" data-icon="&#xe20e;"></span>' + notification_msg + '<div id="notifications-top-center-close" class="close"><i class="fa fa-close"></span></div></div>');
        $("#notification").html(notify_box);
        $("#notifications-top-center").addClass('animated bounce');
        refresh_close();
    }


    function refresh_close() {
        $('.close').click(function () { $(this).parent().fadeOut(200); });
    }

</script>



</html>
