﻿@using res = ECFBase.Resources.OneForAll.OneForAll;
@using resShared = ECFBase.Resources.OneForAll.OneForAll;
@model ECFBase.Models.UserHomeModel
@using ECFBase.Components;

 <script type="text/javascript">
    if ('@ViewBag.ReloadURL' == 'Y') {
        window.location.href = "/User/Home?register=Y";
    }
 </script>

<table>
    <tr>
        <td>
            Intro: @Model.userIntro
        </td>
    </tr>
    <tr>
        <td>
            New Username: 123
        </td>
    </tr>
</table>