﻿@using res = ECFBase.Resources.OneForAll.OneForAll;
@using resShopCenter = ECFBase.Resources.OneForAll.OneForAll;
@using sharedres = ECFBase.Resources.OneForAll.OneForAll
@using ECFBase.Models
@model MarketTreeModel

<script type="text/javascript">
    var mybutton_counter = 0;

    $(document).on('click', '.grouplist', function () {
        $(".qtip").hide();

        if (mybutton_counter > 0) { return false; } //you can set the number to any
        var topMember = $(this).attr("member");
        $.ajax({
            type: "POST",
            url: "/Member/GroupListing",
            data: { TopMember: topMember },
            success: function (data) {
                $("#grouplist").html(data);
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                overlay.hide();
            }
        });
        mybutton_counter++; //incremental

    });

    $(document).on('click', '.binarychart', function () {
        $(".qtip").hide();

        if (mybutton_counter > 0) { return false; } //you can set the number to any
        var topMember = $(this).attr("member");
        $.ajax({
            type: "POST",
            url: "/Member/GroupChart",
            data: { TopMember: topMember },
            success: function (data) {
                $("#binarychart").html(data);
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                overlay.hide();
            }
        });
        mybutton_counter++; //incremental
    });


    $("#btnPage").click(function (evt) {
        var e = document.getElementById("page")
        var page = e.options[e.selectedIndex].value;
     
        $.ajax({
            type: "POST",
            url: "/Member/GroupListing",
            data: { selectedPage: page},
            success: function (data) {
                $("#grouplist").html(data);
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });

</script>

<div id="accordion_grouplist" class="panel-group accordion">
    <div class="panel">

        <div id="MemberDiv">

            <div class="table-responsive">
                <table id="tablestyle" width="100%" class="table-bordered table-hover">
                    <thead>
                        <tr style="height: 25px; background-color: #414558;">
                            <th style="text-align: center;color:White">
                                @res.lblNumber
                            </th>
                            <th style="text-align: center;color:White">
                                @res.lblUsername
                            </th>
                            <th style="text-align: center;color:White">
                                @res.lblName
                            </th>
                            <th style="text-align: center;color:White">
                                @res.lblUpline
                            </th>
                            <th style="text-align: center;color:White">
                                @res.lblLevel
                            </th>
                            <th style="text-align: center;color:White">
                                @res.lblRanking
                            </th>
                            <th style="text-align: center;color:White">
                                @res.lblDateJoined
                            </th>
                        </tr>
                    </thead>
                    @if (Model.SponsorList.Count == 0)
                    {
                        <tr style="height: 25px; border-top: 2px solid white;">
                            <td style="padding: 5px;" colspan="10">
                                @res.lblNoRecFound
                            </td>
                        </tr>
                    }
                    @foreach (var item in Model.SponsorList)
                    {
                        <tr style="height: 25px; border-top: 2px solid white;">
                            <td style="text-align: center">
                                @Html.DisplayFor(modelItem => item.No)
                            </td>
                            <td style="text-align: center">
                                @Html.DisplayFor(modelItem => item.Username)
                            </td>
                            <td style="text-align: center">
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td style="text-align: center">
                                @Html.DisplayFor(modelItem => item.Upline)
                            </td>
                            <td style="text-align: center">
                                @Html.DisplayFor(modelItem => item.Level)
                            </td>
                            <td style="text-align: center">
                                @Html.DisplayFor(modelItem => item.Rank)
                            </td>
                            <td style="text-align: center">
                                @Html.DisplayFor(modelItem => item.CreatedDate)
                            </td>
                        </tr>
                    }
                </table>
            </div>
            @if (Model.SponsorList.Count != 0)
            {
                <table width="100%">
                    <tr>
                        <td style="text-align: right; padding-top:10px">
                            <div class="BtnClass" style="float: right;">
                                @Html.DropDownList("page", @Model.Pages, new { style = "width:50px;" })
                                <button id="btnPage" type="button" class="btn btn-sm btn-success" style="width: 100px;margin-right:10px;">@res.btnView</button>
                            </div>
                        </td>
                    </tr>
                </table>
            }
        </div>
    </div>


</div>