﻿@using resShared = ECFBase.Resources.OneForAll.OneForAll;
<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>@resShared.lblYiCommm</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700italic,700,900,900italic" rel="stylesheet">
    <!-- STYLESHEETS -->
    <style type="text/css">

        [fuse-cloak],
        .fuse-cloak {
            display: none !important;
        }
    </style>
    
    <!-- Icons.css -->
    <link type="text/css" rel="stylesheet" href="~/Content/MaintananceAssets/icons/fuse-icon-font/style.css">
    <!-- Animate.css -->
    <link type="text/css" rel="stylesheet" href="~/Content/MaintananceAssets/node_modules/animate.css/animate.min.css">
    <!-- PNotify -->
    <link type="text/css" rel="stylesheet" href="~/Content/MaintananceAssets/node_modules/pnotify/dist/PNotifyBrightTheme.css">
    <!-- Nvd3 - D3 Charts -->
    <link type="text/css" rel="stylesheet" href="~/Content/MaintananceAssets/node_modules/nvd3/build/nv.d3.min.css" />
    <!-- Perfect Scrollbar -->
    <link type="text/css" rel="stylesheet" href="~/Content/MaintananceAssets/node_modules/perfect-scrollbar/css/perfect-scrollbar.css" />
    <!-- Fuse Html -->
    <link type="text/css" rel="stylesheet" href="~/Content/MaintananceAssets/fuse-html/fuse-html.min.css" />
    <!-- Main CSS -->
    <link type="text/css" rel="stylesheet" href="~/Content/MaintananceAssets/css/main.css">
    <!-- / STYLESHEETS -->
    <!-- JAVASCRIPT -->
    <!-- jQuery -->
    <script type="text/javascript" src="~/Content/MaintananceAssets/node_modules/jquery/dist/jquery.min.js"></script>
    <!-- Mobile Detect -->
    <script type="text/javascript" src="~/Content/MaintananceAssets/node_modules/mobile-detect/mobile-detect.min.js"></script>
    <!-- Perfect Scrollbar -->
    <script type="text/javascript" src="~/Content/MaintananceAssets/node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
    <!-- Popper.js -->
    <script type="text/javascript" src="~/Content/MaintananceAssets/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <!-- Bootstrap -->
    <script type="text/javascript" src="~/Content/MaintananceAssets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Nvd3 - D3 Charts -->
    <script type="text/javascript" src="~/Content/MaintananceAssets/node_modules/d3/d3.min.js"></script>
    <script type="text/javascript" src="~/Content/MaintananceAssets/node_modules/nvd3/build/nv.d3.min.js"></script>
    <!-- Data tables -->
    <script type="text/javascript" src="~/Content/MaintananceAssets/node_modules/datatables.net/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="~/Content/MaintananceAssets/node_modules/datatables-responsive/js/dataTables.responsive.js"></script>
    <!-- PNotify -->
    <script type="text/javascript" src="~/Content/MaintananceAssets/node_modules/pnotify/dist/iife/PNotify.js"></script>
    <script type="text/javascript" src="~/Content/MaintananceAssets/node_modules/pnotify/dist/iife/PNotifyStyleMaterial.js"></script>
    <script type="text/javascript" src="~/Content/MaintananceAssets/node_modules/pnotify/dist/iife/PNotifyButtons.js"></script>
    <script type="text/javascript" src="~/Content/MaintananceAssets/node_modules/pnotify/dist/iife/PNotifyCallbacks.js"></script>
    <script type="text/javascript" src="~/Content/MaintananceAssets/node_modules/pnotify/dist/iife/PNotifyMobile.js"></script>
    <script type="text/javascript" src="~/Content/MaintananceAssets/node_modules/pnotify/dist/iife/PNotifyHistory.js"></script>
    <script type="text/javascript" src="~/Content/MaintananceAssets/node_modules/pnotify/dist/iife/PNotifyDesktop.js"></script>
    <script type="text/javascript" src="~/Content/MaintananceAssets/node_modules/pnotify/dist/iife/PNotifyConfirm.js"></script>
    <script type="text/javascript" src="~/Content/MaintananceAssets/node_modules/pnotify/dist/iife/PNotifyReference.js"></script>
    <!-- Fuse Html -->
    <script type="text/javascript" src="~/Content/MaintananceAssets/fuse-html/fuse-html.min.js"></script>
    <!-- Main JS -->
    <script type="text/javascript" src="~/Content/MaintananceAssets/js/main.js"></script>
    <!-- / JAVASCRIPT -->
    <script type="text/javascript">



             if('@ViewBag.ReloadPage' == 'Yes') {
                alert("Session Expired.");
                window.location = '@Url.Action("MemberLogin","Member")';
            }

        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }

        $(document).ready(function () {

         function countdown(endDate) {
              let days, hours, minutes, seconds;
  
              endDate = new Date("Oct 3, 2018 12:00:00").getTime();
  
              if (isNaN(endDate)) {
	            return;
              }
  
              setInterval(calculate, 1000);
  
              function calculate() {
                let startDate = new Date();
                startDate = startDate.getTime();
    
                let timeRemaining = parseInt((endDate - startDate) / 1000);
    
                if (timeRemaining >= 0) {
                  days = parseInt(timeRemaining / 86400);
                  timeRemaining = (timeRemaining % 86400);
      
                  hours = parseInt(timeRemaining / 3600);
                  timeRemaining = (timeRemaining % 3600);
      
                  minutes = parseInt(timeRemaining / 60);
                  timeRemaining = (timeRemaining % 60);
      
                  seconds = parseInt(timeRemaining);
      
                  document.getElementById("days").innerHTML = parseInt(days, 10);
                  document.getElementById("hours").innerHTML = ("0" + hours).slice(-2);
                  document.getElementById("minutes").innerHTML = ("0" + minutes).slice(-2);
                  document.getElementById("seconds").innerHTML = ("0" + seconds).slice(-2);
                } else {
                  return;
                }
              }
            }

            (function () { 
              countdown("Oct 3, 2018 12:00:00"); 
            }());

        });
    </script>
</head>
<body class="layout layout-vertical layout-left-navigation layout-below-toolbar layout-below-footer">
    <main>
        <div id="wrapper">
            <div class="content-wrapper">
                <div class="content custom-scrollbar">
                    <div id="coming-soon" class="p-4 p-sm-8">
                        <div class="form-wrapper md-elevation-8">
                            <div class="p-4 p-sm-8">
                                <div class="logo" style="width:28rem">
                                    <img alt="logo" src="@ViewBag.Logo" style=" max-width:200px;padding-top:0px" />
                                </div>
                                <div class="title mt-4"><span><strong>Notice</strong></span></div>
                                <div class="subtitle mt-4 mb-8 mx-auto text-muted">
                                    System is now performing system upgrading and will be resume back on 3-October-2018 12:00PM.
                                </div>

                                <div class="title mt-4"><span><strong>通告</strong></span></div>
                                <div class="subtitle mt-4 mb-8 mx-auto text-muted">
                                    系统正在进行升级服务 ，将于2018年10月3日中午12:00重新恢复。
                                </div>
                                <div class="timer row align-items-center justify-content-center mt-12 mb-6">
                                    <div class="col">
                                        <div class="value"> <span id="days"> &nbsp;</span></div>
                                        <div class="type">days</div>
                                    </div>
                                    <div class="col">
                                        <div class="value"><span id="hours"> &nbsp;</span></div>
                                        <div class="type">hours</div>
                                    </div>
                                    <div class="col">
                                        <div class="value"><span id="minutes"> &nbsp;</span></div>
                                        <div class="type">minutes</div>
                                    </div>
                                    <div class="col">
                                        <div class="value"><span id="seconds"> &nbsp;</span></div>
                                        <div class="type">seconds</div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <nav id="footer" class="bg-dark text-auto row no-gutters align-items-center px-6">
                    Copyright 2017-2018 &copy; www.bvi.asia All rights reserved.
                </nav>
            </div>
          
        </div>
    </main>
</body>

</html>