﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Copatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Free coming soon template with jQuery countdown">

    <title>Maintenance</title>

    <!-- Bootstrap -->
    <link href="~/Content/Maintanance Assets/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/Maintanance Assets/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Maintanance Assets/css/font-awesome.css" rel="stylesheet" />

    <!-- siimple style -->
    <link href="~/Content/Maintanance Assets/css/style.css" rel="stylesheet" />
</head>

<body style="height:100%">

    <div align="center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3><img style="height:150px; width:220px;" src="~/Images/Company/BVI4(2).png" /></h3>
                    <h4 class="subtitle" style="color:white">
                        <span style="font-family:SimSun; font-weight: bold">
                            <h1 style="color:white">Notice</h1>
                            System is now performing maintenance and will be resume back on 15-June-2018 12:00PM.
                            <br />
                        </span>
                        <br />
                        <br />
                        <span style="font-family:SimSun; font-weight: bold">                            
                            <h1 style="color:white">通告</h1>
                            系统正在进行维护，将于2018年6月15日中午12:00重新恢复。

                            <br />
                        </span>
                    </h4>
                    <!--<div id="countdown" style="color:#dcb95a"></div>-->

                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <p class="copyright">Copyright 2017@bvi.asia. All rights reserved.</p>
                    <div class="credits">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.countdown.min.js"></script>
    <script type="text/javascript">
        $('#countdown').countdown('2018/02/8 3:00:00', function (event) {
            $(this).html(event.strftime('%w weeks %d days <br /> %H:%M:%S'));
        });
    </script>

    <script src="contactform/contactform.js"></script>

</body>

</html>
