﻿@using resShared = ECFBase.Resources.OneForAll.OneForAll;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@resShared.lblYiCommm</title>
    <link href="~/Content/MemberLogin/css/style.css" rel="stylesheet" />
    <link href="~/Content/MemberLogin/css/animate.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/MemberLogin/css/font-awesome.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/MemberLogin/css/iosOverlay.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/MemberLogin/css/animated-notifications.css" rel='stylesheet' type='text/css' />
    <script src="~/Content/MemberLogin/js/jquery-1.11.0.min.js"></script>
    <script src="~/Content/MemberLogin/js/jquery.ui.core.js"></script>
    <script src="~/Content/MemberLogin/js/spin.min.js"></script>
    <script src="~/Content/MemberLogin/js/iosOverlay.js"></script>

    <script type="text/javascript">

            if ('@ViewBag.ReloadPage' == 'Yes') {

                if ('@ViewBag.ReloadPage' == 'Yes') {
                    alert("Session Expired");
                    window.location = '@Url.Action("MemberLogin","Member")';
                }
                else {
                    window.location = '@Url.Action("MemberLogin","Member")';
                }


            }

            addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }

            $(document).ready(function () {

                     $(function () {
                         $("input[type=text]").first().focus();
                     });

                     $("#txtUserName").focus();

                     $("#lanEN").click(function (evt) {
                     $('#Loading').show();
                            var cId = "en-US";
                            $.ajax({
                                type: "POST",
                                url: "/Member/ChangeLanguage",
                                data: { languageCode: cId },
                                success: function (data) {
                                    //refresh page.
                                    location.reload();
                             $('#Loading').hide();
                                },
                                error: function (xhr, status, error) {
                                    //refresh page.
                                    location.reload();
                                }
                            });
                        });

                     $("#lanCN").click(function (evt) {
                     $('#Loading').show();
                            var cId = "zh-CN";
                            $.ajax({
                                type: "POST",
                                url: "/Member/ChangeLanguage",
                                data: { languageCode: cId },
                                success: function (data) {
                                    //refresh page.
                                    location.reload();
                             $('#Loading').hide();
                                },
                                error: function (xhr, status, error) {
                                    //refresh page.
                                    location.reload();
                                }
                            });
                        });

                     var isPressed = false;
                     //$("#btnMemberLogin").click(function (evt) {
                     //    if (!isPressed) {
                     //        login();
                     //    }
                     //});

                     $("#txtCaptcha").keypress(function (e) {
                         code = (e.keyCode ? e.keyCode : e.which);
                         if (code == 13 && !isPressed) {
                             login();
                             isPressed = true;
                         }
                     });

                     function login() {
                         $.ajax({
                             type: "POST",
                             url: "/MemberLogin/ValidateLogin",
                             data: {
                                 userName: $('#txtUserName').val(), password: $('#txtPassword').val(), captcha: $('#txtCaptcha').val()
                             },
                             success: function (data) {
                                 window.location.href = "/Member/Home";
                             },
                             error: function (xhr, status, error) {
                                 var errorM = xhr.responseText;
                                 errorM = errorM.replace('""', '');
                                 alert(errorM);
                             }
                         });
                     }


                     $("#forgetPassword").click(function (evt) {
                         $.ajax({
                             type: "POST",
                             url: "/MemberLogin/ForgetPassword",
                             success: function (data) {
                                 //                     $("#test").html(data);
                                 $("#BoxContent").html(data);
                                 $("#responsiveToggle").click();
                                 $('#Loading').hide();
                             },
                             error: function (xhr, status, error) {
                                 var errorM = xhr.responseText;
                                 errorM = errorM.replace('""', '');
                                 alert(errorM);
                                 return false;
                                 $('#Loading').hide();
                             }
                         });
                     });



            });
    </script>
</head>
<body>


    <div class="main" id="BoxContent">
        <div class="logo">
            <img alt="logo" src="@ViewBag.Logo" width="150" />
        </div>
        <form>
            <div class="inset">
                <div class="language_section" style="padding-top:170px">
                    <ul>
                        <li id="lanEN"><a style="color:#EEBA30">English</a></li>
                        <li id="lanCN"><a style="color:#EEBA30">中文</a></li>
                    </ul>
                </div>
                <h1>@resShared.lblMemberLogin</h1>

                <div style="padding:15px;">
                    <input id="txtUserName" name="login.userId" type="text" class="form-control" placeholder="@resShared.lblUsername" required />
                </div>
                <div style="padding:0 15px;">
                    <input id="txtPassword" name="login.password" class="form-control" type="password" placeholder="@resShared.lblPassword" required />
                </div>

                @*<div style="padding:15px;">
                    <img alt="Captcha" id="captchaimg" height="50px" width="120px;" class="pull-right" style="bottom:130px; right:40px;position:absolute" src="@Url.Action("../AdminLogin/CaptchaImage")" />
                    <input id="txtCaptcha" type="text" name="_captcha" class="form-control" placeholder=@resShared.lblCaptchaCode required />
                </div>*@

                <div style="text-align:center">
                    <div id="geetest"></div>
                    <input id="btnMemberLogin" type="submit" style="width:90%" value="@resShared.btnLogin">
                </div>
            </div>
            <p class="p-container">
                <span><a id="forgetPassword" href="#"><b><span style="color: white">@resShared.lblForgetPassword</span></b></a>

            </p>
        </form>
    </div>
    <div class="copy-right">
        <p style="color:white">
            Copyright 2018 &copy; convexcapital.co.uk. All rights reserved.
        </p>
    </div>

    <script src="http://api.geetest.com/get.php?callback=cb"></script>
    <!--<script src="static/js/geetest.4.0.2.js"></script>-->
    <script>
        //    setTimeout(cb, 1000);
        var cb = function () {
            var ele = function (str) {
                if (document.querySelector) {
                    return document.querySelector(str);

                } else if (str.indexOf('#') > -1) {
                    return document.getElementById(str.replace('#', ''));
                } else if (str.indexOf('.') > -1) {
                    return document.getElementsByClassName(str.replace('.', ''))[0];
                } else {
                    return document.getElementsByTagName(str)[0];
                }
            };
            var gtEle = ele('#geetest');
            var logEle = ele('#log');
            var newGeetest = function (type, product, gt, a) {
                var config = {
                    product: product,
                    gt: gt,
                    lang: 'en-US',
                    width: '300',
                    a: a
                };
                var captchaObj = new Geetest(config);
                var ele = document.createElement('div');
                ele.className = 'one';
                var box = document.createElement('div');
                //ele.appendChild(box);
                captchaObj.appendTo(box);
                if (product === 'popup') {
                    //var btn = document.createElement('div');
                    //btn.className = 'btn';
                    //btn.appendChild(document.createTextNode('按钮（' + type + '）'));

                    var btn = document.getElementById("btnMemberLogin");
                    ele.appendChild(btn);
                    captchaObj.bindOn(btn);
                }
                gtEle.appendChild(ele);
                return captchaObj;
            };
            var log = function (str) {
                //logEle.appendChild(document.createElement('br'));
                //logEle.appendChild(document.createTextNode(str));

            };
            log(document.getElementById('gt_lib').src);
            var oldApis = ['gt_custom_ajax', 'gt_custom_refresh', 'gt_custom_error', 'onGeetestLoaded'];
            for (var i = 0, len = oldApis.length; i < len; i = i + 1) {
                (function (i) {
                    window[oldApis[i]] = function () {
                        log('oldApi: ' + oldApis[i]);
                    }
                }(i));
            }
            var apis = ['onReady', 'onRefresh', 'onStatusChange', 'onSuccess', 'onError', 'onFail'];
            var mode = location.href.split('?')[1] || '3';
            var gt = 'd09dcd15c3d43cae8999c07f3dd0b38f';
            var slideEmbed = newGeetest('slide', 'embed', gt, false);
            var slideFloat = newGeetest('slide', 'float', gt, false);
            var slidePopup = newGeetest('slide', 'popup', gt, false);
            for (var i = 0, len = apis.length; i < len; i = i + 1) {
                (function (i) {
                    slidePopup[apis[i]](function () {
                        //log('slider embed api: ' + apis[i]);
                        //alert(i);

                        if (i == 3) {
                            $.ajax({
                                type: "POST",
                                url: "/MemberLogin/ValidateLogin",l
                                data: {
                                    userName: $('#txtUserName').val(), password: $('#txtPassword').val(), captcha: ""
                                },
                                success: function (data) {
                                    window.location.href = "/Member/Home";
                                },
                                error: function (xhr, status, error) {
                                    var errorM = xhr.responseText;
                                    errorM = errorM.replace('""', '');
                                    alert(errorM);
                                }
                            });
                        }
                    })
                }(i));
            }
            //var curtainEmbed, curtainFloat, curtainPopup;
            //if (mode === '6' || mode === '9') {
            //    gt = '7fa05624d84017d681bcbe16036a1267';
            //    curtainEmbed = newGeetest('slide', 'embed', gt, false);
            //    curtainFloat = newGeetest('slide', 'float', gt, false);
            //    curtainPopup = newGeetest('slide', 'popup', gt, false);
            //    for (var i = 0, len = apis.length; i < len; i = i + 1) {
            //        (function (i) {
            //            curtainEmbed[apis[i]](function () {
            //                log('curtain embed api: ' + apis[i]);
            //            })
            //        }(i));
            //    }
            //}
            //var canvasEmbed, canvasFloat, canvasPopup;
            //if (mode === '9') {
            //    gt = 'ad872a4e1a51888967bdb7cb45589605';
            //    canvasEmbed = newGeetest('slide', 'embed', gt, true);
            //    canvasFloat = newGeetest('slide', 'float', gt, true);
            //    canvasPopup = newGeetest('slide', 'popup', gt, true);
            //    for (var i = 0, len = apis.length; i < len; i = i + 1) {
            //        (function (i) {
            //            canvasEmbed[apis[i]](function () {
            //                log('canvas embed api: ' + apis[i]);
            //            })
            //        }(i));
            //    }
            //}
            //var curtainBtn = ele('#curtain-btn');
            //var slideBtn = ele('#slide-btn');
            //var canvasBtn = ele('#canvas-btn');
            //curtainBtn.addEventListener('click', function () {
            //    curtainEmbed.refresh();
            //});
            //slideBtn.addEventListener('click', function () {
            //    slideEmbed.refresh();
            //});
            //canvasBtn.addEventListener('click', function () {
            //    canvasEmbed.refresh();
            //});
            //var refresh0 = ele('#refresh0');
            //refresh0.addEventListener('click', function () {
            //    window.GeeTest[0].refresh();
            //});
            window.slideEmbed = slideEmbed;
            window.slideFloat = slideFloat;
            window.slidePopup = slidePopup;
            window.curtainEmbed = curtainEmbed;
            window.curtainFloat = curtainFloat;
            window.curtainPopup = curtainPopup;
            window.canvasEmbed = canvasEmbed;
            window.canvasFloat = canvasFloat;
            window.canvasPopup = canvasPopup;
        };
    </script>

</body>

<script>
        /*
        $('#submit-btn').click(function(e) {
        e.preventDefault(); // don't submit multiple times
        alert("!");
        });
        */

        //$('form').submit(function (event) {
        //    event.preventDefault();
        //    window.setTimeout(function () {
        //        overlay.update({
        //            icon: "",
        //            text: "Success"
        //        });
        //    }, 3e3);

        //    window.setTimeout(function () {
        //        $('#Loading').hide();
        //        //notify_msg();

        //    }, 5e3);

        //    return false;
        //});

        //function notify_msg() {
        //    //Notification
        //    var notification_msg = "Hello World";
        //    var notify_box = ('<div id="notifications-top-center" class="notifications-white"><span class="iconb" data-icon="&#xe20e;"></span>' + notification_msg + '<div id="notifications-top-center-close" class="close"><i class="fa fa-close"></span></div></div>');
        //    $("#notification").html(notify_box);
        //    $("#notifications-top-center").addClass('animated bounce');
        //    refresh_close();
        //}


        //function refresh_close() {
        //    $('.close').click(function () { $(this).parent().fadeOut(200); });
        //}

</script>






</html>