﻿@using resShared = ECFBase.Resources.OneForAll.OneForAll;
@using resAdminHome = ECFBase.Resources.OneForAll.OneForAll;
@model ECFBase.Models.ChangeUplineModel

<script type="text/javascript">

    $("#PositionChoose").change(function () {
        
        var Position = document.getElementById("PositionChoose");
        var PositionName = Position.options[Position.selectedIndex].value;
        var selected = document.getElementById("SelectedPosition");
        selected.value = PositionName;
        
    });

    $("#btnSaveCP").click(function (evt) {

        if ($('#editCPForm').valid()) {
            $('#Loading').show();
                $.ajax({
                    type: "POST",
                    url: "/AdminMember/ChangeUplineMethod",
                    data: $("#editCPForm").serialize(),
                    success: function (data) {
                        $("#reportCP").html(data);
                        alert("@resAdminHome.msgSaveSuccessfully");
                       $('#Loading').hide();
                    },
                    error: function (xhr, status, error) {
                        var errorM = xhr.responseText;
                        errorM = errorM.replace('""', '');
                        alert(errorM);
                       $('#Loading').hide();
                    }
                });
            } return false;
        });
</script>
@{ Html.EnableClientValidation(true); }
@using (Html.BeginForm("EditCPFromDialog", "AdminSecurity", FormMethod.Post, new { name = "editCPForm", id = "editCPForm" }))
{
  
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="col-lg-12">

            <h2 style="padding-left:10px;">@resAdminHome.lblChangeSponsor</h2>
            <!-- Begin breadcrumb -->
            <ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
                <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                <li><a href="#">@resAdminHome.lblMembers</a></li>
                <li><a href="#">@resAdminHome.lblUtility</a></li>
                <li class="active"><a href="#" onclick="dummy(0);return false;">@resAdminHome.lblChangeSponsor</a></li>
            </ol>
            <!-- End breadcrumb -->
            <h1 class="page-sub-header"></h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" align="center">
            <form role="form">
                <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                    @Html.HiddenFor(model => model.Username)
                    @Html.ValidationMessageFor(model => model.Username)
                    @Html.HiddenFor(model => model.SelectedPosition)

                    <div class="form-group">
                        <label>
                            @resAdminHome.lblUsername
                        </label>
                        @Html.TextBoxFor(model => model.Username, new { @class = "form-control", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.Username)
                    </div>
                    <div class="form-group">
                        <label>
                            Current Upline
                        </label>
                        @Html.TextBoxFor(model => model.CurrentUpline, new { @class = "form-control", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.CurrentUpline)
                    </div>
                    <div class="form-group">
                        <label>
                            New Upline
                        </label>
                        @Html.TextBoxFor(model => model.NewUpline, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.NewUpline)
                    </div>
                    <div class="form-group">
                        <label for="Position">
                            <strong>Position <span style="color: Red">*</span></strong>
                            @Html.DropDownList("PositionChoose", @Model.Position, new { @class = "form-control" })
                        </label>
                    </div>

                </div>
            </form>
            <tr>
                <td colspan="2">
                    <div style="text-align: center">
                        <input type="button" id="btnSaveCP" value="@resShared.btnSave" class="btn btn-sm btn-success" style="width:100px" />
                    </div>
                </td>
            </tr>
        </div>
    </div>
}