﻿@using resShared = ECFBase.Resources.OneForAll.OneForAll; 
@model ECFBase.Models.ChangePasswordModel


        <div class="row">
            <div class="col-lg-12"> 
                <h1 class="page-sub-header"></h1>

                <h2 style="padding-left:10px;">Member Statistic</h2>
                <!-- Begin breadcrumb -->
                <ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
                    <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                    <li><a href="#">@resShared.mnuReports</a></li>
                    <li><a href="#">Member Statistic</a></li>
                </ol>
                <!-- End breadcrumb -->
               
                </div>
        </div>
     <div class="container-fluid">
        <div class="row" align="center">
            <form role="form">
                <br />
                <br />

                <div class="table-responsive">
                    <table id="tablestyle" class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr style="background-color: #414558;">
                                <th style="text-align: center;color:White">
                                    Total UserID
                                </th>
                                <th style="text-align: center;color:White">
                                    Total Members
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => Model.TotalUserID)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => Model.TotalMembers)
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <br />
                <br />
                <div class="table-responsive">
                    <table id="tablestyle" class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr style="background-color: #414558;">
                                <th style="text-align: center;color:White">
                                    Total Reserved
                                </th>
                                <th style="text-align: center;color:White">
                                    Total Basic
                                </th>
                                <th style="text-align: center;color:White">
                                    Total Advance
                                </th>
                                <th style="text-align: center;color:White">
                                    Total Premium
                                </th>
                                <th style="text-align: center;color:White">
                                    Total Elite
                                </th>
                                <th style="text-align: center;color:White">
                                    Total Enterprise
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => Model.TotalReserved)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => Model.TotalBasic)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => Model.TotalAdvance)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => Model.TotalPremium)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => Model.TotalElite)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => Model.TotalEnterprise)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>


        </div>
     </div>                         
