﻿@using resShared = ECFBase.Resources.OneForAll.OneForAll; 
@model ECFBase.Models.PaginationMemberModel


        <div class="row">
            <div class="col-lg-12"> 
                <h1 class="page-sub-header"></h1>

                <h2 style="padding-left:10px;">Member Income</h2>
                <!-- Begin breadcrumb -->
                <ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
                    <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                    <li><a href="#">@resShared.mnuReports</a></li>
                    <li><a href="#">Member Income</a></li>
                </ol>
                <!-- End breadcrumb -->
               
                </div>
        </div>
     <div class="container-fluid">
        <div class="row" align="center">
            <form role="form">
                <br />
                <br />
                <div class="col-lg-12 col-sm-12">
                    <center>
                        <a href="@Url.Action("ExportMemberIncome", "AdminMember", new { })" class="button" target="_blank">Export All</a>
                    </center>
                </div>
                <br />
                <br />
                <div class="table-responsive">
                    <table id="tablestyle" class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr style="background-color: #414558;">
                                <th style="text-align: center;color:White">
                                    No
                                </th>
                                <th style="text-align: center;color:White">
                                    Member ID
                                </th>
                                <th style="text-align: center;color:White">
                                    Name
                                </th>
                                <th style="text-align: center;color:White">
                                    Rank
                                </th>
                                <th style="text-align: center;color:White">
                                    Package Amount
                                </th>
                                <th style="text-align: center;color:White">
                                    Direct Bonus
                                </th>
                                <th style="text-align: center;color:White">
                                    Direct Roll Up
                                </th>
                                <th style="text-align: center;color:White">
                                    Group Bonus
                                </th>
                                <th style="text-align: center;color:White">
                                    Sell eFund Amount
                                </th>
                                <th style="text-align: center;color:White">
                                    Trading Bonus
                                </th>
                                <th style="text-align: center;color:White">
                                    Grand Total
                                </th>
                                <th style="text-align: center;color:White">
                                    Withdrawal
                                </th>
                                <th style="text-align: center;color:White">
                                    CP TO RP
                                </th>
                                <th style="text-align: center;color:White">
                                    CP TO MP
                                </th>
                                <th style="text-align: center;color:White">
                                    Grand Total
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.MemberList)
                            {

                            <tr>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.Number)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.MemberId)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.SurName)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.Rank)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.PackageAmount)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.DirectBonus)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.DirectRollUp)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.GroupBonus)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.SellEFund)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.TradingBonus)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.GrandTotal)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.Withdrawal)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.CPTORP)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.CPTOMP)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.SecondGrandTotal)
                                </td>
                            </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </form>


        </div>
     </div>                         
