﻿@using ECFBase.Models
@using resMemDashboard = ECFBase.Resources.OneForAll.OneForAll;
@using resShared = ECFBase.Resources.OneForAll.OneForAll;
@using resAdminHome = ECFBase.Resources.OneForAll.OneForAll;
@using resDashboard = ECFBase.Resources.OneForAll.OneForAll;
@using resShopCenter = ECFBase.Resources.OneForAll.OneForAll;
@using resReport = ECFBase.Resources.OneForAll.OneForAll;
@using resAdminReport = ECFBase.Resources.OneForAll.OneForAll;
@model RegisterNewMemberModel
@{
    ViewBag.Title = "RegisterNewMemberPage4";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $("#btnNext").click(function (evt) {
        $('#Loading').show();
    $.validator.unobtrusive.parse($('#regMem'));
    if (jQuery("#regMem").valid() == true) {
            $.ajax({
                type: "POST",
                url: "/AdminMember/RegisterNewMemberPage4Method",
                data: $("#regMem").serialize(),
                success: function (data) {
                    $("#main-content").html(data);
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        } return false;
    });

    $("#btnBack").click(function (evt) {
        $.validator.unobtrusive.parse($('#regMem'));
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/AdminMember/BackToRegisterNewMemberPage3",
            data: $("#regMem").serialize(),
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });

    $("#memberEmail").focusout(function (e) {
        $.ajax({
            url: "/AdminMember/CheckEmail",
            dataType: "json",
            type: "POST",
            delay: 0,
            data: { Email: $(document.getElementById("memberEmail")).val() },
            success: function (data) {
                if (data == false) {
                    alert("@resReport.msgEmailInvalid");
                    return false;
                }
            }
        });
    });


    $("#Username").focusout(function (e) {

        var t = $(document.getElementById("Username")).val();
        if (t.match(/\s/g)) {
            alert('Sorry, you are not allowed to enter any spaces')
//            $("#Username").focus();
        }
        if (t.toString().length < 6) {
            alert('The Username Require Minimun 6 Alphanumeric')
//            $("#Username").focus();
        }



    });


    $('#SelectedCountry').change(function () {
        //Clear and get country code
        $.ajax({
            url: "/AdminMember/FindCountryCode",
            type: "POST",
            data: { CountryCode: $(document.getElementById("SelectedCountry")).val() },
            success: function (data) {
                $("#mobileCntCode").val(data);
            }
        });
    });


    $("#memberIC").keypress(function (e) {
        code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) {
            checkICAvailability();
        }
    });

    $("#memberIC").focusout(function (e) {
        checkICAvailability();
    });

    $("#tickImage").hide();
    function checkICAvailability() {
        var ic = document.getElementById('memberIC').value;
        var Regex = /^[a-zA-Z0-9]{6,25}$/;
        if (!Regex.test(ic)) {
            $("#tickImage").hide();
            var message = "@resAdminHome.msgInvalidIC";
            alert(message);
//            $("#memberIC").focus();
           // document.getElementById("btnNext").disabled = true;
        }
        else {
            $("#tickImage").show();
           // document.getElementById("btnNext").disabled = false;
        }
    }

    function blockSpecialChar(e) {
        var k;
        document.all ? k = e.keyCode : k = e.which;
        return ((k > 64 && k < 91) || (k > 96 && k < 123) || k == 8 || k == 32 || (k >= 48 && k <= 57));
    }
</script>

<div class="container-fluid">
    @{ Html.EnableClientValidation(true); }
    @using (Html.BeginForm("RegisterNewMemberPage4Method", "AdminMember", FormMethod.Post, new { enctype = "multipart/form-data", name = "regMem", id = "regMem" })) //this id very important to do HttpPost
    {
        //display Model's errors
        @Html.ValidationSummary(true)
        <div class="row">
            <div class="col-lg-12">
            <h1 class="page-heading">@resShopCenter.lblPersonalDetail</h1>
                <ol class="breadcrumb default square rsaquo sm no-border">
                    <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                    <li><a href="#">@resDashboard.mnuSpecialRegistration</a></li>
                    <li><a href="#">@resShopCenter.lblNewReg</a></li>
                    <li class="active"><a href="#">@resShopCenter.lblPersonalDetail</a></li>
                </ol>
                <h1 class="page-sub-header"></h1>
            </div>
        </div>
        <div class="row" align="center">
            <div style="max-width: 600px; text-align: left">
                <div class="form-group">
                    <strong>@resShopCenter.lblnewuser <span style="color: Red">*</span></strong>                    
                     @Html.TextBoxFor(m => @Model.LoginUsername, new { @id = "Username", @class = "form-control",@maxlength="12", @onkeypress="return blockSpecialChar(event)" })
                     @* @Html.TextBoxFor(m => @Model.UserInfo.Nickname, new { @id = "Username", @class = "form-control" })*@
                    <div style="margin-left: 0px;">
                        <label style="text-align: left">@resAdminHome.lblUserNameVal2</label>
                    </div>
                    <div style="margin-left: 0px;">
                        @Html.ValidationMessageFor(m => Model.LoginUsername)
                    </div>
                </div>
            </div>
        </div>
        <div class="row" align="center">
            <div style="max-width: 600px; text-align: left">
                <div class="form-group">
                    <strong>@resReport.lblFullname <span style="color: Red">*</span></strong>
                    @Html.TextBoxFor(m => @Model.Member.FirstName, new { @class = "form-control" })
                    <div style="margin-left: 0px;">
                        <label style="text-align: left">@resAdminHome.lblSameName</label>
                    </div>
                    <div style="margin-left: 0px;">
                        @Html.ValidationMessageFor(m => Model.Member.FirstName)
                    </div>
                </div>
            </div>
        </div>
        @*<div class="row" align="center">
            <div style="max-width: 600px; text-align: left">
                <div class="form-group">
                    <strong>@resShopCenter.lblNickName <span style="color: Red">*</span></strong>
                    
                   @*  @Html.TextBoxFor(m => @Model.Member.Username, new { @id = "Username", @class = "form-control" })
                    @Html.TextBoxFor(m => @Model.UserInfo.Nickname, new { @id ="Username", @class = "form-control" })
                    <div style="margin-left: 0px;">
                        <label style="text-align: left">@resAdminHome.lblUserNameVal3</label>
                    </div>
                    <div style="margin-left: 0px;">
                        @Html.ValidationMessageFor(m => Model.UserInfo.Nickname)
                    </div>
                </div>
            </div>
        </div>*@
        <div class="row" align="center">
            <div style="max-width: 600px; text-align: left">
                <div class="form-group">
                    <strong>@resShopCenter.lblIC <span style="color: Red">*</span></strong>
                   @* @Html.Image("tickImage", "~/Images/tick.png", "Available", 15, 0, 0)*@
                    @Html.TextBoxFor(m => @Model.UserInfo.IC, new { @id = "memberIC", @class = "form-control", maxlength = "25" })
                    <div style="margin-left: 0px;">
                        <label style="text-align: left">@resAdminHome.lblUserICVal</label>
                    </div>
                    <div style="margin-left: 0px;">
                        <span style="color: Red">@Html.ValidationMessageFor(m => Model.UserInfo.IC)</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" align="center">
            <div style="max-width: 600px; text-align: left">
                <div class="form-group">
                    <strong>@resShared.lblCountry</strong>
                    @Html.TextBoxFor(m => @Model.SelectedCountryString, new { @id = "SelectedCountry", @class = "form-control", @readonly = "true" })
                    @Html.HiddenFor(m => m.SelectedCountry)
                </div>
            </div>
        </div>
        <div class="row" align="center">
            <div style="max-width: 600px; text-align: left">
                <div class="form-group">
                    <strong>@resShopCenter.lblCellPhone <span style="color: Red">*</span></strong>
                    <div class="form-group">
                        @Html.TextBoxFor(m => @Model.UserInfo.MobileCountryCode, new { @id = "mobileCntCode", @class = "form-control", @readonly = "readonly", @style = "width:80px; display:inline;" })
                        @Html.TextBoxFor(m => @Model.UserInfo.CellPhone, new { @class = "form-control", @style = "width:200px; display:inline;" })
                    </div>
                    <div style="margin-left: 0px;">
                        <label style="text-align: left">@resAdminHome.lblMobileVal1</label>
                    </div>
                    <div style="margin-left: 0px;">
                        <label style="text-align: left">@resAdminHome.lblMobileVal2</label>
                    </div>
                    <div style="margin-left: 0px;">
                        @Html.ValidationMessageFor(m => Model.UserInfo.CellPhone)
                    </div>
                </div>
            </div>
        </div>
        <div class="row" align="center">
            <div style="max-width: 600px; text-align: left">
                <div class="form-group">
                    <strong>@resShared.lblEmail <span style="color: Red">*</span></strong>
                    @Html.TextBoxFor(m => @Model.Member.MemberEmail, new { @id = "memberEmail", @class = "form-control" })
                    <div style="margin-left: 0px;">
                        <label style="text-align: left">@resAdminHome.lblEmailVal</label>
                    </div>
                    <div style="margin-left: 0px;">
                        @Html.ValidationMessageFor(m => Model.Member.MemberEmail)
                    </div>
                </div>
            </div>
        </div>
        <div class="row" align="center">
            <div style="max-width: 600px;">
                <div class="form-group">
                    <button id="btnBack" type="button" class="btn btn-primary" style="width:100px"><< @resShared.btnBack </button>

                    <button id="btnNext" type="button" class="btn btn-primary" style="width:100px">@resShared.btnNext >></button>

               @*     @if (Model.UserInfo.IC != null && Model.UserInfo.IC.Count() > 5)
                    {
                        <button id="btnNext" type="button" class="btn btn-sm btn-success" style="width:100px">@resShared.btnNext</button>
                    }
                    else
                    {
                        <button id="btnNext" type="button" disabled="disabled" class="btn btn-sm btn-success" style="width:100px">@resShared.btnNext</button>
                    }*@
                                     
                </div>
            </div>
        </div>
    }
</div>
