﻿@using ECFBase.Models
@using resMemDashboard = ECFBase.Resources.OneForAll.OneForAll;
@using resShared = ECFBase.Resources.OneForAll.OneForAll;
@using resAdminHome = ECFBase.Resources.OneForAll.OneForAll;
@using resDashboard = ECFBase.Resources.OneForAll.OneForAll;
@using resShopCenter = ECFBase.Resources.OneForAll.OneForAll;
@using resReport = ECFBase.Resources.OneForAll.OneForAll;
@using resAdminReport = ECFBase.Resources.OneForAll.OneForAll;
@model RegisterNewMemberModel
@{
    ViewBag.Title = "RegisterNewMemberPage3";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $("#btnBack").click(function (evt) {
        $('#Loading').show();
               $.ajax({
                type: "POST",
                url: "/AdminMember/BackToRegisterNewMemberPage2",
                data:{},
                success: function (data) {
                    $("#main-content").html(data);
                   $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                   $('#Loading').hide();
                }
            });
    });

    $("#btnNext").click(function (evt) {
        $.validator.unobtrusive.parse($('#regMem'));
        if (jQuery("#regMem").valid() == true) {
            $.ajax({
                type: "POST",
                url: "/AdminMember/RegisterNewMemberPage3Method",
                data: $("#regMem").serialize(),
                success: function (data) {
                    $("#main-content").html(data);
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        } return false;
    });

    $("#memberEmail").focusout(function (e) {
        $('#Loading').show();
        $.ajax({
            url: "/AdminMember/RegisterNewMemberPage3",
            type: "POST",
            data: $("#regMem").serialize(),
            data: { Rank: $(document.getElementById("SelectedRank")).val(), upMember: $(document.getElementById("UsernameID")).val(), position: $(document.getElementById("Location")).val(), startFresh: false, MBintro: $(document.getElementById("MBintro")).val(), CountryCode: $(document.getElementById("SelectedCountry")).val() },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();

            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }

        });
    });

    $('#MBintro').focusout(function () {
        //Clear and get country code
        $.validator.unobtrusive.parse($('#regMem'));
        $('#Loading').show();
        $.ajax({
            url: "/AdminMember/RegisterNewMemberPage3",
            type: "POST",
            data: $("#regMem").serialize(),
            data: {Rank: $(document.getElementById("SelectedRank")).val(), upMember: $(document.getElementById("UsernameID")).val(), position: $(document.getElementById("Location")).val(), startFresh: false ,MBintro: $(document.getElementById("MBintro")).val(), CountryCode: $(document.getElementById("SelectedCountry")).val()},
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }

        });
    });

    $('#SelectedRank').change(function () {
        $.validator.unobtrusive.parse($('#regMem'));
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/AdminMember/RegisterNewMemberPage3",
            data: $("#regMem").serialize(),
            data: { Rank: $(document.getElementById("SelectedRank")).val(), upMember: $(document.getElementById("UsernameID")).val(), position: $(document.getElementById("Location")).val(), startFresh: false ,MBintro: $(document.getElementById("MBintro")).val(),CountryCode: $(document.getElementById("SelectedCountry")).val()},
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });

</script>

<div class="container-fluid">
    @{ Html.EnableClientValidation(true); }
    @using (Html.BeginForm("RegisterNewMemberPage3Method", "AdminMember", FormMethod.Post, new { enctype = "multipart/form-data", name = "regMem", id = "regMem" })) //this id very important to do HttpPost
    {
        //display Model's errors
        @Html.ValidationSummary(true)
        <div class="row">
            <div class="col-lg-12">
                 <h1 class="page-heading">@resShopCenter.lblUplineDetail</h1>
                <ol class="breadcrumb default square rsaquo sm no-border">
                    <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                    <li><a href="#">@resDashboard.mnuSpecialRegistration</a></li>
                    <li><a href="#">@resShopCenter.lblNewReg</a></li>
                    <li class="active"><a href="#">@resShopCenter.lblUplineDetail</a></li>
                </ol>
               
                <h1 class="page-sub-header"></h1>
            </div>
        </div>
        <div class="row" align="center">
            <div style="max-width: 600px; text-align: left">
                <div class="form-group">
                
                    
                    <strong>@resShopCenter.lblUpline <span style="color: Red">*</span></strong>
                    @if (@Model.UsernameID == null)
                    {
                         @Html.TextBoxFor(m => @Model.UsernameID, new { @class = "form-control" })
                    }
                    else
                    {

                        @Html.TextBoxFor(m => @Model.UsernameID, new { @id = "UsernameID", @class = "form-control", @readonly = "readonly" })
                        
                    }
                    <div style="margin-left: 0px;">
                        @Html.ValidationMessageFor(m => Model.UsernameID)
                    </div>
                </div>
            </div>
        </div>
        
         <div class="row" align="center">
            <div style="max-width: 600px; text-align: left">
                <div class="form-group">
                
                    
                    <strong>@resShopCenter.lblUplineDisplayName <span style="color: Red">*</span></strong>
                    @if (@Model.UsernameID == null)
                    {
                         @Html.TextBoxFor(m => @Model.UpLineFullName, new { @class = "form-control" })
                    }
                    else
                    {

                        @Html.TextBoxFor(m => @Model.UpLineFullName, new { @id = "UsernameID", @class = "form-control", @readonly = "readonly" })
                        
                    }
                    <div style="margin-left: 0px;">
                        @Html.ValidationMessageFor(m => Model.UpLineFullName)
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row" align="center">
            <div style="max-width: 600px; text-align: left">
                <div class="form-group">
                    <strong>@resShopCenter.lblPosition <span style="color: Red">*</span></strong>
                    @if (@Model.UsernameID == null)
                    {
                        @Html.DropDownListFor(m => m.SelectedLocation, Model.Locations, new { @class = "form-control" })
                    }
                    else
                    {
                        @Html.HiddenFor(m => m.SelectedLocation)
                        @Html.DropDownListFor(m => m.SelectedLocation, Model.Locations, new { @id = "Location", @class = "form-control", @disabled = "disabled" })
                    }
                </div>
            </div>
        </div>
        <div class="row" align="center">
            <div style="max-width: 600px; text-align: left">
                <div class="form-group">
                    <strong>@resShopCenter.lblSponsorID <span style="color: Red">*</span></strong>
                    @Html.TextBoxFor(m => @Model.Member.Intro, new { @id = "MBintro", @class = "form-control" })
                    <div style="margin-left: 0px;">
                        @Html.ValidationMessageFor(m => Model.Member.Intro)
                    </div>
                </div>
            </div>
        </div>
        <div class="row" align="center">
            <div style="max-width: 600px; text-align: left">
                <div class="form-group">
                    <strong>@resShopCenter.lblSponsorName <span style="color: Red">*</span></strong>
                    @Html.TextBoxFor(m => @Model.Member.IntroFullName, new { @class = "form-control", @disabled = "disabled" })
                    <div style="margin-left: 0px;">
                        @Html.ValidationMessageFor(m => Model.Member.IntroFullName)
                    </div>
                </div>
            </div>
        </div>
        <div class="row" align="center">
            <div style="max-width: 600px; text-align: left">
                <div class="form-group">
                    <strong style="color:Red">@resShopCenter.msgReg1</strong>
                </div>
            </div>
        </div>       
       
        
        
        <div class="row" align="center">
            <div style="max-width: 600px;">
                <div class="form-group">
                    <button id="btnBack" type="button" class="btn btn-primary" style="width:100px"><< @resShared.btnBack </button>
                    <button id="btnNext" type="button" class="btn btn-primary" style="width:100px">@resShared.btnNext >></button>
                </div>
            </div>
        </div>
    }
</div>
