﻿@using ECFBase.Models
@using resMemDashboard = ECFBase.Resources.OneForAll.OneForAll;
@using resShared = ECFBase.Resources.OneForAll.OneForAll;
@using resAdminHome = ECFBase.Resources.OneForAll.OneForAll;
@using resDashboard = ECFBase.Resources.OneForAll.OneForAll;
@using resShopCenter = ECFBase.Resources.OneForAll.OneForAll;
@using resReport = ECFBase.Resources.OneForAll.OneForAll;
@using resAdminReport = ECFBase.Resources.OneForAll.OneForAll;
@model RegisterNewMemberModel
@{
    ViewBag.Title = "SpecialRegisterNewMemberPage1";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">


    $("#btnNext").click(function (evt) {
        $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/AdminMember/RegisterNewMemberPage1Method",
                data: $("#regMem").serialize(),
                data: { Country: $('#SelectedCountry').val() },
                success: function (data) {
                    $("#main-content").html(data);
                   $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                   $('#Loading').hide();
                }
            });
    });    

    $("#RefferalUsername").focusout(function (evt) {
        $.ajax({
            type: "POST",
            url: "/AdminMember/RegisterNewMemberPage1",
            data: { RefferUser: $('#RefferalUsername').val(), startFresh: false },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });    

</script>

<div class="container-fluid">
    @{ Html.EnableClientValidation(true); }
    @using (Html.BeginForm("RegisterNewMemberPage1Method", "AdminMember", FormMethod.Post, new { enctype = "multipart/form-data", name = "regMem", id = "regMem" })) //this id very important to do HttpPost
    {
        //display Model's errors
        @Html.ValidationSummary(true)

         <div class="row">
            <div class="col-lg-12">
            	<h2 class="page-heading">@resShopCenter.lblRanking</h2>
                  <!-- Begin breadcrumb -->
                <ol class="breadcrumb default square rsaquo sm no-border">
                    <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                    <li><a href="#">@resDashboard.mnuSpecialRegistration</a></li>
                    <li><a href="#">@resShopCenter.lblNewReg</a></li>
                    <li class="active"><a href="#">@resShopCenter.lblRanking</a></li>
                </ol>
        <!-- End breadcrumb -->
                <h1 class="page-sub-header"></h1>
            </div>
        </div>

        <div class="row" align="center">
            <div style="max-width: 600px; text-align: left">
                <div class="form-group">
                    <strong>Deduct Wallet From </strong>
                    @Html.TextBoxFor(m => @Model.ReferralUsername, new { @class = "form-control" , @id="RefferalUsername" })
                </div>
            </div>
        </div>

        <div class="row" align="center">
            <div style="max-width: 600px; text-align: left">
                <div class="form-group">
                    <strong>@resShopCenter.lblRPBalance</strong>
                    @Html.TextBoxFor(m => @Model.Member.RegisterWallet, new { @class = "form-control", disabled = "disabled", Value = String.Format("{0:n2}", Model.Member.RegisterWallet) })
                </div>
            </div>
        </div>
        
         <div class="row" align="center">
            <div style="max-width: 600px; text-align: left">
                <div class="form-group">
                    <strong>@resShared.lblCountry</strong>
                     
                    @Html.DropDownListFor(m => m.SelectedCountry, @Model.Countries, new { @id = "SelectedCountry", @class = "form-control" })
                    @Html.HiddenFor(m => m.SelectedCountry)
                </div>
            </div>
        </div>

        <div class="row" align="center" id="Register" >
            <div style="max-width: 600px; text-align: left">
                <div class="form-group">
                    <strong>@resShopCenter.lblRPPayment </strong>
                    @Html.TextBoxFor(m => @Model.Member.RegisterPaymentWallet, new { id = "RegisterPaymentWallet", @class = "form-control", @readonly = true })
                </div>
            </div>
        </div>

        <div style=" height:30px"></div>
        <div class="row" align="center">
            <div style="max-width: 600px;">
                <div class="form-group">
                    <button id="btnNext" type="button" class="btn btn-primary" style="width:100px">@resShared.btnNext >></button>
                </div>
            </div>
        </div>
                   
        
       
    }
</div>
