﻿@using resShared = ECFBase.Resources.Resource;
@using ECFBase.Models
@model PaginationIntroListModel
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    //    $(document).ready(function () {

    $("#btnUp").click(function (evt) {
        readAjax($('a[data-toggle="tab"]').attr('data-src'));

        var e = document.getElementById("page");
        var page = e.options[e.selectedIndex].value;

        if (parseInt(page) == 0)
            return false;

        //            readAjax($('a[data-toggle="tab"]').attr('data-src'));
        $.ajax({
            type: "POST",
            url: "/AdminMember/SponsorListing",
            data: { selectedPage: parseInt(page) - 1 },
            success: function (data) {
                $("#main-content").html(data);
                overlay.hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                overlay.hide();
            }
        });
    });


    $("#btnNext").click(function (evt) {

        var e = document.getElementById("page");
        var page = e.options[e.selectedIndex].value;

        var lastValue = $('#page option:last-child').val();
        if (parseInt(page) == parseInt(lastValue))
            //return false;

            readAjax($('a[data-toggle="tab"]').attr('data-src'));
        $.ajax({
            type: "POST",
            url: "/AdminMember/SponsorListing",
            data: { selectedPage: parseInt(page) + 1 },
            success: function (data) {
                $("#main-content").html(data);
                overlay.hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                overlay.hide();
            }
        });
    });

    $("#btnPage").click(function (evt) {
        readAjax($('a[data-toggle="tab"]').attr('data-src'));

        var e = document.getElementById("page");
        var page = e.options[e.selectedIndex].value;

        $.ajax({
            type: "POST",
            url: "/AdminMember/SponsorListing",
            data: { selectedPage: page },
            success: function (data) {
                $("#main-content").html(data);
                overlay.hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                overlay.hide();
            }
        });
    });

</script>
<div id="MemberDiv">
    <div class="row">
        <div class="col-lg-12">
            <h2 style="padding-left:10px;">@resShared.mnuReferralListing</h2>
            <!-- Begin breadcrumb -->
            <ol class="breadcrumb default square rsaquo sm no-border " style="margin-left:10px;">
                <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                <li><a href="#">@resShared.mnuSalesChart</a></li>
                <li class="active"><a href="#">@resShared.mnuReferralListing</a></li>
            </ol>
            @*<ol class="breadcrumb">
                    <li><i class="fa fa-dashboard"></i>@resShared.mnuSalesChart</li>
                    <li><i class="fa fa-edit"></i>@resShared.mnuReferralListing</li>
                </ol>*@
            <h1 class="page-sub-header"></h1>
        </div>
    </div>

    <table id="tablestyle" width="100%" class="table-bordered table-hover table-striped">
        <thead>
            <tr style="height: 25px; background-color: #414558;">
                <th style="text-align: center;color:White">
                    @resShared.lblNumber
                </th>
                <th style="text-align: center;color:White">
                    @resShared.lblUsername
                </th>
                <th style="text-align: center;color:White">
                    @resShared.lblName
                </th>
                <th style="text-align: center;color:White">
                    @resShared.lblSponsor
                </th>
                <th style="text-align: center;color:White">
                    @resShared.lblLevel
                </th>
                <th style="text-align: center;color:White">
                    @resShared.lblRanking
                </th>
                <th style="text-align: center;color:White">
                    @resShared.lblDateJoined
                </th>
            </tr>
        </thead>
        @if (Model.SponsorList.Count == 0)
        {
            <tr style="height: 25px; border-top: 2px solid white;">
                <td style="padding: 5px;" colspan="10">
                    @resShared.lblNoRecFound
                </td>
            </tr>
        }
        @foreach (var item in Model.SponsorList)
        {
            <tr align="center" style="height: 25px; border-top: 2px solid white;">
                <td style="text-align: center">
                    @Html.DisplayFor(modelItem => item.No)
                </td>
                <td style="text-align: center">
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td style="text-align: center">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td style="text-align: center">
                    @Html.DisplayFor(modelItem => item.Sponsor)
                </td>
                <td style="text-align: center">
                    @Html.DisplayFor(modelItem => item.Level)
                </td>
                <td style="text-align: center">
                    @Html.DisplayFor(modelItem => item.Rank)
                </td>
                <td style="text-align: center">
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
            </tr>
        }
    </table>
    @if (Model.SponsorList.Count != 0)
    {
        <table width="100%">
            <tr>
                <td style="text-align: right">
                    <div class="BtnClass" style="float: right;">
                        <button id="btnUp" type="button" class="button" style="width:150px">@resShared.btnPreviousPage</button>
                        <button id="btnNext" type="button" class="button" style="width:150px;margin-right:10px">@resShared.btnNextPage</button>
                        @Html.DropDownList("page", @Model.Pages, new { style = "width:50px;" })
                        <button id="btnPage" type="button" class="button" style="width: 100px">@resShared.btnView</button>
                    </div>
                </td>
            </tr>
        </table>
    }
</div>
