﻿@using resShared = ECFBase.Resources.OneForAll.OneForAll;
@using ECFBase.Models
@model MemberSponsorChartModel
<script type="text/javascript">
 
    $("#btnSearchByName").click(function (evt) {
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/AdminMember/SearchSponsor",
            data: { Username: $('#searchName').val() },
            success: function (data) {
                $("#reportAd").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });

    });
</script>
<html lang="en">

<body class="tooltips">
    <!--
    ===========================================================
    BEGIN PAGE
    ===========================================================
    -->
    <div class="wrapper" style="background-color:white">

        <div class="container-fluid">
            <div id="reportAd">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>@resShared.lblSponsorChart</h2>

                        <!-- Begin breadcrumb -->
                        <ol class="breadcrumb default square rsaquo sm no-border ">
                            <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                            <li><a href="#">@resShared.lblMembers</a></li>
                            <li><a href="#">@resShared.lblReports2</a></li>
                            <li class="active"><a href="#" onclick="dummy(0);return false;">@resShared.lblSponsorChart</a></li>
                        </ol>
                        <!-- End breadcrumb -->

                        <h1 class="page-sub-header">
                            <input type="hidden" id="eliminateId" />
                        </h1>
                    </div>
                </div>
                @*<table width="auto" style="text-align:right; margin-right:auto; margin-left:10px;">
                    <tr>
                        <td style="text-align: left">
                            <div align="center">
                                <label>@resShared.lblUsername:</label>

                            </div>
                        </td>
                        <td style="padding-left:10px;">
                            <input type="text" style="width: 300px; height: 25px" id="searchName" class="form-control" />

                        </td>
                        <td style="text-align: right; padding-left:10px">
                            <button id="btnSearchByName" type="button" class="btn btn-sm btn-success" style="width: 180px">
                                @resShared.btnSearch
                            </button>
                        </td>
                    </tr>

                </table>*@
                <div class="row">
                    <div class="col-xs-12" style="padding-bottom:10px; padding-left:0">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:right">
                            @resShared.lblUsername:
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding:0">
                            <input type="text" id="searchName" class="form-control" style="min-width:100px;" />
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <input id="btnSearchByName" class="btn btn-success" value="@resShared.btnSearch"  style="padding-left:0; padding-right:0; width:100px" />
                            @*<button id="btnSearchByName" type="button" class="btn btn-sm btn-success" style="width: 180px">
        @resShared.btnSearch
    </button>*@
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="the-box no-margin no-border col-sm-12 margin-bottom-f25 border-grandiant-style1">
                        <div id="tree">
                            <ul id="treeData">
                                <li class="none">
                                    <img src=@Model.FirstLevelRankIcon style="width:38px;height:38px;" /> <b>@Model.FirstLevelMember</b>
                                    <img src="../../Content/assets/img/icon/tree/ico_member.png" />@Model.FirstLevelFullname
                                    <img src="../../Content/assets/img/icon/tree/ico_star.png" />@Model.FirstLevelRanking
                                    <img src="../../Content/assets/img/icon/tree/ico_total.png" />@Model.FirstLevelJoinedDate
                                    <img src="../../Content/assets/img/icon/tree/ico_upline.png" />@Model.FirstLevelIntro

                                    <ul>
                                        @foreach (var data in Model.resultList.Where(d => d.Intro.ToLower().Equals(@Model.FirstLevelMember.ToLower())))
                                        {
                                            <li>
                                                <img src=@data.RankIcon style="width:38px;height:38px;" /> <b>@data.Member</b>
                                                <img src="../../Content/assets/img/icon/tree/ico_member.png" />@data.FullName
                                                <img src="../../Content/assets/img/icon/tree/ico_star.png" />@data.Ranking
                                                <img src="../../Content/assets/img/icon/tree/ico_total.png" />@data.JoinedDate
                                                <img src="../../Content/assets/img/icon/tree/ico_upline.png" />@data.Intro

                                                @RenderMemberDownline(Model, data.Member)
                                            </li>
                                        }
                                    </ul>
                                </li>
                            </ul>


                            @helper RenderMemberDownline(MemberSponsorChartModel Model, string member)
                            {
                    <ul>
                        @foreach (var data in Model.resultList.Where(d => d.Intro.ToLower().Equals(member.ToLower())))
                        {
                            <li>
                                <img src=@data.RankIcon style="width:38px;height:38px;" /> <b>@data.Member</b>
                                <img src="../../Content/assets/img/icon/tree/ico_member.png" />@data.FullName
                                <img src="../../Content/assets/img/icon/tree/ico_star.png" />@data.Ranking
                                <img src="../../Content/assets/img/icon/tree/ico_total.png" />@data.JoinedDate
                                <img src="../../Content/assets/img/icon/tree/ico_upline.png" />@data.Intro

                                @RenderMemberSameLevel(Model, data.Member)
                            </li>
                        }
                    </ul>
    }

                            @helper RenderMemberSameLevel(MemberSponsorChartModel same, string member)
                            {
                    <ul>
                        @foreach (var data in Model.resultList.Where(d => d.Intro.ToLower().Equals(member.ToLower())))
                        {
                            <li>
                                <img src=@data.RankIcon style="width:38px;height:38px;" /> <b>@data.Member</b>
                                <img src="../../Content/assets/img/icon/tree/ico_member.png" />@data.FullName
                                <img src="../../Content/assets/img/icon/tree/ico_star.png" />@data.Ranking
                                <img src="../../Content/assets/img/icon/tree/ico_total.png" />@data.JoinedDate
                                <img src="../../Content/assets/img/icon/tree/ico_upline.png" />@data.Intro
                                @RenderMemberDownline(Model, data.Member)
                            </li>
                        }
                    </ul>
    }


                        </div><!--end of tree-->



                        <fieldset class="legend">
                            <legend>Legend:</legend>
                            <table  border="1px">
                                <thead>
                                    <tr style="text-align :center">
                                        <td><img src="../../Content/assets/img/icon/tree/ico_member.png" width="16" /></td>
                                        <td><img src="../../Content/assets/img/icon/tree/ico_star.png" /></td>
                                        <td><img src="../../Content/assets/img/icon/tree/ico_total.png" /></td>
                                        <td><img src="../../Content/assets/img/icon/tree/ico_upline.png" /></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><span style="margin:10px;">@resShared.lblFullname</span></td>
                                        <td><span style="margin:10px;">@resShared.lblRanking</span></td>
                                        <td><span style="margin:10px;">@resShared.lblJoinedDate</span></td>
                                        <td><span style="margin:10px;">@resShared.lblSponsorName</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </fieldset>

                    </div>

                </div>
            </div><!-- /.container-fluid -->
        </div>

    <link href="../../Content/assets/css/ui.fancytree.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="../../Content/assets/js/jquery.ui.core.js"></script>
    <script type="text/javascript" src="../../Content/assets/js/jquery.ui.widget.js"></script>


    <script src="../../Content/assets/js/jquery.fancytree.js"></script>				
        <script type="text/javascript">
            $(document).ready(function () {
                $("#tree").fancytree();
                var tree = $("#tree").fancytree("getTree"),
                    activeNode = tree.getActiveNode();

                // Expand all tree nodes
                tree.visit(function (node) {
                    node.setExpanded(false);
                });

            });


        </script>
    </body>

    </html>