﻿@using resShared = ECFBase.Resources.OneForAll.OneForAll; 
@model ECFBase.Models.ChangePasswordModel
<script type="text/javascript">

    $("#btnSaveCP").click(function (evt) {
        
            $.validator.unobtrusive.parse($('#editCPForm'));
        if ($('#editCPForm').valid()) {
            $('#Loading').show();
                $.ajax({
                    type: "POST",
                    url: "/AdminMember/TransferMemberMethod",
                    data: $("#editCPForm").serialize(),
                    success: function (data) {
                        $("#reportCP").html(data);
                        alert("@resShared.msgSaveSuccessfully");
                        $('#Loading').hide();               
                    },
                    error: function (xhr, status, error) {
                        var errorM = xhr.responseText;
                        errorM = errorM.replace('""', '');
                        alert(errorM);
                        $('#Loading').hide();
                    }
                });
            } return false;
        });
</script>
@{ Html.EnableClientValidation(true); }
@using (Html.BeginForm("EditCPFromDialog", "AdminSecurity", FormMethod.Post, new { name = "editCPForm", id = "editCPForm" }))
{
    @Html.HiddenFor(model => model.CurrentPassword)
    @Html.HiddenFor(model => model.NoRedirectionRequired)
    @Html.ValidationMessageFor(model => model.CurrentPassword)  
    @Html.ValidationMessageFor(model => model.NoRedirectionRequired)  
    @Html.ValidationSummary(true)
        <div class="row">
            <div class="col-lg-12"> 
                <h1 class="page-sub-header"></h1>

                <h2 style="padding-left:10px;">Transfer Member</h2>
                <!-- Begin breadcrumb -->
                <ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
                    <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                    <li><a href="#">@resShared.lblMembers</a></li>
                    <li><a href="#">@resShared.lblUtility</a></li>
                    <li class="active"><a href="#" onclick="dummy(0);return false;">Transfer Member</a></li>
                </ol>
                <!-- End breadcrumb -->
               
                </div>
        </div>
        <div class="container-fluid">
                <div class="row" align="center">
                    <form role="form">
                        <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                            @Html.HiddenFor(model => model.UserName)
                            @Html.ValidationMessageFor(model => model.UserName)
                            <div class="form-group">
                                <label>
                                    @resShared.lblUsername
                                </label>
                                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", disabled = "disabled" })
                                @Html.ValidationMessageFor(model => model.UserName)
                            </div>
                            <div class="form-group">
                                <label>
                                    @resShared.lblFullname
                                </label>
                                @Html.TextBoxFor(model => model.UserFullName, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>
                                    @resShared.lblIC
                                </label>
                                @Html.TextBoxFor(model => model.UserIC, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>
                                    @resShared.lblMobile
                                </label>
                                @Html.TextBoxFor(model => model.UserMobile, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>
                                    @resShared.lblEmail
                                </label>
                                @Html.TextBoxFor(model => model.UserEmail, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>
                                    @resShared.lblCountry
                                </label>
                                @Html.DropDownListFor(model => model.SelectedCountry, @Model.Countries, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>
                                    @resShared.lblDate
                                </label>
                                @Html.TextBoxFor(model => model.DateJoined, "{0:dd/MM/yyyy hh:mm:ss tt}", new { id = "DODate1", @class = "form-control", disabled = "disabled" })
                                @*@Html.TextBoxFor(model => model.DateJoined, new { @class = "form-control", value = @Convert.ToDateTime(@Model.DateJoined).ToString("dd/MM/yyyy hh:mm:ss tt"), disabled = "disabled" })*@
                                @Html.ValidationMessageFor(model => model.DateJoined)
                            </div>

                        </div>
                        <br />
                        <br />
                        @if (Session["EditChangePassword"] == "true")
    {
                    <tr>
                        <td colspan="2">
                            <div style="text-align: center">
                                <input type="button" id="btnSaveCP" value="@resShared.btnSave" class="btn btn-sm btn-success" style="width:100px" />
                            </div>
                        </td>
                    </tr>
}
                        <br />
                        <br />
                        <br />


                    </form>
        </div>
     </div>                         
}