﻿@using resShared = ECFBase.Resources.OneForAll.OneForAll;

@{
    ViewBag.Title = "Index";
}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="stylesheet" type='text/css' href='../../Content/bootstrap.css' />
<link rel="stylesheet" type='text/css' href='../../Content/sb-admin.css' />
<link rel="stylesheet" type='text/css' href='../../Content/plugins/morris.css' />
<link rel="stylesheet" type='text/css' href='../../Content/font-awesome-4.1.0/css/font-awesome.css' />

<script type="text/javascript">
    $(document).ready(function () {
       // window.location.href = "/Member/MemberLogin";
        
        $("#btnMemberLogin").click(function (event) {
            window.location.href = "/Member/MemberLogin";
       });

        $("#btnAdminLogin").click(function (event) {
            window.location.href = "/Admin/AdminLogin";
        });

    });
</script>


<div style="margin-left:10px">
    <h2>@resShared.lblYiCommm</h2>
    <button id="btnMemberLogin" type="button" class="btn btn-sm btn-success" style="width:100px">Member Login</button>
    <button id="btnAdminLogin" type="button" class="btn btn-sm btn-success" style="width:100px">Admin Login</button>
</div>