﻿@model ECFBase.Models.InboxModel
@using resShared = ECFBase.Resources.OneForAll.OneForAll; 
@using System.Globalization
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/ckeditor/ckeditor.js")" type="text/javascript"></script>
<script type="text/javascript">

    $('.ckeditor').each(function () {
        CKEDITOR.replace($(this).attr('id'), {
            contentsLangDirection: 'ltr',
            width: "750px"
        });
    });

    $("#SelectedLanguage").change(function () {
        $("[id *= 'table|']").hide();
        $("[id='table|" + $(document.getElementById("SelectedLanguage")).val() + "']").show();
        $("[id *= 'Name|']").hide();
        $("[id='Name|" + $(document.getElementById("SelectedLanguage")).val() + "']").show();
    });

    $("#btnSave").click(function (evt) {
        $('#Loading').show();
        if ($('#editBSForm').valid()) {

            for (instance in CKEDITOR.instances)
                CKEDITOR.instances[instance].updateElement();

            $.ajax({
                type: "POST",
                url: "/AdminHelpDesk/CreateNewMessageMethod",
                data: $("#editBSForm").serialize(),
                success: function (data) {
                    $("#main-content").html(data);
                    alert("@resShared.msgSaveSuccessfully");
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        }
    });

</script>
<div id="editBSDiv">
    @{ Html.EnableClientValidation(true); }
    @using (Html.BeginForm("EditBSFromDialog", "AdminSettings", FormMethod.Post, new { name = "editBSForm", id = "editBSForm" }))
    {
        @Html.ValidationSummary(true)
        <div class="row">
            <div class="col-lg-12">
                      <h2 style="padding-left:10px;">@resShared.mnuInbox</h2>
                          
        <!-- Begin breadcrumb -->
				<ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
					<li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
					<li><a href="#">@resShared.mnuHelpDesk</a></li>
					<li><a href="#">@resShared.mnuInbox</a></li>
					<li class="active"><a href="#" onclick="dummy(0);return false;">@resShared.mnuInbox</a></li>
				</ol>
		<!-- End breadcrumb -->
                <h1 class="page-sub-header">
                    @Html.HiddenFor(model => model.InboxID)
                    @Html.HiddenFor(model => model.SelectedType)
                    @Html.ValidationMessageFor(model => model.InboxID)
                    @Html.ValidationMessageFor(model => model.SelectedType)
                </h1>
            </div>
        </div>
        <div class="row" align="center">
            <div>
                <form role="form">
                <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                    <div class="form-group">
                        <label>@resShared.lblEmailType</label>
                        @Html.DropDownListFor(model => model.SelectedType, @Model.QuestionTypes, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>@resShared.lblSelectLanguage</label>
                        @Html.DropDownListFor(model => model.SelectedLanguage, @Model.LanguageList, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>
                            <strong>@resShared.lblSendTo <span style="color: Red">*</span></strong></label>
                        @if (Model.InboxID == 0)
                        {
                            <div>
                                Use ; for multiple users.
                            </div>
                            @Html.TextBoxFor(model => model.SendTo, new { @class = "form-control" })
                        }
                        else
                        {
                            <div>@Model.SendTo</div>
                        }
                    </div>
                    <div class="form-group">
                        @for (var i = 0; i < Model.TitleLanguageList.Count; i++)
                        {
                            string nameVisibility = "none";
                            string rowId = Model.TitleLanguageList[i].LanguageCode;

                            if (Model.TitleLanguageList[i].LanguageCode == Model.SelectedLanguage)
                            { nameVisibility = "table-row"; }
                            <tr style="display:@nameVisibility">
                                <td width="50%" style="padding-bottom: 100px">
                                    <label for="Position" id="Name|@rowId" style="width:100%; display:@nameVisibility">
                                        @resShared.lblTitle ( @Html.DisplayFor(x => x.TitleLanguageList[i].LanguageName)
                                        )
                                    </label>
                                </td>
                                <td>
                                    @Html.HiddenFor(x => x.TitleLanguageList[i].LanguageCode)
                                    @Html.HiddenFor(x => x.TitleLanguageList[i].LanguageName)
                                    @Html.TextBoxFor(x => x.TitleLanguageList[i].Text, new { @class = "form-control", style = "display:" + @nameVisibility, id = "Name|" + @rowId })
                                </td>
                            </tr>
                        }
                    </div>
                    <div class="form-group">
                        @for (var i = 0; i < Model.ContentLanguageList.Count; i++)
                        {
                            string nameVisibility = "none";
                            string descriptionId = Model.ContentLanguageList[i].LanguageCode;

                            if (Model.ContentLanguageList[i].LanguageCode == Model.SelectedLanguage)
                            {
                                nameVisibility = "table-row";
                            }
                            <table id="table|@descriptionId" style="display:@nameVisibility">
                                <tr>
                                    <td width="50%">
                                        <label for="Position" style="width: 100%;">
                                            @resShared.lblContent ( @Html.DisplayFor(x => x.ContentLanguageList[i].LanguageName)
                                            )
                                        </label>
                                    </td>
                                </tr>
                                </table>
                                <div class="table-responsive">
                                    <table id="table|@descriptionId" style="display:@nameVisibility">
                                        <tr>
                                            <td>
                                                @Html.HiddenFor(x => x.ContentLanguageList[i].LanguageCode)
                                                @Html.HiddenFor(x => x.ContentLanguageList[i].LanguageName)
                                                @Html.TextAreaFor(x => x.ContentLanguageList[i].Text, new { @class = "ckeditor", id = "Content|" + @descriptionId })
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                        }
                    </div>
                    <div class="form-group">
                        @for (var i = 0; i < Model.ReplyLanguageList.Count; i++)
                        {
                            string nameVisibility = "none";
                            string descriptionId = Model.ReplyLanguageList[i].LanguageCode;

                            if (Model.ReplyLanguageList[i].LanguageCode == Model.SelectedLanguage)
                            {
                                nameVisibility = "table-row";
                            }
                            <table id="table|@descriptionId" style="display:@nameVisibility">
                                <tr>
                                    <td width="50%">
                                        <label for="Position" style="width: 100%;">
                                            @resShared.lblReply ( @Html.DisplayFor(x => x.ReplyLanguageList[i].LanguageName)
                                            )
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.HiddenFor(x => x.ReplyLanguageList[i].LanguageCode)
                                        @Html.HiddenFor(x => x.ReplyLanguageList[i].LanguageName)
                                        @Html.TextAreaFor(x => x.ReplyLanguageList[i].Text, new { @class = "ckeditor", id = "Content1|" + @descriptionId })
                                    </td>
                                </tr>
                            </table>
                        }
                    </div>
                </div>
                @if (Session["EditCorporateNews"] == "true")
                {  
                    <div class="BtnClass" style="text-align: center">
                        <button id="btnSave" type="button" class="btn btn-sm btn-success" style="width: 150px">@resShared.btnSave</button>
                    </div>
                }
                </form>
            </div>
        </div>
    }
</div>
