﻿@using resShared = ECFBase.Resources.OneForAll.OneForAll;
@using ECFBase.Models
@model ShareLogModel
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


<div class="row">
    <div class="col-lg-12">
        <h2 style="padding-left:10px;">Buying Queue</h2>
        <!-- Begin breadcrumb -->
        <ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
            <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
            <li><a href="#">@resShared.mnuShare</a></li>
            <li class="active"><a href="#" onclick="dummy(0);return false;">Buying Queue</a></li>

        </ol>
        <!-- End breadcrumb -->
        <h1 class="page-sub-header"></h1>
    </div>
</div>
<div>
    <div class="grid" style="margin-left: 5px;" id="grid">
        @if (Model != null)
        {
            <div class="grid">
                <br />
                <div class="table-responsive" style="padding:10px;">
                    <table id="tablestyle" class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr style="background-color: #414558;">
                                <th style="text-align: center; color:White">
                                    Order ID
                                </th>
                                <th style="text-align: center; color:White">
                                    Username
                                </th>
                                <th style="text-align: center; color:White">
                                    Amount
                                </th>
                                <th style="text-align: center; color:White">
                                    Unit
                                </th>
                                <th style="text-align: center; color:White">
                                    Type
                                </th>
                                <th style="text-align: center; color:White">
                                    Status
                                </th>
                                <th style="text-align: center; color:White">
                                    Place Order Date
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.MemberPreTreadeList)
                            {
                            <tr>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.ID)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.Username)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.Amount)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.ShareUnit)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.Type)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.Option)
                                </td>
                                <td align="center">
                                    @*@Html.DisplayFor(modelItem => item.PlaceOrderDate)*@
                                    @Html.DisplayFor(modelItem => item.PlaceOrderDate, "{0:dd/MM/yyyy}")
                                </td>
                            </tr>

                            }

                            <tr style="background-color: #414558;">
                                <td align="center"></td>
                                <td style="text-align: center; color:White">
                                    Grand Total :
                                </td>
                                <td style="text-align: center; color:White">
                                    @Model.Total
                                </td>
                                <td style="text-align: center; color:White">
                                    @Model.TotalUnit
                                </td>
                                <td align="center"></td>
                                <td align="center"></td>
                                <td align="center"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
</div>
