﻿@using resShared = ECFBase.Resources.OneForAll.OneForAll;

@model ECFBase.Models.UsernameSearchModel

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script type="text/javascript">

    $("#btnSearchUser").click(function (evt) {
    
     $.validator.unobtrusive.parse($('#editBSForm'));
        if (jQuery("#editBSForm").valid() == true) {
            $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/AdminShare/CompanyShareAccSearchUser",
                data: { Username: $('#Username').val() },
                success: function (data) {
                    $("#main-content").html(data);
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        } return false;
    });  
</script>

@using (Html.BeginForm("EditBSFromDialog", "AdminSettings", FormMethod.Post, new { name = "editBSForm", id = "editBSForm" }))
{
    <div class="row">
        <div class="col-lg-12">
         <h2 style="padding-left:10px;">Company Account</h2>


        <!-- Begin breadcrumb -->
				<ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
					<li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
					<li><a href="#">Share</a></li>
					<li class="active"><a href="#" onclick="dummy(0);return false;">Company Share Account</a></li>					
                    					
				</ol>
		<!-- End breadcrumb -->
            <h1 class="page-sub-header"></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            Company Share Account
            <div class="form-group" style="padding-left:10px;">
                <label>@resShared.lblUsername <span style="color: Red">*</span></label>
                @Html.TextBoxFor(model => model.Username, new { @class = "form-control", placeholder = @resShared.lblEnterText })
                <p class="help-block"> @Html.ValidationMessageFor(model => model.Username)</p>
            </div>
            <div class="form-group" style="padding-left:10px;">
                <button id="btnSearchUser" type="button" style="width:100px" class="btn btn-sm btn-success">@resShared.btnNext</button>
            </div>
        </div>
    </div>
}
   