﻿@using resShared = ECFBase.Resources.OneForAll.OneForAll;
@using resHome = ECFBase.Resources.OneForAll.OneForAll;
@using resShopCenter = ECFBase.Resources.OneForAll.OneForAll;
@using ECFBase.Models
@model PaginationMobileAgent
<script type="text/javascript">

    $.ajaxSetup({ cache: false });

    $("#btnPage").click(function (evt) {
        $('#Loading').show();
        var e = document.getElementById("page")
        var page = e.options[e.selectedIndex].value;

        $.ajax({
            type: "POST",
            url: "/AdminShare/CompanyShareMemberList",
            data: { selectedPage: page, searchMember: $('#searchText').val() },
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    $("[id *= 'btnAppointMobileUser']").click(function (ev) {
        $('#Loading').show();
        ev.preventDefault();
        AppointStockist();
    });

    $("#Username").keypress(function (e) {
        code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13)
            checkUserName();
    });

    $("#Username").focusout(function (e) {
        checkUserName();
    });

    function checkUserName() {
        $.ajax({
            type: "POST",
            url: "/AdminStock/findUserName",
            dataType: "json",
            type: "POST",
            delay: 0,
            data: { memberID: $('#Username').val() },
            success: function (data) {
                $('#Name').val(data);
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
            }
        });
    }

    function AppointStockist() {
        $.ajax({
            type: "POST",
            url: "/AdminShare/AppointCompanyShareMember",
            data: { username: $('#Username').val() },
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    };

    $(".DeleteData").click(function (e) {
        document.getElementById("eliminateId").value = this.id;
    });

    $("#OkBtn").click(function (evt) {
        $('#Loading').show();
        var username = document.getElementById("eliminateId").value;
        disqualifyMobile(username);
        $("[class *= 'modal-backdrop']").hide();
    });

    function disqualifyMobile(selectedAgent) {
        $.ajax({
            type: "POST",
            url: "/AdminShare/DisqualifyCompanyShareMember",
            data: { username: selectedAgent },
            success: function (data) {
                $("#main-content").html(data);
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
            }
        });
    };

    $("#btnSearchByUsername").click(function (evt) {
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/AdminShare/CompanyShareMemberList",
            data: { selectedPage: 1, searchMemberList: $('#searchFC').val() },
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });
</script>
<div class="modal fade" id="confirmDialog" title="message title" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 450px">
        <div class="modal-content" style="text-align: center" align="center">
            <div class="modal-header" style="height: 70px">
                <button type="button" class="close" data-dismiss="modal">
                    ×</button>
                <h4>@resShared.lblConfirmation</h4>
            </div>
            <div class="modal-body">
                @resHome.WarningDisqualifyMobile
            </div>
            <div class="modal-footer">
                <button type="button" id="OkBtn" class="btn btn-info" data-dismiss="modal" style="width: 100px;"
                    aria-hidden="true">@resShared.lblYes</button>
                <button type="button" id="CancelBtn" class="btn btn-info" data-dismiss="modal" style="width: 100px;
                    padding-left: 10px" aria-hidden="true">@resShared.lblNo</button>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="row">
        <div class="col-lg-12">
            <h2 style="padding-left:10px;">Company Account</h2>
        <!-- Begin breadcrumb -->
					<ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
						<li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
						<li><a href="#">Share</a></li>
						<li class="active"><a href="#" onclick="dummy(0);return false;">Company Account</a></li>
					</ol>
					<!-- End breadcrumb -->

            <h1 class="page-sub-header">
            </h1>
        </div>
    </div>
    <div>
    <input type="hidden" id="eliminateId" />      
        <div class="grid" style="margin-left: 5px;" id="grid">
            @if (Model != null)
            { 
                <div class="grid">
                    <table width="100%" class="test">
                        <tr>
                            <td style="text-align: right">
                                <label>@resHome.lblUsername:</label>
                            </td>
                            <td style="padding-left: 10px; width: 100px">
                                @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
                            </td>                           
                        </tr>
                        <tr>
                            <td style="text-align: right">
                                <label>@resHome.lblName:</label>
                            </td>
                            <td style="padding-left: 10px; width: 100px">
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @readonly = "readonly" })
                            </td>
                            <td style="padding-left: 10px">
                                <button id="btnAppointMobileUser" type="button" class="btn btn-sm btn-success" style="width: 100px">@resShared.btnAdd</button>
                            </td>
                        </tr>                          
                        <tr><td><br /></td></tr>
                        <tr>
                            <td style="text-align: right">
                                <label>@resShared.btnSearch:</label>
                            </td>
                            <td style="padding-left: 10px; width: 200px">
                                  @Html.TextBoxFor(model => model.SearchName, new { @class = "form-control", @id = "searchFC" })
                            </td>
                            <td style="padding-left: 10px">
                                <button id="btnSearchByUsername" type="button" class="btn btn-sm btn-success" style="width: 100px">
                                @resShared.btnSearch</button>
                            </td>
                        </tr>
                    </table>
                    <br />
                    <div class="table-responsive">
                        <table id="tablestyle" class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr style="background-color: #414558;">
                                    <th style="text-align: center; color:white">
                                        @resShared.lblNumber
                                    </th>
                                    <th style="text-align: center; color:white">
                                        @resHome.lblMemberID
                                    </th>
                                    <th style="text-align: center; color:white">
                                        @resHome.lblFullname
                                    </th>
                                    <th style="text-align: center; color:white">
                                        @resHome.lblDate
                                    </th>
                                    <th style="text-align: center; color:white">
                                        @resHome.lblCountry
                                    </th>                                   
                                    @*<th style="text-align: center; color:white">
                                        @resShared.mnuAdminUser
                                    </th>
                                    <th style="text-align: center; color:white">
                                        @resHome.lblStatusApproved
                                    </th>*@
                                    <th style="text-align: center; color:white">
                                        @resHome.lblAction
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.MobileList)
                                {                            
                                    <tr>
                                        <td align="center">
                                            @Html.DisplayFor(modelItem => item.Number)
                                        </td>
                                        <td align="center">
                                            @Html.DisplayFor(modelItem => item.AgentID)
                                        </td>
                                        <td align="center">
                                            @Html.DisplayFor(modelItem => item.FullName)
                                        </td>
                                        <td align="center">
                                            @Html.DisplayFor(modelItem => item.JoinedDate, "{0:dd/MM/yyyy}")
                                        </td>
                                        <td align="center">
                                            @Html.DisplayFor(modelItem => item.Country)
                                        </td>
                                        @*<td align="center">
                                            @Html.DisplayFor(modelItem => item.AdminApproved)
                                        </td>
                                        <td align="center">
                                            @Html.DisplayFor(modelItem => item.DateApproved, "{0:dd/MM/yyyy}")
                                        </td>*@
                                        <td align="center" style="width: 60px">
                                            <button style="text-decoration:none;" class="DeleteData" id="@item.AgentID" data-toggle="modal" data-target="#confirmDialog">
                                                @Html.Image(String.Concat("imgDeleteAd|", @item.AgentID), "~/Images/60-x-red.png", "Delete", 7, 0, 0)
                                            </button>
                                        </td>
                                    </tr>
                                
                                }
                            </tbody>
                        </table>
                    </div>
                    <table width="auto" style="text-align:right; margin-right:0px; margin-left:auto;">
                        <tr>
                            <td style="text-align: right">
                                <div class="BtnClass" style="float: right;">
                                    @Html.DropDownList("page", @Model.Pages, new { @class = "form-control", style = "width:80px;" })
                                
                                </div>
                            </td>
                            <td style="text-align: right">
                                <button id="btnPage" type="button" class="btn btn-sm btn-success" style="width: 100px">@resShared.btnView</button>
                            </td>
                        </tr>
                    </table>
                </div>
            }
        </div>
    </div>
</div>