﻿@model ECFBase.Models.ShareLogModel
@using res = ECFBase.Resources.OneForAll.OneForAll;
@using System.Globalization

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/ckeditor/ckeditor.js")" type="text/javascript"></script>
<script type="text/javascript">
    $("#btnSave").click(function (evt) {
        $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/AdminShare/OversubscribedSettingMethod",
                data: { Unit: $(document.getElementById("Unit")).val() },
                success: function (data) {
                    alert("@res.msgSaveSuccessfully");
                    $("#main-content").html(data);
                   $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                   $('#Loading').hide();
                }
            });
    });

    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }

</script>
<div id="editBSDiv">
    @{ Html.EnableClientValidation(true); }
    @using (Html.BeginForm("OversubscribedSettingMethod", "AdminShare", FormMethod.Post, new { enctype = "multipart/form-data", name = "editBSForm", id = "editBSForm" }))
    {
        @Html.ValidationSummary(true)

        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h2 style="padding-left:10px;">Oversubscribed Setting</h2>
            <!-- Begin breadcrumb -->
				<ol class="breadcrumb default square rsaquo sm no-border ">
					<li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
					<li><a href="#">@res.mnuShare</a></li>
					<li class="active"><a href="#">Oversubscribed Setting</a></li>
				</ol>
	    	<!-- End breadcrumb -->
                    <h1 class="page-sub-header"></h1>
                </div>
            </div>
            <!-- /.row -->
            <div class="row" align="center">
                <div>
                    <form role="form">
                        <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                            <div class="form-group">
                                <label>
                                    Current Unit
                                </label>
                                 @Html.TextBoxFor(model => model.Oversubscribed, new { @class = "form-control"  , @disabled = true })
                            </div>
                            <div class="form-group">
                                <label>
                                   Key In Unit
                                </label>
                                 @Html.TextBoxFor(model => model.OversubscribedUnit, new { @class = "form-control" , id = "Unit", @onkeypress = "return isNumber(event)" })
                            </div>
                            
                        </div>
                    </form>
                </div>
                <div class="BtnClass">
                    <button id="btnSave" type="button" class="btn btn-sm btn-success" style="width: 150px">@res.btnSave</button>
                </div>
                <br />
            </div>
        </div>
    }

</div>
