﻿@using resShared = ECFBase.Resources.OneForAll.OneForAll;
@using ECFBase.Models
@model ShareLogModel
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    //$(function () {
    //    $("#DateFromdatepicker").datepicker();

    //    $("#DateTodatepicker").datepicker();

    //});
    $(function () {

        $("#DateFromdatepicker").datepicker({
            altField: "#alternate",
            altFormat: "DD, d MM, yy",
            format: 'dd/mm/yyyy'
        });
    });

    $(function () {

        $("#DateTodatepicker").datepicker({
            altField: "#alternate",
            altFormat: "DD, d MM, yy",
            format: 'dd/mm/yyyy'
        });
    }); 

    $("#btnSearch").click(function (evt) {       
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/AdminShare/ShareRateSellingDetail",
            data: { Rate: $(document.getElementById("Rate")).val(), DateFrom: $(document.getElementById("DateFromdatepicker")).val(), DateTo: $(document.getElementById("DateTodatepicker")).val() },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });
</script>

<div class="row">
    <div class="col-lg-12">
        <h2 style="padding-left:10px;">eFund Selling Detail</h2>
        <!-- Begin breadcrumb -->
        <ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
            <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
            <li><a href="#">@resShared.mnuShare</a></li>
            <li class="active"><a href="#" onclick="dummy(0);return false;">eFund Selling Detail</a></li>

        </ol>
        <!-- End breadcrumb -->
        <h1 class="page-sub-header"></h1>
    </div>
</div>
<div>
    <div class="grid" style="margin-left: 5px;" id="grid">
        <div class="row">
            <div class="col-xs-12" style="padding-bottom:10px; padding-left:0">
                <div class="col-lg-2 col-md-0 col-sm-0 col-xs-0" style="text-align:right">

                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6" style="text-align:right">
                    @resShared.lblRate:
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6" style="padding:0">
                    @Html.TextBox("Rate", @Model.TheRate, new { @id = "Rate", @class = "form-control" })
                </div>
                <div class="col-lg-2 col-md-1 col-sm-1 col-xs-1" style="padding:0">
                    
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6">
                    <input id="btnSearch" value="@resShared.btnSearch" class="btn btn-sm btn-success" width:100px" />
                </div>

                <div class="col-lg-2 col-md01 col-sm-0 col-xs-0" style="text-align:right">

                </div>
            </div>
            <div class="col-xs-12" style="padding-bottom:10px; padding-left:0">
                <center>
                    <a href="@Url.Action("ExportShareRateSellingDetail", "AdminShare", new {Rate= @Model.ShareRate, DateFrom= @Model.DateFrom, DateTo= @Model.DateTo })" class="button" target="_blank">Export</a>
                </center>
            </div>

        </div>

            @if (Model != null)
    {
        <div class="grid">
            <br />
            <div class="table-responsive" style="padding:10px;">
                <table id="tablestyle" class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr style="background-color: #414558;">
                            <th style="text-align: center; color:White">
                                @resShared.lblDate
                            </th>
                            <th style="text-align: center; color:White">
                                Buyer ID
                            </th>
                            <th style="text-align: center; color:White">
                                @resShared.lblName
                            </th>
                            <th style="text-align: center; color:White">
                                @resShared.lblType
                            </th>
                            <th style="text-align: center; color:White">
                                @resShared.lblRate
                            </th>
                            <th style="text-align: center; color:White">
                                @resShared.lblUnit
                            </th>
                            <th style="text-align: center; color:White">
                                Seller ID
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.MemberPreTreadeList)
                {
                        <tr>
                            <td align="center">
                                @*@Html.DisplayFor(modelItem => item.Date)*@

                                @Html.DisplayFor(modelItem => item.Date, "{0:dd/MM/yyyy}")
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.Username)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.Rate)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.ShareUnit)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.Sell)
                            </td>
                        </tr>

        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td align="center"></td>
                            <td align="center"></td>
                            <td align="center"></td>
                            <td align="center"></td>
                            <td align="right">
                                Total Unit
                            </td>
                            <td align="center">
                                @Model.TotalUnit
                            </td>
                            <td align="center"></td>
                        </tr>

                    </tfoot>
                </table>
            </div>
        </div>
}
        </div>
</div>
