﻿@model ECFBase.Models.InfoDeskModel
@using resShared = ECFBase.Resources.OneForAll.OneForAll; 
@using System.Globalization
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/ckeditor/ckeditor.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('.ckeditor').each(function () {
            CKEDITOR.replace($(this).attr('id'), {
                contentsLangDirection: 'ltr',
                width: "750px"
            });
        });

        CKEDITOR.config.toolbar = [
           ['Styles', 'Format', 'Font', 'FontSize'],
           '/',
           ['Bold', 'Italic', 'Underline', 'StrikeThrough', '-', 'Undo', 'Redo', '-', 'Cut', 'Copy', 'Paste', 'Find', 'Replace', '-', 'Outdent', 'Indent', '-', 'Print'],
           '/',
           ['NumberedList', 'BulletedList', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'],
           ['Image', 'Table', '-', 'Link', 'Flash', 'Smiley', 'TextColor', 'BGColor', 'Source']
        ];

        $("#SelectedLanguage").change(function () {
            $("[id *= 'Title|']").hide();
            $("[id='Title|" + $(document.getElementById("SelectedLanguage")).val() + "']").show();
            $("[id *= 'Content1|']").hide();
            $("[id='Content1|" + $(document.getElementById("SelectedLanguage")).val() + "']").show();
            $("[id *= 'Content2|']").hide();
            $("[id='Content2|" + $(document.getElementById("SelectedLanguage")).val() + "']").show();
        });

    });
</script>
<div id="editBSDiv">
    @{ Html.EnableClientValidation(true); }
    @using (Html.BeginForm("EditBSFromDialog", "AdminSettings", FormMethod.Post, new { name = "editBSForm", id = "editBSForm" }))
    {
        @Html.ValidationSummary(true)
        <div id="t1" align="left">
            <br /><br />
            @Html.HiddenFor(model => model.InfoDeskID)
            @Html.HiddenFor(model => model.InfoDeskType)
            <table width="798" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td colspan="2">
                        <center>
                            <div class="panel landing-info-panel">
                                <div class="panel-header">
                                    <div class="panel-header-label">@resShared.mnuNews</div>
                                </div>
                                <div class="panel-content table-content">
                                    <table class="tbl-info">
                                        <tr>
                                            <td width="15%" class="label-column">@Html.Label(@resShared.lblTitle)
                                            </td>
                                            <td width="85%">@Model.TitleLanguageList[0].LanguageName
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="15%" class="label-column">@Html.Label(@resShared.lblPostDate)
                                            </td>
                                            <td width="85%">@Model.Created.ToShortDateString()
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label-column">@Html.Label(@resShared.lblContent)
                                            </td>
                                            <td>@Html.Raw(Model.ContentLanguageList[0].LanguageName)
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </center>
                    </td>
                </tr>
            </table>
        </div>
    }
</div>
