﻿@using ECFBase.Models 
@using resShared = ECFBase.Resources.OneForAll.OneForAll;

@model PaginationInfoDeskModel

<script type="text/javascript">

    $("#btnPage").click(function (evt) {
        $('#Loading').show();

            var e = document.getElementById("page");
            var page = e.options[e.selectedIndex].value;

            $.ajax({
                type: "POST",
                url: "/MemberInfoDesk/MyNews",
                data: { selectedPage: page },
                success: function (data) {
                    $("#main-content").html(data);
                   $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                   $('#Loading').hide();
                }
            });
        });

        $(".EditData").click(function (e) {
            $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/MemberInfoDesk/MyNewsData",
                data: { NewsID: this.id },
                success: function (data) {
                    $("#main-content").html(data);
                   $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                   $('#Loading').hide();
                }
            });
        });
</script>

<div id="reportBS">
    <div class="row">
        <div class="col-lg-12">
            <h2 style="padding-left:10px;">@resShared.mnuNews</h2>
            <!-- Begin breadcrumb -->
            <ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
                <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                <li><a href="#">@resShared.mnuHelpDesk</a></li>
                <li class="active"><a href="#">@resShared.mnuNews</a></li>
            </ol>
            <!-- End breadcrumb -->
        </div>
    </div>
    <div class="grid" style="margin-left: 5px;" id="grid">
            <div class="table-responsive">
                <table id="tablestyle" class="table table-bordered table-hover table-striped" >
                    <thead>
                        <tr style="background-color: #080808;">
                            <th style="text-align:center">                                  
                                 @Html.Label(@resShared.lblNumber, new { @style = "color:White" })
                            </th>
                            <th style="padding: 5px; width: 70%">
                                @Html.Label(@resShared.lblTitle, new { @style = "color:White" })
                            </th>
                            <th>
                                @Html.Label(@resShared.lblPostDate, new { @style = "color:White" })
                            </th>
                        </tr>
                    </thead>
                    <tbody>
						@if (Model.InfoDeskList.Count == 0)
                        {
                            <tr style="height: 25px; border-top: 2px solid white;">
                                <td style="padding: 5px;" colspan="10">
                                    @resShared.lblNoRecFound
                                </td>
                            </tr>
                        }
                        @foreach (var item in Model.InfoDeskList)
                        { 
                            <tr style="height: 25px; border-top: 2px solid white;">
                                <td style="text-align:center">
                                    @Html.DisplayFor(modelItem => item.Number)
                                </td>
                                <td style="text-align:center">
                                    <a style="text-decoration:none;" id="@item.InfoDeskID" class="EditData">
                                        @Html.DisplayFor(modelItem => item.InfoDeskTitle)
                                    </a>
                                </td>
                                <td style="text-align:center">
                                    @Html.DisplayFor(modelItem => item.InfoDeskPostDate)
                                </td>
                            </tr> 
                        }
                    </tbody>
				</table>
                </div>
			@if (Model.InfoDeskList.Count != 0)
            {
				<table width="100%">
					<tr>
						<td style="text-align: right">
							<div class="BtnClass" style="float: right;">
								@Html.DropDownList("page", @Model.Pages, new { style = "width:50px;" })
								<input id="btnPage" value="@resShared.btnNextPage" class="button" />
							</div>
						</td>
					</tr>
				</table>
			}        
    </div>
</div>
