﻿@using ECFBase.Models
@model PaginationMobileAgent
@using resShared = ECFBase.Resources.OneForAll.OneForAll;
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $("#btnPage").click(function (evt) {
        $('#Loading').show();
        var e = document.getElementById("page")
        var page = e.options[e.selectedIndex].value;
        $.ajax({
            type: "POST",
            url: "/AdminStock/RequestTopUpHistory",
            data: { selectedPage: page },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });


</script>
<div>
    <div class="row">
        <div class="col-lg-12">
            <h2 style="padding-left:10px;">@resShared.lblTopUpReqHis</h2>
            <!-- Begin breadcrumb -->
            <ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
                <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                <li><a href="#">@resShared.lblMobile</a></li>
                <li class="active"><a href="#" onclick="dummy(0);return false;">@resShared.lblTopUpReqHis</a></li>
            </ol>
            @*<ol class="breadcrumb">
                <li><i class="fa fa-dashboard"></i><a href="">@resShared.lblTopUpReqHis</a> </li>
            </ol>*@
            <h1 class="page-sub-header"></h1>
        </div>
    </div>
    <div class="table-responsive">
        <table id="tablestyle" class="table table-bordered table-hover table-striped">
            <thead>
                <tr style="background-color: #080808;">
                    <th style="text-align: center; color: White">
                        @resShared.lblDate
                    </th>
                    <th style="text-align: center; color: White">
                        @resShared.lblReference
                    </th>
                    <th style="text-align: center; color: White">
                        @resShared.lblStatus
                    </th>
                    <th style="text-align: center; color: White">
                        @resShared.lblUsername
                    </th>
                    <th style="text-align: center; color: White">
                        @resShared.lblFullname
                    </th>
                    <th style="text-align: center; color: White">
                        @resShared.lblTopUpFor
                    </th>
                    <th style="text-align: center; color: White">
                        @resShared.mnuCurrency
                    </th>
                    <th style="text-align: center; color: White">
                        @resShared.lblLocalAmount
                    </th>
                    <th style="text-align: center; color: White">
                        @resShared.lblAmountUSD
                    </th>           
                    <th style="text-align: center; color: White">
                        @resShared.lblApprovedBy
                    </th>
                    <th style="text-align: center; color: White">
                        @resShared.lblApprovedDate
                    </th>
                    <th style="text-align: center; color: White">
                        @resShared.lblAction
                    </th>
                    <th style="text-align: center; color: White">
                        @resShared.lblVerifiedBy
                    </th>
                    <th style="text-align: center; color: White">
                        @resShared.lblVerifiedOn
                    </th>
                </tr>
                @if (Model.MobileTopUpList.Count == 0)
                {
                    <tr style="height: 25px; border-top: 2px solid white;">
                        <td style="padding: 5px;" colspan="10">
                            @resShared.lblNoRecFound
                        </td>
                    </tr>
                }
            </thead>
            <tbody>
                @if (Model.MobileTopUpList.Count != 0)
                {
                    foreach (var item in Model.MobileTopUpList)
                    {
                        <tr>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.Date, "{0:dd/MM/yyyy}")
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.ReferenceOrder)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.MemberID)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.TopUpFor)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.Currency)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.LocalAmount)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.GeneratedBy)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.GeneratedOn, "{0:dd/MM/yyyy}")
                            </td>
                            <td>
                                @if (string.IsNullOrEmpty(@item.ImagePath))
                                {
                                }
                                else
                                {
                                    <a href="@Url.Action("DownloadPaymentSlip", "AdminStock", new { fileName = @item.ImagePath, refOrder = @item.ReferenceOrder })">
                                        <img src="/Images/Download.png" border="0" alt="" style="width: 40px; min-height: 40px;" />
                                    </a>
                                }
                                
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.AdminID)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.ProcessedDate)
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    @if (Model.MobileTopUpList.Count > 0)
    {
        <table width="auto" style="text-align:right; margin-right:0px; margin-left:auto;">
            <tr>
                <td style="text-align: right">
                    <div class="BtnClass" style="float: right;">
                        @Html.DropDownList("page", @Model.Pages, new { @class = "form-control", style = "width:80px;" }) 
                    </div>
                </td>
                <td style="text-align: right">
                    <div class="BtnClass" style="float: right;"> 
                        <button id="btnPage" type="button" class="btn btn-sm btn-success" style="width: 100px">@resShared.btnView</button>
                    </div>
                </td>
            </tr>
        </table>
    }
</div>
