.side-bar-right-logout {
	position: relative;
	display: block;
	margin-right:15px;
	visiblity: visible;
}
.side-bar-right-logout  > a { 
	padding-top: 19px;
    padding-bottom: 19px;
    height: 60px;
    color: #656D78;
    position: relative;
	display: block;
	text-decoration :none;
	padding-left:24px;
}
	
.side-bar-right-logout  > a:hover {
	opacity:0.8;
}
	
.leftbar-sign-out { visibility:hidden; }
.side-bar-right-logout  > a > i { font-size:24px; position:absolute; left:0;  margin-top:-4px;}

.scale-text { overflow:hidden;white-space:nowrap;}
.scale-text-wrap {overflow:hidden;}

.top-area  { margin-bottom:15px; display:block;}

.top-area .box-header{ font-size:18px;white-space:nowrap; overflow:hidden;}

.box { 
	display:inline-block;
	width:100%;
	height:100%;
	border-radius:16px;
	background-color:#fff;
	text-align:center;
	padding:15px;
	color:#fff;
}

.top-area .box {
	display:inline-block;
	width:100%;
	height:100%;
	border-radius:6px;
	text-align:center;
	padding:18px 18px 20px 18px;
	color:#fff;
	margin-bottom:15px;
}

.box .box-header {
	font-size: 1.3vw;
	font-weight:700;
}
.box .box-body>i , .box  .box-body span{
	font-weight:700;
}

.main-box {
	width:100%;
	display:table;
	margin:auto;
}	
.main-box-area {
	display:table-cell;
	width: 100%;
	height:auto;
	text-align:left;
	height: 100%;
}
				
.main-banner-area {
	width:500px;
	float:right;
	display:table-cell;
}
				
.main-box-area .box-container { 
	width:33.33%; 
	float:left;
	padding:0px 15px 0px 0px;
	height:100%;
}


.main-box-area .box .box-header { margin-bottom:28px; margin-top:40px;}
.box-header img{ height:auto; width:100%; max-width:100px; }



/************ Table STYLE ****************************/
.table-style2 th,.table-style2 th:hover { background-color: rgba(105,94,74,1) !Important; color:#fff;text-transform: uppercase; font-size:12px;}
.table-style2 tr { font-size:12px; cursor:pointer;}

/**************************************************/


.no-padding { padding:0 !Important;} /* remove padding */
.no-padding-left { padding-left: 0px !Important;} /* remove padding-left */
.no-padding-right { padding-right: 0px !Important;} /* remove padding-left */
.inner-fluid-container
{
	margin: 25px auto 0 auto;display:table;width:100%;height:100%;
}

.chart-area {
max-height:100%;
}
.chart-area .chart-area-title {
    text-transform: uppercase;
    font-size: 12px;    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
	background-color: rgba(105,94,74,1)
}

.mail-top-margin { margin-top:8px;margin-bottom:8px;}
.background-transparent { background-color:transparent !Important; }
.box-mask { position:absolute;left:0;display:table;background-color:rgba(51,51,51,0.2); width:100%; bottom:0px;height:0px;line-height:0px;padding:18px 25px 15px 25px;text-align:right}
.box-padding-bottom { padding-bottom:50px;}

.table_area { padding-bottom:25px;}
.table_area .center { margin-left:auto;margin-right:auto;    display: table;} 
.table_area .pagination {padding:15px;}
.table_area .pagination a { cursor:pointer;  }
.table_area .pagination li {
display:inline-block;
}


.deposit_table {
	display:table;
	margin-bottom:15px;
}

.deposit_table .deposit-label{ 
display:table !Important;
white-space: normal !Important;
padding: .8em .6em .8em .6em !Important;
}

.margin-bottom-25 {
margin-bottom:25px;
}

.margin-bottom-f25 {
margin-bottom:25px !Important;
}

.inputer { 
    position: relative;
    margin-bottom: 10px;
}
	
.inputer .input-wrapper {
    position: relative;
}

.inputer .input-wrapper:before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #f0f0f0;
}

.inputer .input-wrapper:before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #f0f0f0;
}

.inputer.inputer-yellow .input-wrapper:after {
    background: #feea3a;
}

.inputer.inputer-yellow .input-wrapper:after {
    background: #d3a42a;
}
.has-error .inputer .input-wrapper:before, .has-error .inputer .input-wrapper:after {
    background: #ff5722 !important;
}


.upgrade-tab .product-list {
	display:table;
	list-style:none;
	width:100%;
	max-width:280px;
	padding:0;
}


.upgrade-tab .product-list>li {
	color:#222;
	background-color:rgba(0,0,0,0.12);
	text-align:center;
	border:1px solid #222;
	padding:10px;
}

.upgrade-tab .product-list>li:not(:first-child) {
	padding:20px 20px;
	
	
}


.cell-title { display:block; margin-bottom:8px; font-size:14px;}
.upgrade-tab .product-list>li>img{ width:100%; max-width:120px;height:auto;}
.cell-footer { }
.important { font-size:26px; }



.upgrade-tab .product-list > li i.fa-key {
	-ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);

}

.business-plan-tab {
	display:table-cell;
	margin:0 auto;
	width:95%;
 }
  .business-plan-tab ul {
   list-style:none;
  }
 .business-plan-tab li {
	
	border-left:1px solid #222;
	border-right:1px solid #222;
	border-bottom:1px solid #222;
	border-top:1px solid #222;
	padding:10px 10px;
	font-size:10px;
	text-transform:uppercase;
	font-weight:700;
	opacity:0.9;
	
 }
 
 .business-plan-tab li.active {
	background-color:#666;
	box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.25);
 }
 
 .business-plan-tab li > img {
	width:50px;
	height:50px;
	margin-right:15px;
 }
 
 
.progress-bar-vertical {
  width: 10px;
  display: flex;
  align-items: flex-end;
  margin-right: 20px;
  height:100%;
  border-radius:0px 16px 16px 0px;
  box-shadow : inset 0 0 0 1px rgba(0,0,0,0.15);
}

.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
}

.support-logo-title { position:relative;margin:10px auto;display:block;} 
.support-logo-title>div{ margin:0 auto; display:block;text-align:center;}
.support-site { padding:25px 45px 15px 45px; } 
.support-site .content { letter-spacing:0px; line-height:22px; text-align:left; margin:45px auto 15px auto; color :#222;}
.support-site .content > h2 { text-align:center; font-weight:700; color:#888;margin:15px auto 15px auto;}
.support-site .content > .foot { text-align:center; margin-top:25px; } 
.support-site  .support-container-fluid { max-width:1000px; position:relative; margin:auto; }
.faq-container-fluid .faq { margin-top:25px;}
.faq-container-fluid .collapsed { background:transparent;} 
.faq-container-fluid .faq .panel-heading { border:1px solid rgba(0,0,0,0.25); border-radius:3px; box-shadow : inset 0 0 0 1px rgba(0,0,0,0.55); }
.faq-container-fluid .faq .panel-body { margin:-2px 2px 5px 2px; overflow-x:auto; box-shadow : inset 0px 0px 1px 1px rgba(0,0,0,15); }
.faq-container-fluid .faq .panel-body td {padding:4px; }
.faq-container-fluid .faq .panel-heading a { text-decoration:none;}
.faq-container-fluid .faq .panel > .active { background-color:rgba(235,230,89,1);}

.container-search button {
  background: #ebca59;
  color: #000;
  border: 0px;
  margin: 0px 3px;
}

.container-search button:hover {
    background: #ddbc4f;
    color: #000;
}

.tree { background-color:rgba(94,94,94,0.05); }
.tree-tab fieldset.legend { border:1px solid rgba(0, 0, 0, 0.15); margin:15px 0px; background-color:rgba(94,94,94,0.05); }
.tree-tab fieldset.legend legend{font-size:14px;/* font-weight:bold; */ width:auto; border:0; margin-bottom:10px;}
.tree-tab fieldset.legend .row-fluid {margin-bottom:0px!important;}
.tree-tab fieldset.legend ul {margin-bottom:15px;}
.tree-tab fieldset.legend ul li {display:inline-block; margin-right:15px; font-size:12px; line-height:22px;}
.tree-tab fieldset.legend ul li * {display:inline-block; margin-right:5px;}


.border-grandiant-style1 { 
border: 2px solid #d5aa51 !Important;-moz-border-image: -moz-linear-gradient(right, #a28447 0%, #d5aa51 100%);-webkit-border-image: -webkit-linear-gradient(right, #a28447 0%, #d5aa51 100%);border-image: linear-gradient(left, #a28447 0%, #d5aa51 100%);border-image-slice: 1;

}


/* New Tree Placement Css */ 
.diagramDiv
{ 
	height:550px;
	width:95%;margin-left:auto;
	margin-right:auto; 
	text-align: center; 
}

.dialog-table{ background-color:#222;color:#eee; }
		
.dialog-table td { padding:12px;}


