﻿@using resShared = ECFBase.Resources.OneForAll.OneForAll;
@using ECFBase.Models
@model PaginationWalletLogModel
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $("#btnPage").click(function (evt) {
        var e = document.getElementById("page")
        var page = e.options[e.selectedIndex].value;
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/MemberWallet/BonusSummaryReport",
            data: { selectedPage: -1 },
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });

    $("#btnSearch").click(function (evt) {
        var e = document.getElementById("page")
        var page = e.options[e.selectedIndex].value;

        var months = document.getElementById("SelectedMonth")
        var month = months.options[months.selectedIndex].value;

        var years = document.getElementById("SelectedYears")
        var year = years.options[years.selectedIndex].value;
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/MemberWallet/BonusSummaryReport",
            data: { selectedPage: -1, year: year, Month: month },
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });

</script>
<div id="MemberDiv">
    @Html.Hidden("wallettypeid", @Model.TypeOfWallet)
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
         <h2 style="padding-left:10px;">@resShared.mnuBonusSummary</h2>
                    <!-- Begin breadcrumb -->
					<ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
						<li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
						<li><a href="#">@resShared.mnuReports</a></li>
						<li class="active"><a href="#">@resShared.mnuBonusSummary</a></li>
					</ol>
					<!-- End breadcrumb -->

            <div class="col-lg-12"> 
                <h1 class="page-sub-header">                        
                </h1>
            </div>
        </div>
        <!-- /.row -->
        <div class="row" align="center">
            <div>
            <div class="row" align="center">
                    <div style="max-width: 600px; text-align: left">
                        <div class="form-group">
                            <div class="form-group">
                                <b>@resShared.lblMonth</b>
                                    @Html.DropDownListFor(m => m.SelectedMonth, @Model.Months, new { @class = "form-control", style = "width:80px; height:40px;display:inline" })
                                <b>@resShared.lblYear</b>
                                @Html.DropDownListFor(m => m.SelectedYears, @Model.Years, new { @class = "form-control", style = "width:100px; height:40px;display:inline" })

                                <button id="btnSearch" type="button" class="btn btn-sm btn-success" style="width: 100px">@resShared.btnSearch</button>
                            </div>
                                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table id="tablestyle" class="table table-bordered table-hover table-striped">
            <thead>
                <tr style="background-color: #414558; color:White">
                    <th style="text-align: center;">
                        @resShared.lblDate
                    </th>                 
                    <th style="text-align: center;">
                        @resShared.lblSponsor
                    </th>     
                    <th style="text-align: center;">
                        @resShared.lblGroup
                    </th> 
                      <th style="text-align: center;">
                        @resShared.lblLeadership
                    </th> 
                    <th style="text-align: center;">
                        @resShared.lblTotal
                    </th>                 
                    
                    
                    
                </tr>
                @if (Model.WalletLogList.Count == 0)
                {
                    <tr style="height: 25px; border-top: 2px solid white;">
                        <td style="padding: 5px;" colspan="10">
                            @resShared.lblNoRecFound
                        </td>
                    </tr>
                }
            </thead>
            <tbody>
                @if (Model.WalletLogList != null)
                {
                    foreach (var item in Model.WalletLogList)
                    {                            
                    <tr >
                         <td style="text-align: center;">
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td style="text-align: center;">
                            @Html.DisplayFor(modelItem => item.SponsorAmount)
                        </td>
                        <td style="text-align: center;">
                            @Html.DisplayFor(modelItem => item.PairingAmount)
                        </td>
                        <td style="text-align: center;">
                            @Html.DisplayFor(modelItem => item.MatchingAmount)
                        </td>
                         <td style="text-align: center;">
                            @Html.DisplayFor(modelItem => item.TotalAmount)
                        </td>
                    </tr>
                    }
                }
            </tbody>
            <tfoot>
                    <tr >
                         <td style="text-align: center;">
                           @resShared.lblGrandTotal
                        </td>
                        <td style="text-align: right;">
                            @Html.DisplayFor(model => model.TotalSponsorAmount)
                        </td>
                         <td style="text-align: center;">
                            @Html.DisplayFor(model => model.TotalPairingAmount)
                        </td>
                       <td style="text-align: right;">
                           @Html.DisplayFor(model => model.TotalMatchingAmount)
                        </td>
                        <td style="text-align: center;">
                           @Html.DisplayFor(model => model.TotalGrandAmount)
                        </td>
                    </tr>
            </tfoot>
        </table>
    </div>
    @if (Model.WalletLogList.Count != 0)
    {
    <table width="auto" style="text-align:right; margin-right:0px; margin-left:auto;"
        <tr>
            <td style="text-align: right">
                <div class="BtnClass" style="float: right;">
                    @Html.DropDownList("page", @Model.Pages, new { @class = "form-control", style = "width:80px;" })
           
                </div>
            </td>
            <td>
                     <button id="btnPage" type="button" class="btn btn-sm btn-success" style="width: 100px">@resShared.btnView</button>
            </td>
        </tr>
    </table>
    }
    <br />
</div>
    			