﻿@using resShared = ECFBase.Resources.OneForAll.OneForAll;
@using ECFBase.Models
@model WithdrawWalletModel
<link href="../../Content/css/jqx.base.css" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#btnSaveAuto").click(function (evt) {
            $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/MemberWallet/CashWalletWithdrawalMethod",
                data: { AuToCheck: $(document.getElementById("AuToCheck")).val() },
                success: function (data) {
                    $("#main-content").html(data);
                    alert("@resShared.msgSaveSuccessfully");
                    $("#Home").click();
                   $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                   $('#Loading').hide();
                }
            });
        });


        $("#OkApproveBtn").click(function (evt) {
            Save();
            $("[class *= 'modal-backdrop']").hide();
        });

        function validateQty(event) {
            var key = window.event ? event.keyCode : event.which;

            if (event.keyCode == 8 || event.keyCode == 46 || event.keyCode == 37 || event.keyCode == 39) {
                NetAmount();
            }
            else if (key < 48 || key > 57) {
                return false;
            }
            else return true;
        };

        function Save() {
            $.validator.unobtrusive.parse($('#WithdrawBWallet'));
            var token = $('input[name="__RequestVerificationToken"]').val();
            //if ($('#WithdrawBWallet').valid()) {
                $.ajax({
                    type: "POST",
                    url: "/MemberWallet/CashWalletWithdrawalMethod",
                    data: { __RequestVerificationToken: token, Amount: $('#Amount').val(), Pin: $('#PIN').val() },
                    success: function (data) {
                        @*$("#main-content").html(data);
                        alert("@resShared.msgSaveSuccessfully");
                       $('#Loading').hide();*@
                        window.location.href = "/Member/Home";
                        $('#Loading').hide();
                    },
                    error: function (xhr, status, error) {
                        var errorM = xhr.responseText;
                        errorM = errorM.replace('""', '');
                        alert(errorM);
                       $('#Loading').hide();
                        $("#btnConvertWallet").attr("disabled", false);
                    }
                });
            ////}
            return false;
        };

        $("#Amount").keyup(function (evt) {
            var Amount = $(document.getElementById("Amount")).val();
            var BankCharges = $(document.getElementById("hiddenbankcharge")).val();

            if (Amount == ""){
                Amount = "0";
            }
            if (Amount == null){
                Amount = "0";
            }

           
                var Chages = Amount * BankCharges / 100;
                var NetAmount = Amount - Chages;

                document.getElementById("netamount").value = NetAmount.toFixed(2);
                document.getElementById("bankcharge").value = Chages.toFixed(2);
        });

    });
</script>




@using (Html.BeginForm("WithdrawBWallet", "MemberWallet", FormMethod.Post, new { name = "WithdrawBWallet", id = "__RequestVerificationToken" }))
{

    @Html.AntiForgeryToken()


 <div class="row">
        <div class="col-lg-12">
         <h2 style="padding-left:10px;">@resShared.mnuWithdrawal</h2>
                        <!-- Begin breadcrumb -->
					<ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
						<li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
						<li><a href="#">@resShared.mnuCashwallet</a></li>
						<li class="active"><a href="#">@resShared.mnuWithdrawal</a></li>
					</ol>
					<!-- End breadcrumb -->

             @*<ol class="breadcrumb">
                <li><i class="fa fa-dashboard"></i><a href="">@resShared.mnuCashwallet</a> </li>
                <li class="active"><i class="fa fa-edit"></i>@resShared.lblWithdrawal</li>
            </ol>*@
              <h1 class="page-sub-header">                        
                    </h1>
    </div>
</div>
    
    <div class="modal fade" id="confirmApproveDialog" title="message title" role="dialog"ria-hidden="true">
    <div class="modal-dialog" style="width: 450px">
        <div class="modal-content" style="text-align: center" align="center">
            <div class="modal-header" style="height: 70px">
                <button type="button" class="close" data-dismiss="modal">
                    ×</button>
                <h4>@resShared.lblConfirmation</h4>
            </div>
            <div class="modal-body">
                <p><b>@resShared.lblConfirmWithdrawal</b></p>
                @*@resShared.WarningRegister*@
            </div>
            <div class="modal-footer">
                <button type="button" id="OkApproveBtn" class="btn btn-info" data-dismiss="modal"
                    style="width: 100px;" aria-hidden="true">@resShared.lblYes</button>
                <button type="button" id="CancelConfirmBtn" class="btn btn-info" data-dismiss="modal"
                    style="width: 100px; padding-left: 10px" aria-hidden="true">@resShared.lblNo</button>
            </div>
        </div>
    </div>
</div>

@Html.HiddenFor(model => model.hiddenbankcharge, new { @id= "hiddenbankcharge" });
   
    <div id="MemberDiv" align="center">             
        <form role="form">
            <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                <div class="form-group">
                    <label><strong>@resShared.mnuWalletsWithdrawal</strong></label>
                    <input type="text" readonly=readonly disabled="disabled" class="form-control" value="@ViewBag.Wallet">
                </div>

                <div class="form-group">
                    <strong>@resShared.lblMailAddress </strong>
                    <div class="form-group">
                        <b>@resShared.lblAddress</b>
                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @readonly = "readonly" })

                        <b>@resShared.mnuCity</b>
                        @Html.TextBoxFor(model => model.SelectedCity, new { @class = "form-control", @readonly = "readonly" })

                        <b>@resShared.lblState</b>
                        @Html.TextBoxFor(model => model.State, new { @class = "form-control", @readonly = "readonly" })
                        <b>@resShared.lblPostcode</b>
                        @Html.TextBoxFor(model => model.Postcode, new { @class = "form-control", @readonly = "readonly" })
                        <b>@resShared.lblMailingCountry</b>
                        @Html.TextBoxFor(model => model.SelectedCountry, new { @class = "form-control", @readonly = "readonly" })

                    </div>
                </div>
                <div class="form-group">
                    <label>
                        @resShared.mnuBank
                    </label>
                    @*@Html.DropDownListFor(m => m.SelectedBank, @Model.BankList, new { @class = "form-control", @readonly = "readonly" })
        @Html.HiddenFor(m => m.SelectedBank)*@
                    @Html.TextBoxFor(model => model.ChinaBank, new { @class = "form-control", @readonly = "readonly" })
                    @Html.HiddenFor(m => m.SelectedBank)
                </div>
                <div class="form-group">
                    <label>
                        @resShared.lblBranchName
                    </label>

                    @Html.TextBoxFor(model => model.BranchName, new { @class = "form-control", @readonly = "readonly" })

                </div>
                <div class="form-group">
                    <label>
                        @resShared.lblBranchAddress
                    </label>
                    @Html.TextBoxFor(model => model.BranchAdd1, new { @class = "form-control", @readonly = "readonly" })
                </div>
                
                <div class="form-group">
                    <label>
                        @resShared.lblBranchSwiftCode
                    </label>
                    @Html.TextBoxFor(model => model.BranchSwiftCode, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="form-group">
                    <label for="Position">
                        <strong>@resShared.lblAmount <span style="color: Red">*</span></strong>
                    </label>
                    @Html.TextBoxFor(m => m.Amount, new { @id = "Amount", @class = "form-control",  maxlength = "10" })
                    <div style="margin-left: 0px;">
                        @Html.ValidationMessageFor(model => model.Amount)
                        <label style="font-size:smaller; color:Red">@resShared.LBLminwith</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Position">
                        <strong>@resShared.lblAdminFee</strong>
                    </label>
                    @Html.TextBoxFor(m => m.bankcharge, new { @id = "bankcharge", @class = "form-control", @readonly = "readonly" })
                    <div style="margin-left: 0px;">
                        @Html.ValidationMessageFor(model => model.bankcharge)
                    </div>
                </div>
                <div class="form-group">
                    <label for="Position">
                        <strong>@resShared.lblNetWithdrawal</strong>
                    </label>
                    @Html.TextBoxFor(m => m.netamount, new { @id = "netamount", @class = "form-control", @readonly = "readonly" })
                    <div style="margin-left: 0px;">
                        @Html.ValidationMessageFor(model => model.netamount)
                    </div>
                </div>
                <div class="form-group">
                    <label for="Position">
                        <strong>@resShared.lblSecurityPin <span style="color: Red">*</span></strong>
                    </label>
                    @Html.PasswordFor(m => m.PIN, new { @class = "form-control" })
                    <div style="margin-left: 0px;">
                        @Html.ValidationMessageFor(model => model.PIN)
                    </div>
                </div>
            </div>
            <div class="BtnClass" style="text-align:center">
                    <button id="btnConvertWallet" type="button" class="btn btn-lm btn-success" data-toggle="modal" data-target="#confirmApproveDialog" style="width: 150px">@resShared.lblWithdrawal</button>
            </div>
            <br />
        </form>
    </div>
}
			