﻿@using resShared = ECFBase.Resources.OneForAll.OneForAll;
@using ECFBase.Models
@model TransferWalletModel

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $("#OkApproveBtn").click(function (evt) {
        $('#Loading').show();
        Save();
        $("[class *= 'modal-backdrop']").hide();
    });

    function Save() {
        $.validator.unobtrusive.parse($('#BonusWallet'));
        var token = $('input[name="__RequestVerificationToken"]').val();
        //if (jQuery("#BonusWallet").valid() == true) {
            $.ajax({
                type: "POST",
                url: "/MemberWallet/CompanyWalletTransferMethod",
                data: { __RequestVerificationToken: token, username: $(document.getElementById("Username")).val(), amount: $('#Amount').val(), pin: $('#PIN').val(), remark: $('#Remark').val() },
                success: function (data) {
                    $("#main-content").html(data);
                    alert("@resShared.msgSaveSuccessfully");
                   $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                   $('#Loading').hide();
                }
            });
    //}
    return false;
    };

    $("#Username").focusout(function (e) {
        $.ajax({
            url: "/MemberWallet/CheckNickNameOnlyCP",
            dataType: "json",
            type: "POST",
            delay: 0,
            data: { username: $(document.getElementById("Username")).val() },
            success: function (data) {
                document.getElementById("NickName").value = data;
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
            }
        });
    });

    function validateQty(event) {
        var key = window.event ? event.keyCode : event.which;

        if (event.keyCode == 8 || event.keyCode == 46 || event.keyCode == 37 || event.keyCode == 39) {
            return true;
        }
        else if (key < 48 || key > 57) {
            return false;
        }
        else return true;
    };

    $("#Amount").focusout(function (e) {
        var amount = document.getElementById('Amount').value;
        var netAmount = parseFloat(amount) + parseFloat(document.getElementById('Charge').value);
        document.getElementById('txtGrandTotal').value = netAmount;
    });

</script>
@{ Html.EnableClientValidation(true); }
@using (Html.BeginForm("TransferBonusWallet", "MemberTransaction", FormMethod.Post, new { enctype = "multipart/form-data", name = "BonusWallet", id = "__RequestVerificationToken" })) //this id very important to do HttpPost
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    <div class="modal fade" id="confirmApproveDialog" title="message title" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog" style="width: 450px">
        <div class="modal-content" style="text-align: center" align="center">
            <div class="modal-header" style="height: 70px">
                <button type="button" class="close" data-dismiss="modal">
                    ×</button>
                <h4>@resShared.lblConfirmation</h4>
            </div>
            <div class="modal-body">
                <p><b>@resShared.warningtransferconformation</b></p>
                @*@resAdminHome.WarningRegister*@
            </div>
            <div class="modal-footer">
                <button type="button" id="OkApproveBtn" class="btn btn-info" data-dismiss="modal"
                    style="width: 100px;" aria-hidden="true">@resShared.btnYes</button>
                <button type="button" id="CancelConfirmBtn" class="btn btn-info" data-dismiss="modal"
                    style="width: 100px; padding-left: 10px" aria-hidden="true">@resShared.btnNo</button>
            </div>
        </div>
    </div>
</div>
    
    <div class="row">
        <div class="col-lg-12">
         <h2 style="padding-left:10px;">@resShared.lblTransfer</h2>
                            <!-- Begin breadcrumb -->
					<ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
						<li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
						<li><a href="#">@resShared.mnuWalletMainTab</a></li>
						<li><a href="#">@resShared.mnuCompanywallet</a></li>
						<li class="active"><a href="#">@resShared.lblTransfer</a></li>
					</ol>
					<!-- End breadcrumb -->
            <h1 class="page-sub-header">                
            </h1>
        </div>
    </div>
    <div class="row" align="center">
        <div>
            <form role="form">
            <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                <div class="form-group">
                    <label>
                        @resShared.lblCpointBalance
                    </label>
                    @Html.TextBoxFor(model => model.Wallet, new { @class = "form-control", @disabled = "disabled" })
                </div>
                <div class="form-group">
                     <label>
                        @resShared.lblTransferToMember
                    </label>
                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
                    <div style="margin-left: 0px;">
                        @Html.ValidationMessageFor(model => model.Username)
                    </div>
                </div>
                  <div class="form-group">
                    <label>
                        @resShared.lblNickName
                    </label>
                    <input id="NickName" type="text" class="form-control" disabled="disabled" />
                </div>
                <div class="form-group">
                    <label>
                        @resShared.lblAmount<span style=" color:Red"> @resShared.lblmin </span>
                    </label>
                    @Html.TextBoxFor(model => model.Amount, new { @class = "form-control",})
                    <div style="margin-left: 0px;">
                        @Html.ValidationMessageFor(model => model.Amount)
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        @resShared.lblRemark
                    </label>
                    @Html.TextAreaFor(model => model.Remark, new { @class = "form-control", placeholder = @resShared.lblMaxChar, maxlength = "100" })
                    <div style="margin-left: 0px;">
                        @Html.ValidationMessageFor(model => model.Remark)
                    </div>
                </div>  
                <div class="form-group">
                    <label>
                        @resShared.lblSecurityPin
                    </label>
                    @Html.PasswordFor(model => model.PIN, new { @class = "form-control" })
                    <div style="margin-left: 0px;">
                        @Html.ValidationMessageFor(model => model.PIN)
                    </div>
                </div>
            </div>
            </form>
        </div>
        <div class="BtnClass">
            <button id="btnSave" type="button" class="btn btn-lm btn-success" style="width: 150px" data-toggle="modal" data-target="#confirmApproveDialog">@resShared.lblTransfer</button>
        </div>
        <br />
    </div>
}
	