﻿@using resShared = ECFBase.Resources.OneForAll.OneForAll;
@using ECFBase.Models
@model PaginationPairingBonusLogModel
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $("#btnPage").click(function (evt) {

        $('#Loading').show();

        var e = document.getElementById("page");
        var page = e.options[e.selectedIndex].value;

        var months = document.getElementById("SelectedMonth");
        var month = months.options[months.selectedIndex].value;

        var years = document.getElementById("SelectedYears");
        var year = years.options[years.selectedIndex].value;

        $.ajax({
            type: "POST",
            url: "/MemberWallet/LeadershipBonusReport",
            data: { month: month, year: year, selectedPage: page },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });

    $("#btnSearchByDate").click(function (evt) {
        $('#Loading').show();

        var months = document.getElementById("SelectedMonth");
        var month = months.options[months.selectedIndex].value;

        var years = document.getElementById("SelectedYears");
        var year = years.options[years.selectedIndex].value;

        $.ajax({
            type: "POST",
            url: "/MemberWallet/LeadershipBonusReport",
            data: { month: month, year: year, selectedPage: -1 },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });

</script>
<div class="row">
    <div class="col-lg-12">
         <h2 style="padding-left:10px;">@resShared.mnuLeadershipBonus</h2>
                    <!-- Begin breadcrumb -->
					<ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
						<li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
						<li><a href="#">@resShared.mnuReports</a></li>
						<li class="active"><a href="#">@resShared.mnuLeadershipBonus</a></li>
					</ol>
					<!-- End breadcrumb -->
            <h1 class="page-sub-header">
        </h1>
    </div>
</div>

<div>
    <div class="grid" style="margin-left: 5px;" id="grid">
        @if (Model != null)
        { 
            <div class="grid">
                <table width="auto" class="test" align="center">
                    <tr>
                        <td style="text-align: right;padding-top:6px">
                            <label>@resShared.lblDate:</label>
                        </td>
                        <td style="padding-left: 10px; width: auto">
                            @Html.DropDownListFor(m => m.SelectedMonth, @Model.Months, new { @class = "form-control", style = "width:auto; height:30px" })
                         
                        </td>
                        <td style="padding-left: 10px; width: auto">
                           <label>@resShared.lblMonth</label>
                        </td>
                        <td style="padding-left: 10px; width: auto">
                            @Html.DropDownListFor(m => m.SelectedYears, @Model.Years, new { @class = "form-control", style = "width:auto; height:30px" })
                        
                        </td>
                        <td style="padding-left: 10px; width: auto">
                            <label>@resShared.lblYear</label>
                        </td>
                        <td  style="padding-left: 10px; width: auto">
                            <button id="btnSearchByDate" type="button" class="btn btn-sm btn-success" style="width: 100px">@resShared.btnSearch</button>
                        </td>
                    </tr>
                </table>
                <br />
                <div class="table-responsive">
                    <table id="tablestyle" class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr style="background-color: #414558; color: White">
                                <th style="text-align: center">
                                    @resShared.lblDate
                                </th>
                                <th style="text-align: center">
                                    @resShared.lblUsername
                                </th>
                                <th style="text-align: center">
                                    @resShared.lblNickName
                                </th>
                                <th style="text-align: center">
                                    @resShared.lblLevel
                                </th>
                                <th style="text-align: center">
                                    @resShared.lblbonus1
                                </th>
                            </tr>
                            @if (Model.ModelCollection.Count == 0)
                            {
                                <tr style="height: 25px; border-top: 2px solid white;">
                                    <td style="padding: 5px;" colspan="10">
                                        @resShared.lblNoRecFound
                                    </td>
                                </tr>
                            }
                        </thead>
                        <tbody>
                            @if (Model.ModelCollection != null)
                            {
                                foreach (var item in Model.ModelCollection)
                                {
                                <tr>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.LogTime)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.Username)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.Level)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.Amount)
                                    </td>
                                </tr>
                                }
                                if (Model.ModelCollection.Count != 0)
                                {
                                <tr>
                                    <td align="center">
                                       
                                    </td>
                                    <td align="center">
                                     
                                    </td>
                                    <td align="center">
                                      
                                    </td>
                                    <td align="center">
                                        @resShared.lblGrandTotal
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(model => model.TotalBonus)
                                    </td>
                                </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                @if (Model.ModelCollection.Count != 0)
                {
                    <table  width="auto" style="text-align:right; margin-right:0px; margin-left:auto;">
                        <tr>
                            <td style="text-align: right">
                                <div class="BtnClass" style="float: right;">
                                    @Html.DropDownList("page", @Model.Pages, new { @class = "form-control", style = "width:80px;" })
                            
                                </div>
                            </td>
                            <td>
                                    <button id="btnPage" type="button" class="btn btn-sm btn-success" style="width: 100px">@resShared.btnView</button>
                            </td>
                        </tr>
                    </table>
                }
            </div>
        }
    </div>
</div>
		