﻿@using resShared = ECFBase.Resources.OneForAll.OneForAll;
@using ECFBase.Models
@model PaginationPairingBonusLogModel
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $("#btnPage").click(function (evt) {

        $('#Loading').show();

        var e = document.getElementById("page");
        var page = e.options[e.selectedIndex].value;

        var months = document.getElementById("SelectedMonth");
        var month = months.options[months.selectedIndex].value;

        var years = document.getElementById("SelectedYears");
        var year = years.options[years.selectedIndex].value;

        $.ajax({
            type: "POST",
            url: "/MemberWallet/PairingBonusReport",
            data: { month: month, year: year, selectedPage: page },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });

    $("#btnSearchByDate").click(function (evt) {
        $('#Loading').show();

        var months = document.getElementById("SelectedMonth");
        var month = months.options[months.selectedIndex].value;

        var years = document.getElementById("SelectedYears");
        var year = years.options[years.selectedIndex].value;

        $.ajax({
            type: "POST",
            url: "/MemberWallet/PairingBonusReport",
            data: { month: month, year: year, selectedPage: -1 },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });

</script>
<div class="row">
    <div class="col-lg-12">
         <h2 style="padding-left:10px;">@resShared.mnuGroupBonus</h2>
                <!-- Begin breadcrumb -->
					<ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
						<li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
						<li><a href="#">@resShared.mnuReports</a></li>
						<li class="active"><a href="#">@resShared.mnuGroupBonus</a></li>
					</ol>
					<!-- End breadcrumb -->
            <h1 class="page-sub-header">
        </h1>
    </div>
</div>

<div>
    <div class="grid" style="margin-left: 5px;" id="grid">
        @if (Model != null)
        {
            <div class="table-responsive" align="center">
                <div class="col-lg-2 col-md-2 col-xs-2">
                    @resShared.lblDate:
                </div>
                <div class="col-lg-2 col-md-3 col-xs-3">
                    @Html.DropDownListFor(m => m.SelectedMonth, @Model.Months, new { @class = "form-control", style = "min-width:70px; height:30px" })
                    @resShared.lblMonth
                </div>
                <div class="col-lg-2 col-md-3 col-xs-3">
                    @Html.DropDownListFor(m => m.SelectedYears, @Model.Years, new { @class = "form-control", style = "min-width:80px; height:30px" })
                    @resShared.lblYear
                </div>
                <div class="col-lg-2 col-md-3 col-xs-3">
                    <button id="btnSearchByDate" type="button" class="btn btn-sm btn-success" style="min-width: 80px">@resShared.btnSearch</button>
                </div>
                <br />
                <br />
                    <table id="tablestyle" class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr style="background-color: #414558; color: White">
                                <th style="text-align: center">
                                    @resShared.lblDate
                                </th>
                                <th style="text-align: center">
                                    @resShared.lblNewSalesGroupA
                                </th>
                                <th style="text-align: center">
                                    @resShared.lblNewSalesGroupB
                                </th>
                                <th style="text-align: center">
                                    @resShared.lblTotalLeftSales
                                </th>
                                <th style="text-align: center">
                                    @resShared.lblTotalRightSales
                                </th>
                                <th style="text-align: center">
                                    @resShared.lblPair
                                </th>
                                <th style="text-align: center">
                                    @resShared.lblAmount
                                </th>
                            </tr>
                            @if (Model.ModelCollection.Count == 0)
                            {
                            <tr style="height: 25px; border-top: 2px solid white;">
                                <td style="padding: 5px;" colspan="10">
                                    @resShared.lblNoRecFound
                                </td>
                            </tr>
                            }
                        </thead>
                        <tbody>
                            @if (Model.ModelCollection != null)
                            {
                                foreach (var item in Model.ModelCollection)
                                {
                            <tr>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.LogTime)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.CurrentLeftSales)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.CurrentRightSales)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.TotalLeftSales)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.TotalRightSales)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.Pair)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.PairBonus)
                                </td>
                            </tr>
                                }
                                if (Model.ModelCollection.Count != 0)
                                {
                            <tr style="background-color: #8a8fa8; color: White">
                                <td align="center">
                                    @resShared.lblGrandTotal
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(model => model.TotalNewGroupA)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(model => model.TotalNewGroupB)
                                </td>
                                <td align="center">
                                    @*@Html.DisplayFor(model => model.TotalGroupA)*@
                                </td>
                                <td align="center">
                                    @*@Html.DisplayFor(model => model.TotalGroupB)*@
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(model => model.TotalPairingBonus)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(model => model.TotalBonus)
                                </td>
                            </tr>
                                }
                            }
                        </tbody>
                    </table>
                    @if (Model.ModelCollection.Count != 0)
                {
                        <table width="auto" style="text-align:right; margin-right:0px; margin-left:auto;">
                            <tr>
                                <td style="text-align: right">
                                    <div class="BtnClass" style="float: right;">
                                        @Html.DropDownList("page", @Model.Pages, new { @class = "form-control", style = "width:80px;" })

                                    </div>
                                </td>
                                <td>
                                    <button id="btnPage" type="button" class="btn btn-sm btn-success" style="width: 100px">@resShared.btnView</button>
                                </td>
                            </tr>
                        </table>
                    }
                </div>
        }
    </div>
</div>
				