﻿@using resShared = ECFBase.Resources.OneForAll.OneForAll;
@using ECFBase.Models
@model ExchangeWalletModel

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $("#btnSave").click(function (evt) {
        
        $.validator.unobtrusive.parse($('#BonusWallet'));
        if (jQuery("#BonusWallet").valid() == true) {
            $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/MemberWallet/RegisterWalletExchangetMethod",
                data: { Pin: $('#PIN').val(), amount: $('#Amount').val() },
                success: function (data) {
                    $("#main-content").html(data);
                    alert("@resShared.msgSaveSuccessfully");
                   $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                   $('#Loading').hide();
                }
            });
        } return false;
    });

    function validateQty(event) {
        var key = window.event ? event.keyCode : event.which;

        if (event.keyCode == 8 || event.keyCode == 46 || event.keyCode == 37 || event.keyCode == 39) {
            return true;
        }
        else if (key < 48 || key > 57) {
            return false;
        }
        else return true;
    };


    

</script>
@{ Html.EnableClientValidation(true); }
@using (Html.BeginForm("RegisterWalletExchangetMethod", "MemberTransaction", FormMethod.Post, new { enctype = "multipart/form-data", name = "BonusWallet", id = "BonusWallet" })) //this id very important to do HttpPost
{
    @Html.ValidationSummary(true)

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h2 style="padding-left:10px;">@resShared.mnuExchange @resShared.mnuMultiPoint </h2>
            <!-- Begin breadcrumb -->
            <ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
                <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                <li><a href="#">@resShared.mnuWalletMainTab</a></li>
                <li><a href="#">@resShared.mnuRegisterwallet</a></li>
                <li class="active"><a href="#">@resShared.mnuExchange @resShared.mnuMultiPoint </a></li>
            </ol>

            <!-- End breadcrumb -->
            <h1 class="page-sub-header"></h1>
        </div>
    </div>
    <div class="row" align="center">
        <div>
            <form role="form">
                <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                    <div class="form-group">
                        <label>
                            @resShared.lblRegisterPoint
                        </label>
                        @Html.TextBoxFor(model => model.FromWallet, new { @id = "Ewallet", @class = "form-control", @disabled = "disabled" })
                    </div>
                    <div class="form-group">
                        <label>
                            @resShared.lblMultiPoint
                        </label>
                        @Html.TextBoxFor(model => model.ToWallet, new { @id = "Rwallet", @class = "form-control", @disabled = "disabled" })
                    </div>
                    <div class="form-group">
                        <label>
                            @resShared.lblExchangeAmount
                        </label>
                        @Html.TextBoxFor(model => model.Amount, new { @id = "Amount", @class = "form-control", onkeypress = "return validateQty(event);", @maxlength = "8" })
                        <div style="margin-left: 0px;">
                            @Html.ValidationMessageFor(model => model.Amount)
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            @resShared.lblSecurityPin
                        </label>
                        @Html.PasswordFor(model => model.PIN, new { @class = "form-control" })
                        <div style="margin-left: 0px;">
                            @Html.ValidationMessageFor(model => model.PIN)
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="BtnClass">
            <button id="btnSave" type="button" class="btn btn-lm btn-success" style="width: 150px">@resShared.lblConfirm</button>
        </div>
        <br />
    </div>
</div>
}
	