﻿@using resShared = ECFBase.Resources.OneForAll.OneForAll;
@using ECFBase.Models
@model TransferWalletModel

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $("#OkApproveBtn").click(function (evt) {
       $('#Loading').show();
        @*if (confirm('@resShared.warningrequestconformation1')) {*@
            Save();
        //}
        //else
        //{
        //}

        $("[class *= 'modal-backdrop']").hide();
    });




    function Save() {
        var data = new FormData();
        var files = $("#Images").get(0).files;
        if (files.length > 0) {
            data.append("HelpSectionImages", files[0]);
        }

        data.append('Amount', $(document.getElementById("Amount")).val());
        data.append('SelectedPaymentMethod', $(document.getElementById("selectedPaymentType")).val());
        data.append('Remark', $(document.getElementById("Remark")).val());
        data.append('CurrencyBuy', $(document.getElementById("CurrencyBuy")).val());
        data.append('PIN', $(document.getElementById("PIN")).val());



        $.ajax({
            url: "/MemberWallet/RequesTopUpMethod",
            type: "POST",
            processData: false,
            contentType: false,
            data: data,
            success: function (data) {
                $("#main-content").html(data);
                alert("@resShared.msgSaveSuccessfully");
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $("#ajaxloading").dialog("close");
            }

        });
    };

    $("#Amount").keyup(function (e) {
        var Amount = $(document.getElementById("Amount")).val();
        var CurrentcyBuy = $(document.getElementById("CurrencyBuy")).val();
        var Result = Amount * CurrentcyBuy;
        document.getElementById("LocalAmount").value = Result.toFixed(2);
    });


    function validateQty(event) {
        var key = window.event ? event.keyCode : event.which;

        if (event.keyCode == 8 || event.keyCode == 46 || event.keyCode == 37 || event.keyCode == 39) {
            return true;
        }
        else if (key < 48 || key > 57) {
            return false;
        }
        else return true;
    };



</script>
@{ Html.EnableClientValidation(true); }
@using (Html.BeginForm("TransferBonusWallet", "MemberTransaction", FormMethod.Post, new { enctype = "multipart/form-data", name = "BonusWallet", id = "BonusWallet" })) //this id very important to do HttpPost
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.CurrencyBuy, new { @id = "CurrencyBuy" })

    <div class="modal fade" id="confirmApproveDialog" title="message title" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="text-align: center" align="center">
                <div class="modal-header" style="height: 70px">
                    <button type="button" class="close" data-dismiss="modal">
                        ×
                    </button>
                    <h4>@resShared.lblConfirmation</h4>
                </div>
                <div class="modal-body">
                    <p><b>@resShared.warningrequestconformation1</b></p>
                    @*@resAdminHome.WarningRegister*@
                </div>
                <div class="modal-footer">
                    <button type="button" id="OkApproveBtn" class="btn btn-info" data-dismiss="modal"
                            style="width: 100px;" aria-hidden="true">
                        @resShared.btnYes
                    </button>
                    <button type="button" id="CancelConfirmBtn" class="btn btn-info" data-dismiss="modal"
                            style="width: 100px; padding-left: 10px" aria-hidden="true">
                        @resShared.btnNo
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h2 style="padding-left:10px;">@resShared.mnuRequestTopUp</h2>
                <!-- Begin breadcrumb -->
                <ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
                    <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                    @*<li><a href="#">@resShared.mnuWalletMainTab</a></li>*@
                    <li><a href="#">@resShared.lblTransaction</a></li>
                    <li class="active"><a href="#">@resShared.mnuRequestTopUp</a></li>
                </ol>
                <!-- End breadcrumb -->
                <h1 class="page-sub-header"></h1>
            </div>
        </div>
        <div class="row" align="center">
            <div align="center">
                <form role="form" align="center">
                    <div style="text-align: left; float:none" class="col-lg-5 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label>
                                @resShared.lblRpointBalance
                            </label>
                            @Html.TextBoxFor(model => model.Wallet, new { @class = "form-control", @disabled = "disabled" })
                        </div>

                        <div class="form-group">
                            <label>
                                @resShared.lblRequestAmountUSD<span style=" color:Red"> @resShared.lblmin </span>
                            </label>
                            @Html.TextBoxFor(model => model.Amount, new { @class = "form-control", onkeypress = "return validateQty(event);", maxlength = "10" })
                            <div style="margin-left: 0px;">
                                @Html.ValidationMessageFor(model => model.Amount)
                            </div>
                        </div>

                        <div class="form-group">
                            <label>
                                @resShared.lblLocalAmount
                            </label>
                            @Html.TextBoxFor(model => model.LocalAmount, new { @class = "form-control", @disabled = "disabled" })
                            <div style="margin-left: 0px;">
                                @Html.ValidationMessageFor(model => model.LocalAmount)
                            </div>
                        </div>
                        <div class="form-group">
                            <label>
                                @resShared.lblPaymentMethod
                            </label>
                            @Html.DropDownListFor(m => m.SelectedPaymentMethod, @Model.PaymentMethod, new { @id = "selectedPaymentType", @class = "form-control" })
                            <div style="margin-left: 0px;">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>
                                @resShared.lblUploadPaySlip
                            </label>
                            @Html.HiddenFor(model => model.PaymentImagePath)
                            @Html.ValidationMessageFor(model => model.PaymentImagePath)
                            @Html.DisplayFor(model => model.PaymentImageName, new { @class = "form-control" })
                            @Html.TextBoxFor(model => model.PaymentImage, new { @type = "file", @class = "input-file", @id = "Images" })
                            @Html.ValidationMessageFor(model => model.PaymentImage)
                            <div style="margin-left: 0px;">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>
                                @resShared.lblRemark
                            </label>
                            @Html.TextBoxFor(model => model.Remark, new { @class = "form-control", placeholder = @resShared.lblMaxChar, maxlength = "100" })
                            <div style="margin-left: 0px;">
                                @Html.ValidationMessageFor(model => model.Remark)
                            </div>
                        </div>
                        <div class="form-group">
                            <label>
                                @resShared.lblSecurityPin
                            </label>
                            @Html.PasswordFor(model => model.PIN, new { @class = "form-control" })
                            <div style="margin-left: 0px;">
                                @Html.ValidationMessageFor(model => model.PIN)
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="BtnClass">
                <button id="btnSave" type="button" class="btn btn-lm btn-default" style="width: 150px" data-toggle="modal" data-target="#confirmApproveDialog">@resShared.lblRequest</button>
            </div>
            <br />
            <br />
            <br />
        </div>
    </div>
}
