﻿@using resShared = ECFBase.Resources.OneForAll.OneForAll;
@using ECFBase.Models
@model PaginationWalletLogModel
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    

</script>
<div id="MemberDiv">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <h2 style="padding-left:10px;">@resShared.mnuGoldMinePackage</h2>
            <!-- Begin breadcrumb -->
            <ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
                <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                <li><a href="#">@resShared.mnuReports</a></li>
                <li class="active"><a href="#">@resShared.mnuGoldMinePackage</a></li>
            </ol>
            <!-- End breadcrumb -->
            <div class="col-lg-12">
                <h1 class="page-sub-header"></h1>
            </div>
        </div>
        <!-- /.row -->
      
    </div>
    <br />
    <div class="table-responsive">
        <table id="tablestyle" class="table table-bordered table-hover table-striped">
            <thead>
                <tr style="background-color: #414558; color:White">

                    <th style="text-align: center; width:12.5%">
                        @resShared.lblPackage
                    </th>
                    <th style="text-align: center; width:15%">
                        @resShared.lblGoldminepoint
                    </th>
                    <th style="text-align: center; width:15%">
                        @resShared.lblDaysLeft
                    </th>
                    <th style="text-align: center; width:10%">
                        @resShared.lblCollectedAmt
                    </th>


                </tr>
            
            </thead>
            <tbody>
                @if (Model.WalletLogList != null)
    {
        foreach (var item in Model.WalletLogList)
        {
            string style = "";

            <tr>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => item.ROIPACKAGE)
                </td>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => item.GoldMinePoint)
                </td>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => item.Days)
                </td>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
            </tr>
}
}
                <tr style="background-color: #414558; color:White">

                    <th style="text-align: center; width:12.5%">
                        @resShared.lblGrandTotal :
                    </th>
                    <th style="text-align: center; width:15%">
                        @Model.TotalAmount
                    </th>
                    <th style="text-align: center; width:15%">
                        @Model.TotalDay
                    </th>
                    <th style="text-align: center; width:10%">
                        @Model.TotalAmount2
                    </th>


                </tr>
            </tbody>
        </table>
    </div>
   
</div>
