﻿@model ECFBase.Models.InboxModel
@using resShared = ECFBase.Resources.OneForAll.OneForAll 
@using System.Globalization
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/ckeditor/ckeditor.js")" type="text/javascript"></script>
<script type="text/javascript">

    $('.ckeditor').each(function () {
        CKEDITOR.replace($(this).attr('id'), {
            contentsLangDirection: 'ltr',
            width: "750px"
        });
    });

    CKEDITOR.config.toolbar = [
           ['Styles', 'Format', 'Font', 'FontSize'],
           '/',
           ['Bold', 'Italic', 'Underline', 'StrikeThrough', '-', 'Undo', 'Redo', '-', 'Cut', 'Copy', 'Paste', 'Find', 'Replace', '-', 'Outdent', 'Indent', '-', 'Print'],
           '/',
           ['NumberedList', 'BulletedList', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'],
           ['Image', 'Table', '-', 'Link', 'Flash', 'Smiley', 'TextColor', 'BGColor', 'Source']
        ];

</script>
<div id="editBSDiv">
    @{ Html.EnableClientValidation(true); }
    @using (Html.BeginForm("EditBSFromDialog", "AdminSettings", FormMethod.Post, new { name = "editBSForm", id = "editBSForm" }))
    {
        @Html.ValidationSummary(true)

        <div class="row">
            <div class="col-lg-12">
         <h2 style="padding-left:10px;">@resShared.mnuInbox</h2>
            	<!-- Begin breadcrumb -->
					<ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
						<li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
						<li><a href="#">@resShared.mnuHelpDesk</a></li>
						<li class="active"><a href="#">@resShared.mnuInbox</a></li>
					</ol>
					<!-- End breadcrumb --> 
                <h1 class="page-sub-header">
                </h1>
            </div>
        </div>
        <div class="row" align="center">
            <div>
                <form role="form">
                <div style="max-width: 600px; text-align: left">
                    <div class="form-group">
                        <label>@resShared.lblTitle</label>
                        @Html.DisplayFor(model => model.TitleLanguageList[0].Text, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>@resShared.lblContent</label>
                        @Html.TextAreaFor(x => x.ContentLanguageList[0].Text, new { @class = "ckeditor" })
                    </div>
                    <div class="form-group">
                        <label>@resShared.lblReply</label>
                        @Html.TextAreaFor(x => x.ReplyLanguageList[0].Text, new { @class = "ckeditor" })
                    </div>
                </form>
            </div>
        </div>
    }
</div>
     		