﻿@model ECFBase.Models.MemberPwdPINModel
@using resShared = ECFBase.Resources.OneForAll.OneForAll; 
@using System.Globalization
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $("#btnSave").click(function (evt) {
       
        if ($('#editBSForm').valid()) {
            $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/MemberProfile/ChangePasswordMethod",
                data: $("#editBSForm").serialize(),
                success: function (data) {
                    $("#main-content").html(data);
                    alert("@resShared.msgSaveSuccessfully");
                    $("#Home").click();
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        }
    });

</script>
<div id="editBSDiv">
    @{ Html.EnableClientValidation(true); }
    @using (Html.BeginForm("EditBSFromDialog", "AdminSettings", FormMethod.Post, new { name = "editBSForm", id = "editBSForm" }))
    {
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
         <h2 style="padding-left:10px;">@resShared.mnuChgPassword</h2>
<!-- Begin breadcrumb -->
					<ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
						<li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
						<li><a href="#">@resShared.mnuProfile</a></li>
						<li class="active"><a href="#" onclick="dummy(0);return false;">@resShared.mnuChgPassword</a></li>
					</ol>
					<!-- End breadcrumb -->
                <div class="col-lg-12">
                      <h1 class="page-sub-header">                        
                    </h1>
                </div>
            </div>
            <!-- /.row -->
            <div class="row" align="center">
                <div>
                    <form role="form">
                    <div style="text-align: left; float:none" class="col-lg-5 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label>
                                @resShared.lblUserID
                            </label>
                            @Html.HiddenFor(model => model.Username)
                            @Html.Label(Model.Username, new { @class = "form-control" })
                            <div style="margin-left: 0px;">
                                @Html.ValidationMessageFor(model => model.Username)
                            </div>
                            @*<p class="help-block">
                                Example block-level help text here.</p>*@
                        </div>
                        <div class="form-group">
                            <label>
                                @resShared.lblCurrPwd
                            </label>
                            @Html.PasswordFor(model => model.CurrPassword, new { @class = "form-control" })
                            <div style="margin-left: 0px;">
                                @Html.ValidationMessageFor(model => model.CurrPassword)
                            </div>
                        </div>
                        <div class="form-group">
                            <label>
                                @resShared.lblNewPwd
                            </label>
                            @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
                            <div style="margin-left: 0px;">
                                @Html.ValidationMessageFor(model => model.NewPassword)
                            </div>
                        </div>
                        <div class="form-group">
                            <label>
                                @resShared.lblConfirmNewPwd
                            </label>
                            @Html.PasswordFor(model => model.ConfirmNewPassword, new { @class = "form-control" })
                            <div style="margin-left: 0px;">
                                @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="BtnClass">
                    <button id="btnSave" type="button" class="btn btn-sm btn-success" style="width: 150px">@resShared.btnSave</button>
                </div>
                <br />
            </div>
        </div>
    }
</div>
    				