﻿@using ECFBase.Models
@using resShared = ECFBase.Resources.OneForAll.OneForAll;
@model EditMemberModel
@{
    ViewBag.Title = "EditProfile";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<style type="text/css">
    #upload_failtype
    {
        display: none;
        color: Red;
    }
</style>
<script type="text/javascript">

    $("#submitBtn").click(function (evt) {
        $('#Loading').show();
        //$.validator.unobtrusive.parse($('#editBSForm'));
        //if (jQuery("#editBSForm").valid() == true) {
            $.ajax({
                type: "POST",
                url: "/MemberProfile/EditProfileMethod",
                data: $("#editBSForm").serialize(),
                success: function (data) {
                    //$("#main-content").html(data);
                    //window.href(data);
                    window.location.href = "/Member/Home";
                    //alert("@resShared.msgSaveSuccessfully");
                    //$("#ajaxloading").dialog("close");
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        //} return false;
    });

    $.ajaxSetup({ cache: false });

    $('#ShipCountry').change(function () {
        //Clear and refresh Province dropdown
        $.ajax({
            url: "/MemberProfile/FindProvince",
            dataType: "json",
            type: "POST",
            delay: 0,
            data: { CountryCode: $(document.getElementById("ShipCountry")).val() },
            success: function (data) {
                $(document.getElementById("ShipProvince")).empty();
                $(document.getElementById("ShipCity")).empty();
                $(document.getElementById("ShipDistrict")).empty();
                $(document.getElementById("ShipStockist")).empty();
                $.each(data, function (index, optionData) {
                    var option = $('<option>').text(optionData.Text).val(optionData.Value);
                    $(document.getElementById("ShipProvince")).append(option);
                });
            }
        });
    });
    $('#ShipProvince').change(function () {
        //Clear and refresh City dropdown
        $.ajax({
            url: "/AdminGeneral/FindCity",
            dataType: "json",
            type: "POST",
            delay: 0,
            data: { ProvinceCode: $(document.getElementById("ShipProvince")).val() },
            success: function (data) {
                $(document.getElementById("ShipCity")).empty();
                $(document.getElementById("ShipDistrict")).empty();
                $(document.getElementById("ShipStockist")).empty();
                $.each(data, function (index, optionData) {
                    var option = $('<option>').text(optionData.Text).val(optionData.Value);
                    $(document.getElementById("ShipCity")).append(option);
                });
            }
        });
    });
    $('#ShipCity').change(function () {
        //Clear and refresh District dropdown
        $.ajax({
            url: "/AdminGeneral/FindDistrict",
            dataType: "json",
            type: "POST",
            delay: 0,
            data: { CityCode: $(document.getElementById("ShipCity")).val() },
            success: function (data) {
                $(document.getElementById("ShipDistrict")).empty();
                $(document.getElementById("ShipStockist")).empty();
                $.each(data, function (index, optionData) {
                    var option = $('<option>').text(optionData.Text).val(optionData.Value);
                    $(document.getElementById("ShipDistrict")).append(option);
                });
            }
        });
    });
    $('#ShipDistrict').change(function () {
        //Clear and refresh Stockist dropdown
        $.ajax({
            url: "/AdminGeneral/FindStockist",
            dataType: "json",
            type: "POST",
            delay: 0,
            data: { DistrictCode: $(document.getElementById("ShipDistrict")).val(), CityCode: $(document.getElementById("ShipCity")).val(), ProvinceCode: $(document.getElementById("ShipProvince")).val(), CountryCode: $(document.getElementById("ShipCountry")).val() },
            success: function (data) {
                $(document.getElementById("ShipStockist")).empty();
                $.each(data, function (index, optionData) {
                    var option = $('<option>').text(optionData.Text).val(optionData.Value);
                    $(document.getElementById("ShipStockist")).append(option);
                });
            }
        });
    });

    $('#SelectedDeliveryMode').change(function () {
        if ($(document.getElementById("SelectedDeliveryMode")).val() == "1") {
            $(document.getElementById("UserInfo_ShipAddress")).val("");
            $(document.getElementById("UserInfo_ShipAddress1")).val("");
            $(document.getElementById("UserInfo_ShipAddress2")).val("");
            $(document.getElementById("UserInfo_ShipAddress3")).val("");
            $('#UserInfo_ShipAddress').css({ 'background-color': '#EBEBE4' });
            $('#UserInfo_ShipAddress1').css({ 'background-color': '#EBEBE4' });
            $('#UserInfo_ShipAddress2').css({ 'background-color': '#EBEBE4' });
            $('#UserInfo_ShipAddress3').css({ 'background-color': '#EBEBE4' });
            $('#UserInfo_ShipAddress').attr("disabled", "disabled");
            $('#UserInfo_ShipAddress1').attr("disabled", "disabled");
            $('#UserInfo_ShipAddress2').attr("disabled", "disabled");
            $('#UserInfo_ShipAddress3').attr("disabled", "disabled");
        }
        else {
            $('#UserInfo_ShipAddress').css({ 'background-color': 'White' });
            $('#UserInfo_ShipAddress1').css({ 'background-color': 'White' });
            $('#UserInfo_ShipAddress2').css({ 'background-color': 'White' });
            $('#UserInfo_ShipAddress3').css({ 'background-color': 'White' });
            $('#UserInfo_ShipAddress').removeAttr("disabled");
            $('#UserInfo_ShipAddress1').removeAttr("disabled");
            $('#UserInfo_ShipAddress2').removeAttr("disabled");
            $('#UserInfo_ShipAddress3').removeAttr("disabled");
        }
    });

    $('#SelectedCountry').change(function () {
        //Clear and get country code
        $.ajax({
            url: "/MemberShopCenter/FindCountryCode",
            type: "POST",
            data: { CountryCode: $(document.getElementById("SelectedCountry")).val() },
            success: function (data) {
                $("#mobileCntCode").val(data);
            }
        });
    });

    $('#submitBtn').removeAttr('disabled');

    $('#MemberImage').change(function () {
        var filename = $(this).val();
        //due to security reason, they wont expose the file structure into internet,
        //hence they uses "C:\fakepath\<image>" to represent that structure
        //$('#displayImgName').text(filename.replace("C:\\fakepath\\", ""));
        //$('#displayImgName').css('color', 'red');

        var input = document.getElementById('MemberImage');
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            //change img src
            reader.onload = function (e) {
                $('#my_image')
                        .attr('src', e.target.result)
                        .width(200)
                        .height(200);
            };

            reader.readAsDataURL(input.files[0]);
        }
        $.ajax({
            type: "POST",
            url: "/MemberProfile/CheckFileExtension",
            data: { file: filename },
            success: function (data) {
                if (data == "False") {
                    $("#upload_failtype").css('display', 'block');
                    $('#submitBtn').attr('disabled', true);
                }
                else {
                    $("#upload_failtype").css('display', 'none');
                    $('#submitBtn').removeAttr('disabled');
                }
            }
        });
    });

    if ($(document.getElementById("SelectedDeliveryMode")).val() == "1") {
        //到服务中心取货
        $('#UserInfo_ShipAddress').css({ 'background-color': '#EBEBE4' });
        $('#UserInfo_ShipAddress1').css({ 'background-color': '#EBEBE4' });
        $('#UserInfo_ShipAddress2').css({ 'background-color': '#EBEBE4' });
        $('#UserInfo_ShipAddress3').css({ 'background-color': '#EBEBE4' });
        $('#UserInfo_ShipAddress').attr("disabled", "disabled");
        $('#UserInfo_ShipAddress1').attr("disabled", "disabled");
        $('#UserInfo_ShipAddress2').attr("disabled", "disabled");
        $('#UserInfo_ShipAddress3').attr("disabled", "disabled");
    }
</script>
<div id="editBSDiv">
    @{ Html.EnableClientValidation(true); }
    @using (Html.BeginForm("EditProfileMethod", "MemberProfile", FormMethod.Post, new { enctype = "multipart/form-data", name = "editBSForm", id = "editBSForm" }))
    {
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
         <h2 style="padding-left:10px;">@resShared.mnuEditProfile</h2>
 <!-- Begin breadcrumb -->
					<ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
						<li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
						<li><a href="#">@resShared.mnuProfile</a></li>
						<li class="active"><a href="#" onclick="dummy(0);return false;">@resShared.mnuEditProfile</a></li>
					</ol>
					<!-- End breadcrumb -->

            </div>
            <!-- /.row -->
            <div class="row" align="center">
                <div align="center">
                    <form role="form" align="center">
                        <div style="text-align: left; float:none" class="col-lg-5 col-md-6 col-sm-12" align="center">
                            <div class="form-group">
                                <label>
                                    @resShared.lblUserID
                                </label>
                                @Html.TextBoxFor(model => model.Member.Username, new { @class = "form-control", @readonly = true })
                                @Html.HiddenFor(model => model.Member.Username)
                                <div style="margin-left: 0px;">
                                    @Html.ValidationMessageFor(m => Model.Member.Username)
                                </div>
                            </div>
                            <div class="form-group">
                                <label>
                                    @resShared.lblFullname
                                </label>
                                @Html.TextBoxFor(model => model.Member.FirstName, new { @class = "form-control", @readonly = true })                              
                                @Html.HiddenFor(model => model.Member.FirstName)
                                <div style="margin-left: 0px;">
                                    @Html.ValidationMessageFor(m => Model.Member.FirstName)
                                </div>
                            </div>
                            <div class="form-group">
                                <label>
                                    @resShared.lblIC
                                </label>
                                @Html.TextBoxFor(model => model.UserInfo.IC, new { @class = "form-control", @readonly = true })                             
                                @Html.HiddenFor(model => model.UserInfo.IC)
                                <div style="margin-left: 0px;">
                                    @Html.ValidationMessageFor(m => Model.UserInfo.IC)
                                </div>
                            </div>
                            <div class="form-group">
                                <label>
                                    @resShared.lblCountry
                                </label>
                                @*@Html.DropDownListFor(m => m.SelectedCountry, @Model.Countries, new { @class = "form-control", @disabled = "disabled" })*@
                                @Html.DropDownListFor(m => m.SelectedCountry, @Model.UserInfo.Countries, new { @class = "form-control" , @id = "SelectedCountry" })
                                @Html.HiddenFor(m => m.SelectedCountry)
                            </div>

                        </div>
                        <div style="text-align: left; float:none" class="col-lg-5 col-md-6 col-sm-12" align="center">
                            <div class="form-group">
                                <div class="form-group">
                                    <b>@resShared.lblAddress</b>
                                    @Html.TextBoxFor(model => model.UserInfo.Address, new { @class = "form-control" })
                                    <p>@resShared.lblStreet</p>

                                    <b>@resShared.mnuCity</b>
                                    @Html.TextBoxFor(model => model.UserInfo.SelectedCity, new { @class = "form-control" })

                                    <b>@resShared.lblState</b>
                                    @Html.TextBoxFor(model => model.UserInfo.State, new { @class = "form-control" })
                                    <b>@resShared.lblPostcode</b>
                                    @Html.TextBoxFor(model => model.UserInfo.Postcode, new { @class = "form-control" })
                                    @*<b>@resShared.lblMailingCountry</b>
                                    @Html.DropDownListFor(m => m.UserInfo.SelectedCountry, @Model.UserInfo.Countries, new { @class = "form-control", @id = "MailingCountry" })
                                    @Html.HiddenFor(m => m.UserInfo.SelectedCountry)*@
                                </div>
                            </div>
                        </div>

                        <div style="text-align: left; float:none" class="col-lg-5 col-md-6 col-sm-12" align="center">
                            <div class="form-group">
                                <strong>@resShared.lblDOB </strong>
                                <div class="form-group">
                                    <b>@resShared.lblDay</b>
                                    @Html.DropDownListFor(m => m.UserInfo.SelectedDay, @Model.UserInfo.Days, new { @class = "form-control", style = "max-width: 70px;display:inline" })

                                    <b>@resShared.lblMonth</b>
                                    @Html.DropDownListFor(m => m.UserInfo.SelectedMonth, @Model.UserInfo.Months, new { @class = "form-control", style = "max-width: 80px;display:inline" })

                                    <b>@resShared.lblYear</b>
                                    @Html.DropDownListFor(m => m.UserInfo.SelectedYears, @Model.UserInfo.Years, new { @class = "form-control", style = "max-width: 80px;display:inline" })

                                </div>
                            </div>
                        </div>

                        <div style="text-align: left; float:none" class="col-lg-5 col-md-6 col-sm-12" align="center">
                            <div class="form-group">
                                <strong>@resShared.lblCellPhone <span style="color: Red">*</span></strong>
                                <div class="form-group">
                                    @Html.DropDownListFor(m => @Model.UserInfo.MobileCountryCode, @Model.Countries, new { @class = "form-control", style = "width:200px ; display:inline;", @id = "MobileCountryCode" })
                                    @Html.TextBoxFor(m => @Model.UserInfo.CellPhone, new { @class = "form-control", @style = "width:300px; display:inline;" })
                                </div>
                                <div style="margin-left: 0px;">
                                    <label style="text-align: left">@resShared.lblMobileVal1</label>
                                </div>
                                <div style="margin-left: 0px;">
                                    <label style="text-align: left">@resShared.lblMobileVal2</label>
                                </div>
                                <div style="margin-left: 0px;">
                                    @Html.ValidationMessageFor(m => Model.UserInfo.CellPhone)
                                </div>
                            </div>
                        </div>
                        <div style="text-align: left; float:none" class="col-lg-5 col-md-6 col-sm-12" align="center">
                            <div class="form-group">
                                <strong>@resShared.lblEmail <span style="color: Red">*</span></strong>
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.Member.MemberEmail, new { @class = "form-control" })
                                </div>
                                <div style="margin-left: 0px;">
                                    @Html.ValidationMessageFor(m => Model.Member.MemberEmail)
                                </div>

                            </div>
                        </div>

                    </form>
                </div>
                <br />
            </div>
            <div class="BtnClass" align="center">
                <button id="submitBtn" type="button" class="btn btn-sm btn-success" style="width: 150px">@resShared.btnSave</button>
            </div>
            <br />
        </div>
    }
</div>
				