﻿@using ECFBase.Models;
@using resShared = ECFBase.Resources.OneForAll.OneForAll; 
@model PaginationCurrentSalesModel

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnPage2").click(function (evt) {
            $("#btnPage").click();
        });

        $("#btnPage").click(function (evt) {

            var e = document.getElementById("page");
            var page;
            if (e.selectedIndex == -1)
                page = 1;
            else
                page = e.options[e.selectedIndex].value;

            var y = document.getElementById("ddlyear");
            var year = y.options[y.selectedIndex].value;

            var m = document.getElementById("ddlmonth");
            var month = m.options[m.selectedIndex].value;

            var d = document.getElementById("ddlday");
            var day = d.options[d.selectedIndex].value;

            $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/MemberReports/BonusSummary",
                data: { selectedPage: page, selectedYear: year, selectedMonth: month, selectedDay:day },
                success: function (data) {
                    $("#main-content").html(data);
                   $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                   $('#Loading').hide();
                }
            });
        });
    });
</script> 
					<!-- Begin breadcrumb -->
					<ol class="breadcrumb default square rsaquo sm no-border ">
						<li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
						<li><a href="#">@resShared.lblReports</a></li>
						<li class="active"><a href="#">@resShared.lblBonusSummary</a></li>
					</ol>
					<!-- End breadcrumb -->

<div>
    <div class="grid" style="margin-left: 5px;" id="grid">
        <div class="grid">
            <table style="width: 100%">
                <tr style="margin-top: 5px">
                    <td style="padding-left: 5px; width: 70px">@resShared.lblYear
                    </td>
                    <td>
                        @Html.DropDownList("ddlyear", new SelectList(new List<Object>{ 
                                                        new { value = 0 , text = ""},
                                                        new { value = DateTime.Now.Year , text = DateTime.Now.Year},
                                                        new { value = DateTime.Now.Year - 1 , text = DateTime.Now.Year - 1 },
                                                        new { value = DateTime.Now.Year - 2 , text = DateTime.Now.Year - 2 },
                                                        new { value = DateTime.Now.Year - 3 , text = DateTime.Now.Year - 3 },
                                                        new { value = DateTime.Now.Year - 4, text = DateTime.Now.Year - 4 }}, "value", "text", @ViewBag.selectedYear), new { style = "width:200px; height:25px" })
                    </td>
                </tr>
                <tr style="margin-top: 5px">
                    <td style="padding-left: 5px; width: 70px">@resShared.lblMonth
                    </td>
                    <td>
                        @Html.DropDownList("ddlmonth", new SelectList(new List<Object>{
                                                        new { value = 0 , text = ""},
                                                        new { value = 1 , text = "January"},
                                                        new { value = 2 , text = "February" },
                                                        new { value = 3 , text = "March" },
                                                        new { value = 4 , text = "April" },
                                                        new { value = 5 , text = "May" },
                                                        new { value = 6 , text = "June" },
                                                        new { value = 7 , text = "July" },
                                                        new { value = 8 , text = "August" },
                                                        new { value = 9 , text = "September" },
                                                        new { value = 10 , text = "October" },
                                                        new { value = 11 , text = "November" },
                                                        new { value = 12 , text = "December" }}, "value", "text", @ViewBag.selectedMonth), new { style = "width:200px; height:25px" })
                    </td>
                </tr>
                <tr style="margin-top: 5px">
                    <td style="padding-left: 5px; width: 70px">@resShared.lblDay
                    </td>
                    <td>
                        @Html.DropDownList("ddlday", new SelectList(new List<Object>{
                                                        new { value = 0 , text = ""},
                                                        new { value = 1 , text = "1"},
                                                        new { value = 2 , text = "2" },
                                                        new { value = 3 , text = "3" },
                                                        new { value = 4 , text = "4" },
                                                        new { value = 5 , text = "5" },
                                                        new { value = 6 , text = "6" },
                                                        new { value = 7 , text = "7" },
                                                        new { value = 8 , text = "8" },
                                                        new { value = 9 , text = "9" },
                                                        new { value = 10 , text = "10" },
                                                        new { value = 11 , text = "11" },
                                                        new { value = 12 , text = "12" },
                                                        new { value = 13 , text = "13" },
                                                        new { value = 14 , text = "14" },
                                                        new { value = 15 , text = "15" },
                                                        new { value = 16 , text = "16" },
                                                        new { value = 17 , text = "17" },
                                                        new { value = 18 , text = "18" },
                                                        new { value = 19 , text = "19" },
                                                        new { value = 20 , text = "20" },
                                                        new { value = 21 , text = "21" },
                                                        new { value = 22 , text = "22" },
                                                        new { value = 23 , text = "23" },
                                                        new { value = 24 , text = "24" },
                                                        new { value = 25 , text = "25" },
                                                        new { value = 26 , text = "26" },
                                                        new { value = 27 , text = "27" },
                                                        new { value = 28 , text = "28" },
                                                        new { value = 29 , text = "29" },
                                                        new { value = 30 , text = "30" },
                                                        new { value = 31 , text = "31" }}, "value", "text", @ViewBag.selectedDay), new { style = "width:200px; height:25px" })
                        <input id="btnPage2" value="@resShared.btnView" class="button" />
                    </td>
                </tr>
            </table>
            <table id="tablestyle" width="100%">
                <thead>
                    <tr style="height: 25px; background-color: #f1f1f1; border-top: 2px solid white;">
                        <th>
                            @resShared.lblDate
                        </th>
                        <th>
                           @resShared.lblNewRegistration
                        </th>
                        <th>
                            @resShared.lblPVTopup
                        </th>
                        <th>
                            @resShared.lblBonusTopup
                        </th>
                        <th>
                            @resShared.lblMaintenance
                        </th>
                        <th>
                            @resShared.lblTotalSales
                        </th>
                        <th>
                            @resShared.lblSponsorBonus
                        </th>
                        <th>
                            @resShared.lblPairBonus
                        </th>
                        <th>
                            @resShared.lblMatchingBonus
                        </th>
                        <th>
                            @resShared.lblWPoolValue
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.CurrentSalesModel)
                    { 
                        <tr style="height: 25px; border-top: 2px solid white;">
                            <td>
                                @Html.DisplayFor(modelItem => item.SalesDate)
                            </td>
                            <td>
                                @string.Format("{0:n2}", item.NewRegSalesAmount)
                            </td>
                            <td>
                                @string.Format("{0:n2}", item.TopupPVSalesAmount)
                            </td>
                            <td>
                                @string.Format("{0:n2}", item.TopupBonusAmount)
                            </td>
                            <td>
                                @string.Format("{0:n2}", item.MaintainanceSalesAmount)
                            </td>
                            <td>
                                @string.Format("{0:n2}", item.TotalSalesAmount)
                            </td>
                            <td>
                                @string.Format("{0:n2}", item.SponsorBonusAmount)
                            </td>
                            <td>
                                @string.Format("{0:n2}", item.PairingBonusAmount)
                            </td>
                            <td>
                                @string.Format("{0:n2}", item.MatchingBonusAmount)
                            </td>
                            <td>
                                @string.Format("{0:n2}", item.WorldPoolBonusAmount)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <table  width="auto" style="text-align:right; margin-right:0px; margin-left:auto;">
                <tr>
                    <td style="text-align: right">
                        <div class="BtnClass" style="float: right;">
                            @Html.DropDownList("page", @Model.Pages, new { style = "width:50px;" })
                    
                        </div>
                    </td>
                    <td style="text-align: right">
                            <input id="btnPage" value="@resShared.btnView" class="button" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
