﻿@using ECFBase.Components
@using resShared = ECFBase.Resources.OneForAll.OneForAll;
@using ECFBase.Models
@model PaginationInvoiceListingModel

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $.ajaxSetup({ cache: false });
    $(document).ready(function () {

        $("#btnPage").click(function (evt) {
            var e = document.getElementById("page")
            var page = e.options[e.selectedIndex].value;
            $('#Loading').show();
            //ShowProgressAnimation();
            $.ajax({
                type: "POST",
                url: "/MemberShopCenter/InvoiceListing",
                data: { selectedPage: page},
                success: function (data) {
                    $("#main-content").html(data);
                   $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                   $('#Loading').hide();
                }
            });
        });

        $(".ShowData").die() //must come in pair with .live if not multiple times will fired for that pop up dialog
        $(".ShowData").live("click", function (e) {
            e.preventDefault();
            var winH = 950;
            var winW = 1124;
            $("<div></div>")
            .addClass("modalEditCourse")
            .attr("id", $(this).attr("data_dialog_id"))
            .appendTo('#reportBS')
            .dialog({
                title: $(this).attr("data_dialog_title"),
                close: function () { $(this).remove(); },
                modal: true,
                height: winH,
                width: winW,
                resizable: false,
                //CKEDITOR cannot have "HIDE AND SHOW STYLE"
                //hide: "slide",
                //show: "slide",
                context: $(this)
            }).load(this.href);
            $(".ui-dialog").addClass("white-dialog");
        });
    });
</script>
<div id="reportBS">
    <div style="height: 30px; padding-left: 20px; text-align: left">
        <h3>
            @resShared.lblTransaction >> @resShared.lblInvoiceListing
        </h3>
    </div>
    <div class="grid" style="margin-left: 5px;" id="grid">
        <div class="grid">
            <table id="tablestyle" style="width: 100%">
                <thead>
                    <tr style="height: 25px; background-color: #f1f1f1; border-top: 2px solid white;">
                        <th style="width:40px;">
                            @resShared.lblNumber
                        </th>
                        <th style="width:70px;">
                            @resShared.lblInvoiceNo
                        </th>
                        <th style="width:150px">
                            @resShared.lblDate
                        </th>
                        <th style="width:110px">
                            @resShared.lblUsername
                        </th>
                        <th style="width:70px">
                            @resShared.lblType
                        </th>
                        <th style="width:70px">
                            @resShared.lblAmount
                        </th>
                        <th style="width:70px">
                            @resShared.lblStatus
                        </th>
                        <th style="width:80px">
                            @resShared.lblAction
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.InvoiceLists.Count == 0)
                    {
                        <tr style="height: 25px; border-top: 2px solid white;">
                            <td style="padding: 5px;" colspan="10">
                                @resShared.lblNoRecFound
                            </td>
                        </tr>
                    }
                    @foreach (var item in Model.InvoiceLists)
                    {                          
                        <tr>
                            <td align="center" style="text-align: center">
                                @Html.DisplayFor(modelItem => item.RowNumber)
                            </td>
                            <td align="center" style="text-align: center">
                             @*   @Html.HiddenFor(modelItem => item.InvoiceNo)
                                @Html.HiddenFor(modelItem => item.Id)
                                <a id="openDialogBB" style="float:right; text-decoration: underline; text-align: center" class="ShowData" data_dialog_title="@item.InvoiceNo : @item.Username" data_dialog_id="viewInvoice" 
                                   href="@Url.Action("InvoiceView", "MemberShopCenter", new { Id = item.Id })">*@
                                    @Html.DisplayFor(modelItem => item.InvoiceNo, new { @style = "text-decoration:underline; text-align: center" })                                                
                               @* </a>  *@        
                            </td>
                            <td align="center" style="text-align: center">
                                @Html.HiddenFor(modelItem => item.Date)
                                @Convert.ToDateTime(item.Date).ToString("dd/MM/yyyy hh:mm:ss tt")
                            </td>
                            <td align="center" style="text-align: center">
                                @Html.DisplayFor(modelItem => item.Username)
                            </td>
                            <td align="center" style="text-align: center">
                                @Html.DisplayFor(modelItem => item.InvoiceCashName)
                            </td>
                            <td align="center" style="text-align: center">
                                @Html.DisplayFor(modelItem => item.TotalAmount)
                            </td>
                            <td align="center" style="text-align: center">
                                @Misc.DeliveryStatus(item.Status)
                            </td>
                            <td align="center" style="width:60px; text-align: center">
                               @*<a style="text-decoration:underline;" id="@item.Id" class="EditData">
                                    @resShared.lblEdit 
                                </a>&nbsp;*@
                                <a href="@Url.Action("PrintInvoice", "MemberShopCenter", new { InvoiceID = item.Id })" target="_blank">@resShared.lblPrint</a>
                            </td>
                        </tr> 
                    }
                </tbody>
            </table>
            <table width="100%">
                <tr>
                    <td style="text-align: right">
                        <div class="BtnClass" style="float: right;">
                            @Html.DropDownList("page", @Model.Pages, new { style = "width:50px;" })
                            <input id="btnPage" value="@resShared.btnView" class="button" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
