﻿@using ECFBase.Models
@using resShared = ECFBase.Resources.OneForAll.OneForAll;
@model RegisterNewMemberModel
@{
    ViewBag.Title = "MP RegisterNewMemberPage1";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script type="text/javascript">      

    $("#btnNext").click(function (evt) {
        $.validator.unobtrusive.parse($('#regMem'));
        if (jQuery("#regMem").valid() == true) {
            $.ajax({
                type: "POST",
                url: "/MemberShopCenter/MPRegisterNewMemberPage1Method",
                data: $("#regMem").serialize(),
                success: function (data) {
                    $("#main-content").html(data);
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        } return false;
    });

    $("#memberEmail").focusout(function (e) {
        $('#Loading').show();
        $.ajax({
            url: "/MemberShopCenter/MPRegisterNewMemberPage1",
            type: "POST",
            data: $("#regMem").serialize(),
            data: { Rank: $(document.getElementById("SelectedRank")).val(), upMember: $(document.getElementById("UsernameID")).val(), position: $(document.getElementById("Location")).val(), startFresh: false, MBintro: $(document.getElementById("MBintro")).val(), CountryCode: $(document.getElementById("SelectedCountry")).val() },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();

            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }

        });
    });

    $('#MBintro').focusout(function () {
        //Clear and get country code
        $.validator.unobtrusive.parse($('#regMem'));
        $('#Loading').show();
        $.ajax({
            url: "/MemberShopCenter/MPRegisterNewMemberPage1",
            type: "POST",
            data: $("#regMem").serialize(),
            data: {Rank: $(document.getElementById("SelectedRank")).val(), upMember: $(document.getElementById("UsernameID")).val(), position: $(document.getElementById("Location")).val(), startFresh: false ,MBintro: $(document.getElementById("MBintro")).val(), CountryCode: $(document.getElementById("SelectedCountry")).val()},
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
       
        });
    });

    $('#SelectedRank').change(function () {
        $.validator.unobtrusive.parse($('#regMem'));
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/MemberShopCenter/MPRegisterNewMemberPage1",
            data: $("#regMem").serialize(),
            data: { Rank: $(document.getElementById("SelectedRank")).val(), upMember: $(document.getElementById("UsernameID")).val(), position: $(document.getElementById("Location")).val(), startFresh: false ,MBintro: $(document.getElementById("MBintro")).val(),CountryCode: $(document.getElementById("SelectedCountry")).val()},
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });

</script>

<div class="container-fluid">
    @{ Html.EnableClientValidation(true); }
    @using (Html.BeginForm("MPRegisterNewMemberPage3Method", "MemberShopCenter", FormMethod.Post, new { enctype = "multipart/form-data", name = "regMem", id = "regMem" })) //this id very important to do HttpPost
    {
        //display Model's errors
        @Html.ValidationSummary(true)
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb default square rsaquo sm no-border">
                    <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                    <li><a href="#">@resShared.mnuTransaction</a></li>
                    <li><a href="#">@resShared.mnuPersonalSignup</a></li>
                    <li class="active"><a href="#">@resShared.lblUplineDetail</a></li>
                </ol>

                <h1 class="page-sub-header"></h1>
            </div>
        </div>
        <div class="col-lg-12" align="center">
            <div style="max-width: 600px; text-align: left">
                <div class="form-group">
                    <strong>@resShared.lblRegisterCountry</strong>

                    @Html.DropDownListFor(m => m.SelectedCountry, @Model.Countries, new { @id = "SelectedCountry", @class = "form-control" })
                    @Html.HiddenFor(m => m.SelectedCountry)
                </div>
            </div>
        </div>
        <div class="col-lg-12" align="center">
            <div style="max-width: 600px; text-align: left">
                <div class="form-group">


                    <strong>@resShared.lblUpline <span style="color: Red">*</span></strong>
                    @if (@Model.UsernameID == null)
                    {
                        @Html.TextBoxFor(m => @Model.Member.Upline, new { @class = "form-control" })
                    }
                    else
                    {

                        @Html.TextBoxFor(m => @Model.Member.Upline, new { @id = "UsernameID", @class = "form-control", @readonly = "readonly" })

                    }
                    <div style="margin-left: 0px;">
                        @Html.ValidationMessageFor(m => Model.UsernameID)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12" align="center">
            <div style="max-width: 600px; text-align: left">
                <div class="form-group">


                    <strong>@resShared.lblUplineDisplayName <span style="color: Red">*</span></strong>
                    @if (@Model.UsernameID == null)
                    {
                        @Html.TextBoxFor(m => @Model.UpLineFullName, new { @class = "form-control" })
                    }
                    else
                    {

                        @Html.TextBoxFor(m => @Model.UpLineFullName, new { @id = "UsernameID", @class = "form-control", @readonly = "readonly" })

                    }
                    <div style="margin-left: 0px;">
                        @Html.ValidationMessageFor(m => Model.UpLineFullName)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12" align="center">
            <div style="max-width: 600px; text-align: left">
                <div class="form-group">
                    <strong>@resShared.lblPosition <span style="color: Red">*</span></strong>
                    @if (@Model.UsernameID == null)
                    {
                        @Html.DropDownListFor(m => m.SelectedLocation, Model.Locations, new { @class = "form-control" })
                    }
                    else
                    {
                        @Html.HiddenFor(m => m.SelectedLocation)
                        @Html.DropDownListFor(m => m.SelectedLocation, Model.Locations, new { @id = "Location", @class = "form-control", @disabled = "disabled" })
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-12" align="center">
            <div style="max-width: 600px; text-align: left">
                <div class="form-group">
                    <strong>@resShared.lblSponsorID <span style="color: Red">*</span></strong>

                    @Html.DropDownListFor(m => @Model.Member.SelectedOwnAccount, @Model.Member.OwnAccount, new { @id = "SelectedOwnAccount", @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-lg-12" align="center">
            <div style="max-width: 600px; text-align: left">
                <div class="form-group">
                    <strong style="color:Red">@resShared.msgReg1</strong>
                </div>
            </div>
        </div>



        <div class="row" align="center">
            <div style="max-width: 600px;">
                <div class="form-group">
                    <button id="btnNext" type="button" class="btn btn-primary" style="width:100px">@resShared.btnNext >></button>
                </div>
            </div>
        </div>
    }
</div>
