﻿@using ECFBase.Models
@using resShared = ECFBase.Resources.OneForAll.OneForAll;
@model RegisterNewMemberModel
@{
    ViewBag.Title = "RegisterNewMemberPage3";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    
    $("#btnNext").click(function (evt) {
        $.validator.unobtrusive.parse($('#regMem'));
        //if (jQuery("#regMem").valid() == true) {
        $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/MemberShopCenter/MPRegisterNewMemberPage3Method",
                data: $("#regMem").serialize(),
                data: { RegisterPaymentWallet: $(document.getElementById("RegisterPaymentWallet")).val(), CompanyPaymentWallet: $(document.getElementById("CompanyPaymentWallet")).val(), RegisterMPPaymentWallet: $(document.getElementById("RegisterMPPaymentWallet")).val()},
                //data: { Country: $('#SelectedCountry').val(), PaymentType: $(document.getElementById("PaymentType")).val()},
                success: function (data) {
                    $("#main-content").html(data);
                   $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                   $('#Loading').hide();
                }
            });
        //} return false;
    });  

    $("#btnBack").click(function (evt) {
        $.validator.unobtrusive.parse($('#regMem'));
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/MemberShopCenter/MPBackToRegisterNewMemberPage2",
            data: $("#regMem").serialize(),
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });  
    

   

</script>

<div>
    @{ Html.EnableClientValidation(true); }
    @using (Html.BeginForm("MPRegisterNewMemberPage3Method", "MemberShopCenter", FormMethod.Post, new { enctype = "multipart/form-data", name = "regMem", id = "regMem" })) //this id very important to do HttpPost
    {
        //display Model's errors
        @Html.ValidationSummary(true)

        @Html.HiddenFor(m => @Model.stringPackageAmount, new { Id = "PackageAmount" })
        

    <div class="row">
        <div class="col-lg-12">
            <!-- Begin breadcrumb -->
            <ol class="breadcrumb default square rsaquo sm no-border" style="margin:10px;">
                <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                <li><a href="#">@resShared.mnuTransaction</a></li>
                <li><a href="#">@resShared.mnuPersonalSignup</a></li>
                <li class="active"><a href="#">@resShared.lblPaymentMethod</a></li>
            </ol>
            <!-- End breadcrumb -->
            <h1 class="page-sub-header"></h1>
        </div>

        <div class="col-lg-12" align="center">
            <div style="max-width: 600px; text-align: left">
                <div class="form-group">
                    <strong>@resShared.lblCRPpointBalance</strong>
                    @Html.TextBoxFor(m => @Model.Member.CRPWallet, new { @class = "form-control", disabled = "disabled", Value = String.Format("{0:n2}", Model.Member.CRPWallet) })
                </div>
            </div>
        </div>

        <div class="col-lg-12" align="center">
            <div style="max-width: 600px; text-align: left">
                <div class="form-group">
                    <strong>@resShared.lblRPBalance</strong>
                    @Html.TextBoxFor(m => @Model.Member.RegisterWallet, new { @class = "form-control", disabled = "disabled", Value = String.Format("{0:n2}", Model.Member.RegisterWallet) })
                </div>
            </div>
        </div>

        <div class="col-lg-12" align="center">
            <div style="max-width: 600px; text-align: left">
                <div class="form-group">
                    <strong>@resShared.lblMPRpointBalance</strong>
                    @Html.TextBoxFor(m => @Model.Member.RMPWallet, new { @class = "form-control", disabled = "disabled", Value = String.Format("{0:n2}", Model.Member.RMPWallet) })
                </div>
            </div>
        </div>

        <div class="col-lg-12" align="center">
            <div style="max-width: 600px; text-align: left">
                <div class="form-group">
                    <strong>@resShared.lblCountry</strong>

                    @Html.DropDownListFor(m => m.SelectedCountry, @Model.Countries, new { @id = "SelectedCountry", @class = "form-control", disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="col-lg-12" align="center">
            <div style="max-width: 600px; text-align: left">
                <div class="form-group">
                    <strong>@resShared.lblpackageAmount </strong>
                    @Html.TextBoxFor(m => @Model.SelectedPackageAmount, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="col-lg-12" align="center">
            <div style="max-width: 600px; text-align: left">
                <div class="form-group">
                    <strong>@resShared.lblPaymentMethod </strong>
                    <input class="form-control" type="text" disabled value="Min CRP 40% + ( RP + RMP 60%)" />
                </div>
            </div>
        </div>

        <div class="col-lg-12" align="center">
            <div style="max-width: 600px; text-align: left">
                <div class="form-group">
                    <strong>@resShared.lblCRPPayment </strong>
                    @Html.TextBoxFor(m => @Model.Member.SCompanyPaymentWallet, new { id = "CompanyPaymentWallet", @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="col-lg-12" align="center">
            <div style="max-width: 600px; text-align: left">
                <div class="form-group">
                    <strong>@resShared.lblRPPayment </strong>
                    @Html.TextBoxFor(m => @Model.Member.SRegisterPaymentWallet, new { id = "RegisterPaymentWallet", @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="col-lg-12" align="center">
            <div style="max-width: 600px; text-align: left">
                <div class="form-group">
                    <strong>@resShared.lblRMPPayment </strong>
                    @Html.TextBoxFor(m => @Model.Member.SRegisterMPPaymentWallet, new { id = "RegisterMPPaymentWallet", @class = "form-control"})
                </div>
            </div>
        </div>


        <div style=" height:30px"></div>
        <div class="col-lg-12" align="center">
            <div style="max-width: 600px;">
                <div class="form-group">
                    <button id="btnBack" type="button" class="btn btn-primary" style="width:100px">@resShared.btnBack <<</button>
                    <button id="btnNext" type="button" class="btn btn-primary" style="width:100px">@resShared.btnNext >></button>
                </div>
            </div>
        </div>

    </div>

    }
</div>
