﻿@using ECFBase.Models
@using resShared = ECFBase.Resources.OneForAll.OneForAll;
@model RegisterNewMemberModel
@{
    ViewBag.Title = "RegisterNewMemberPage5";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    PageLoad();

    function PageLoad() {
        $("[id *= 'qtyJQ']").each(function () {
            var row = this.id.substring(6);
            var totalID = 'totalJQ|' + row;

            var totalprice = 'totalprice|' + row
            var productPrice = $(document.getElementById(totalprice)).text();

            var finalTotal = parseInt(this.value) * productPrice;

            $(document.getElementById(totalID)).html(finalTotal);

            //update the total quantity and grand total
            $(document.getElementById("finalTotalQuantityJQ")).html(totalQuantity());
            $(document.getElementById("finalTotalAmountJQ")).html(totalAmount());
        });

        $("[id *= 'qtySetJQ']").each(function () {
            var row = this.id.substring(6);

            //update the total quantity for product set
            $(document.getElementById("finalTotalSetJQ")).html(totalSetQuantity());
        });
    }

    $("#OkApproveBtn").click(function (evt) {
        Register();
        $("[class *= 'modal-backdrop']").hide();
    });

    function Register() {
        $.ajax({
            type: "POST",
            url: "/MemberShopCenter/MPRegisterNewMemberPage5Method",
            data: $("#regMem").serialize(),
            success: function (data) {
                alert(data);
                
                MarketTree();
                $('#Loading').hide();

                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                   $('#Loading').hide();
                }
            });
    };


    function MarketTree() {
        $.ajax({
            type: "POST",
            url: "/MemberShopCenter/MPMarketTree",
            data: {},
            success: function (data) {
                $("#main-content").html(data);
                $("#responsiveToggle").click();
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    };


    $("#btnBack").click(function (evt) {
        $('#Loading').show();
        $.validator.unobtrusive.parse($('#regMem'));
        $.ajax({
            type: "POST",
            url: "/MemberShopCenter/MPBackToRegisterNewMemberPage4",
            data: $("#regMem").serialize(),
            success: function (data) {
                $('#Loading').hide();
                $("#main-content").html(data);
               $('#Loading').hide();

            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();

            }
        });
    });

    function totalQuantity() {
        var totalQ = 0;

        $("[id *= 'qtyJQ']").each(function () {
            totalQ += parseInt(this.value);
        });

        return totalQ;
    }

    function totalAmount() {
        var totalA = 0;

        $("[id *= 'qtyJQ']").each(function () {
            var row = this.id.substring(6);
            var totalID = 'totalJQ|' + row;

            var totalprice = 'totalprice|' + row
            var productPrice = $(document.getElementById(totalprice)).text();

            totalA += parseInt(this.value) * productPrice;
        });

        return totalA;
    }

    function totalSetQuantity() {
        var totalQ = 0;

        $("[id *= 'qtySetJQ']").each(function () {
            totalQ += parseInt(this.value);
        });

        return totalQ;
    }

</script>

<div style="width:100%">
<div style="width:49%; right:0;"  ></div>
</div>

<div class="modal fade" id="confirmApproveDialog" title="message title" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog" style="max-width:450px; width:auto">
        <div class="modal-content" style="text-align: center" align="center">
            <div class="modal-header" style="height: 70px">
                <button type="button" class="close" data-dismiss="modal">
                    ×</button>
                <h4>@resShared.lblConfirmation</h4>
            </div>
            <div class="modal-body">
                <p><b>@resShared.lblConfirmNewSignUp </b></p>
                @*@resAdminHome.WarningRegister*@
            </div>
            <div class="modal-footer">
                <button type="button" id="OkApproveBtn" class="btn btn-info" data-dismiss="modal"
                    style="width: 100px;" aria-hidden="true">@resShared.lblYes</button>
                <button type="button" id="CancelConfirmBtn" class="btn btn-info" data-dismiss="modal"
                    style="width: 100px; padding-left: 10px" aria-hidden="true">@resShared.lblNo</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    @{ Html.EnableClientValidation(true); }
    @using (Html.BeginForm("MPRegisterNewMemberPage5Method", "MemberShopCenter", FormMethod.Post, new { enctype = "multipart/form-data", name = "regMem", id = "regMem" })) //this id very important to do HttpPost
    {
        //display Model's errors
        @Html.ValidationSummary(true)
        <div class="row">
            <div class="col-lg-12">
            <ol class="breadcrumb default square rsaquo sm no-border">
                <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                <li><a href="#">@resShared.mnuTransaction</a></li>
                <li><a href="#">@resShared.mnuPersonalSignup</a></li>
                <li class="active"><a href="#">@resShared.lblReview</a></li>
            </ol>
               
                <h1 class="page-sub-header">
                </h1>
            </div>
        </div>
        <div class="row">
            <label style="font-size: large; color: Red; margin-left: 15px; ">
                @resShared.lblNewRegMemID @Model.LoginUsername
            </label>
        </div>
        <table id="tablestyle" class="table table-bordered table-hover table-striped">
            <tbody>
                <tr>
                    <td>
                        @resShared.lblUpline
                    </td>
                    <td>
                        @Model.Member.Upline
                    </td>
                </tr>
                <tr>
                    <td>
                        @resShared.lblPosition
                    </td>
                    <td>
                        @Model.SelectedLocationString
                    </td>
                </tr>
                <tr>
                    <td>
                        @resShared.lblSponsorID
                    </td>
                    <td>
                        @Model.Member.Intro
                    </td>
                </tr>
                <tr>
                    <td>
                        @resShared.lblFullname
                    </td>
                    <td>
                        @Model.Member.FirstName
                    </td>
                </tr>
                <tr>
                    <td>
                        @resShared.lblIC
                    </td>
                    <td>
                        @Model.UserInfo.IC
                    </td>
                </tr>
                <tr>
                    <td>
                        @resShared.lblCountry
                    </td>
                    <td>
                        @Model.SelectedCountryString
                    </td>
                </tr>
                <tr>
                    <td>
                        @resShared.lblCellPhone
                    </td>
                    <td>
                        @Model.UserInfo.CellPhone
                    </td>
                </tr>
                <tr>
                    <td>
                        @resShared.lblEmail
                    </td>
                    <td>
                        @Model.Member.MemberEmail
                    </td>
                </tr>
                <tr>
                    <td>
                        @resShared.lblPackageFor
                    </td>
                    <td>
                        @Model.SelectedPackageName
                    </td>
                </tr>
                <tr>
                    <td>
                        @resShared.lblpackageAmount
                    </td>
                    <td>
                        @Model.SelectedPackageAmount
                    </td>
                </tr>
                <tr>
                    <td>
                        @resShared.lblbv
                    </td>
                    <td>
                        @Model.SelectedPackageBV
                    </td>
                </tr>
                <tr>
                    <td>
                        @resShared.lblEfundPoint
                    </td>
                    <td>
                        @Model.SelectedPackageEPoint
                    </td>
                </tr>
                <tr>
                    <td>
                        @resShared.lblCompanyRegisterPoint
                    </td>
                    <td>
                        @Model.Member.SCompanyPaymentWallet
                    </td>
                </tr>
                <tr>
                    <td>
                        @resShared.lblRegisterPoint
                    </td>
                    <td>
                        @Model.Member.SRegisterPaymentWallet
                    </td>
                </tr>
                <tr>
                    <td>
                        @resShared.mnuRMPWallet
                    </td>
                    <td>
                        @Model.Member.SRegisterMPPaymentWallet
                    </td>
                </tr>


                <tr>
                    <td>
                        @resShared.lblGrandTotal
                    </td>
                    <td>
                        @Model.TotalRD
                    </td>
                </tr>
                <tr>
                    <td>
                        @resShared.lblSecurityPin
                    </td>
                    <td>
                        @Html.PasswordFor(model => model.SponsorSecurityPin, new { @class = "form-control" })
                        <div style="margin-left: 0px;">
                            @Html.ValidationMessageFor(m => Model.SponsorSecurityPin)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div style="margin-left: 0px;color:Red;font-size:large;font-weight:bold">
                            @resShared.msgregisterwarning
                        </div>
                        <div style="margin-left: 0px;color:Red;font-size:large;font-weight:bold">
                            @resShared.msgregisterwarning2
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row" align="center">
            <div style="max-width: 600px;">
                <div class="form-group">
                    <button id="btnBack" type="button" class="btn btn-primary" style="width: 100px"><< @resShared.btnBack </button>
                    <button type="button" class="btn btn-primary" style="width: 100px" data-toggle="modal" data-target="#confirmApproveDialog">@resShared.lblConfirm</button>
                </div>
            </div>
        </div>
    }
</div>
