﻿@using ECFBase.Models
@using resShared = ECFBase.Resources.OneForAll.OneForAll;
@model RegisterNewMemberModel
@{
    ViewBag.Title = "RegisterNewMemberPage4";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $("#btnNext").click(function (evt) {
        $('#Loading').show();
        $.validator.unobtrusive.parse($('#regMem'));
        //if (jQuery("#regMem").valid() == true) {
                $.ajax({
                    type: "POST",
                    url: "/MemberShopCenter/RegisterNewMemberPage4Method",
                    data: $("#regMem").serialize(),
                    success: function (data) {
                        $("#main-content").html(data);
                        $('#Loading').hide();
                    },
                    error: function (xhr, status, error) {
                        var errorM = xhr.responseText;
                        errorM = errorM.replace('""', '');
                        alert(errorM);
                        $('#Loading').hide();
                    }
                });
        //} return false;
        //$('#Loading').hide();
        });

    $("#btnBack").click(function (evt) {
        $('#Loading').show();
        $.validator.unobtrusive.parse($('#regMem'));
        //if (jQuery("#regMem").valid() == true) {
            $.ajax({
                type: "POST",
                url: "/MemberShopCenter/BackToRegisterNewMemberPage3",
                data: $("#regMem").serialize(),
                success: function (data) {
                    $("#main-content").html(data);
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        //} return false;
    });
    
    $('#SelectedCountry').change(function () {
        //Clear and get country code
        $.ajax({
            url: "/MemberShopCenter/FindCountryCode",
            type: "POST",
            data: { CountryCode: $(document.getElementById("SelectedCountry")).val() },
            success: function (data) {
                $("#mobileCntCode").val(data);
            }
        });
    });
    
    $("#memberIC").keypress(function (e) {
        code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) {
            checkICAvailability();
        }
    });

    $("#memberIC").focusout(function (e) {
        checkICAvailability();
    });

    $("#tickImage").hide();
    function checkICAvailability() {
        var ic = document.getElementById('memberIC').value;
        var Regex = /^[a-zA-Z0-9]{6,25}$/;
        if (!Regex.test(ic)) {
            $("#tickImage").hide();
            var message = "@resShared.msgInvalidIC";
            alert(message);
        }
        else {
            $("#tickImage").show();
        }
    }

     $("#memberEmail").focusout(function (e) {
        $.ajax({
            url: "/MemberShopCenter/CheckEmail",
            dataType: "json",
            type: "POST",
            delay: 0,
            data: { Email: $(document.getElementById("memberEmail")).val() },
            success: function (data) {
                if (data == false) {
                    alert("@resShared.msgEmailInvalid");
                    return false;
                }
            }
        });
    });


    function blockSpecialChar(e) {
        var k;
        document.all ? k = e.keyCode : k = e.which;
        return ((k > 64 && k < 91) || (k > 96 && k < 123) || k == 8 || k == 32 || (k >= 48 && k <= 57));
    }
</script>

<div class="container-fluid">
    @{ Html.EnableClientValidation(true); }
    @using (Html.BeginForm("RegisterNewMemberPage4Method", "MemberShopCenter", FormMethod.Post, new { enctype = "multipart/form-data", name = "regMem", id = "regMem" })) //this id very important to do HttpPost
    {
        //display Model's errors
        @Html.ValidationSummary(true)
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb default square rsaquo sm no-border">
                    <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                    <li><a href="#">@resShared.mnuTransaction</a></li>
                    <li><a href="#">@resShared.mnuNewReg</a></li>
                    <li class="active"><a href="#">@resShared.lblPersonalDetail</a></li>
                </ol>
                <h1 class="page-sub-header"></h1>
            </div>
        </div>
        <div class="row" align="center">
            <div style="max-width: 600px; text-align: left">
                <div class="form-group">
                    <strong>@resShared.lblnewuser <span style="color: Red">*</span></strong>                    
                     @Html.TextBoxFor(m => @Model.LoginUsername, new { @id = "Username", @class = "form-control",@maxlength="12", @onkeypress="return blockSpecialChar(event)", @style = "text-transform:uppercase" })
                   <div style="margin-left: 0px;">
                        <label style="text-align: left">@resShared.lblUserNameVal2</label>
                    </div>
                    <div style="margin-left: 0px;">
                        @Html.ValidationMessageFor(m => Model.LoginUsername)
                    </div>
                </div>
            </div>
        </div>
        <div class="row" align="center">
            <div style="max-width: 600px; text-align: left">
                <div class="form-group">
                    <strong>@resShared.lblFullname <span style="color: Red">*</span></strong>
                    @Html.TextBoxFor(m => @Model.Member.FirstName, new { @class = "form-control", @style = "text-transform:uppercase" })
                    <div style="margin-left: 0px;">
                        <label style="text-align: left">@resShared.lblSameName</label>
                    </div>
                    <div style="margin-left: 0px;">
                        @Html.ValidationMessageFor(m => Model.Member.FirstName)
                    </div>
                </div>
            </div>
        </div>
        <div class="row" align="center">
            <div style="max-width: 600px; text-align: left">
                <div class="form-group">
                    <strong>@resShared.lblIC <span style="color: Red">*</span></strong>
                   @* @Html.Image("tickImage", "~/Images/tick.png", "Available", 15, 0, 0)*@
                    @Html.TextBoxFor(m => @Model.UserInfo.IC, new { @id = "memberIC", @class = "form-control", maxlength = "25", @style = "text-transform:uppercase" })
                    <div style="margin-left: 0px;">
                        <label style="text-align: left">@resShared.lblUserICVal</label>
                    </div>
                    <div style="margin-left: 0px;">
                        <span style="color: Red">@Html.ValidationMessageFor(m => Model.UserInfo.IC)</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" align="center">
            <div style="max-width: 600px; text-align: left">
                <div class="form-group">
                    <strong>@resShared.lblCountry</strong>
                    @Html.TextBoxFor(m => @Model.SelectedCountryString, new { @id = "SelectedCountry", @class = "form-control", @readonly = "true", @style = "text-transform:uppercase" })
                    @Html.HiddenFor(m => m.SelectedCountry)
                </div>
            </div>
        </div>
        <div class="row" align="center">
            <div style="max-width: 600px; text-align: left">
                <div class="form-group">
                    <strong>@resShared.lblCellPhone <span style="color: Red">*</span></strong>
                    <div class="form-group">
                        @Html.DropDownListFor(m => @Model.UserInfo.MobileCountryCode, @Model.MobileCountries, new { @class = "form-control", style = "width:200px ; display:inline;", @id = "MobileCountryCode" })
                        @Html.TextBoxFor(m => @Model.UserInfo.CellPhone, new { @class = "form-control", @style = "width:300px; display:inline;" })
                    </div>
                    <div style="margin-left: 0px;">
                        <label style="text-align: left">@resShared.lblMobileVal1</label>
                    </div>
                    <div style="margin-left: 0px;">
                        <label style="text-align: left">@resShared.lblMobileVal2</label>
                    </div>
                    <div style="margin-left: 0px;">
                        @Html.ValidationMessageFor(m => Model.UserInfo.CellPhone)
                    </div>
                </div>
            </div>
        </div>
        <div class="row" align="center">
            <div style="max-width: 600px; text-align: left">
                <div class="form-group">
                    <strong>@resShared.lblEmail <span style="color: Red">*</span></strong>
                    @Html.TextBoxFor(m => @Model.Member.MemberEmail, new { @id = "memberEmail", @class = "form-control", @style = "text-transform:uppercase" })
                    <div style="margin-left: 0px;">
                        <label style="text-align: left">@resShared.lblEmailVal</label>
                    </div>
                    <div style="margin-left: 0px;">
                        @Html.ValidationMessageFor(m => Model.Member.MemberEmail)
                    </div>
                </div>
            </div>
        </div>
        <div class="row" align="center">
            <div style="max-width: 600px;">
                <div class="form-group">
                    <button id="btnBack" type="button" class="btn btn-primary" style="width:100px"><< @resShared.btnBack </button>

                    <button id="btnNext" type="button" class="btn btn-primary" style="width:100px">@resShared.btnNext >></button>   
                </div>
            </div>
        </div>
    }
</div>
