﻿@using ECFBase.Models
@using resShared = ECFBase.Resources.OneForAll.OneForAll;
@model RegisterNewMemberModel
@{
    ViewBag.Title = "RegisterNewMemberPage1";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    
    $("#btnNext").click(function (evt) {
        $.validator.unobtrusive.parse($('#regMem'));
        $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/MemberShopCenter/SelfUpgradeMemberPage3Method",                
                data: $("#regMem").serialize(),
                success: function (data) {
                    $("#main-content").html(data);
                   $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                   $('#Loading').hide();
                }
            });
    });    

    $("#btnBack").click(function (evt) {
        $.validator.unobtrusive.parse($('#regMem'));
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/MemberShopCenter/SelfBackToUpgradeMemberPage2",
            data: $("#regMem").serialize(),
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });

    $("#PaymentType").change(function (evt) {
        $('#Loading').show();

        var PaymentType = $(document.getElementById("PaymentType")).val()

        if (PaymentType == "RP") {
            document.getElementById("SelectedPaymentOption").value = "RP";
        }

        if (PaymentType == "RMP") {
            document.getElementById("SelectedPaymentOption").value = "RMP";
        }



        $('#Loading').hide();
    });

</script>

<div>
    @{ Html.EnableClientValidation(true); }
    @using (Html.BeginForm("MPUpgradeMemberPage3Method", "MemberShopCenter", FormMethod.Post, new { enctype = "multipart/form-data", name = "regMem", id = "regMem" })) //this id very important to do HttpPost
    {
        //display Model's errors
        @Html.ValidationSummary(true)

        @Html.HiddenFor(m => @Model.stringPackageAmount, new { Id = "PackageAmount" })

        @Html.HiddenFor(m => @Model.SelectedPaymentOption, new { Id = "SelectedPaymentOption" })

        <div class="row">
            <div class="col-lg-12">
                <!-- Begin breadcrumb -->
                <ol class="breadcrumb default square rsaquo sm no-border" style="margin:10px;">
                    <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                    <li><a href="#">@resShared.mnuTransaction</a></li>
                    <li><a href="#">@resShared.mnuPersonalUpgrade</a></li>
                    <li class="active"><a href="#">@resShared.lblPaymentMethod</a></li>
                </ol>
                <!-- End breadcrumb -->
                <h1 class="page-sub-header"></h1>
            </div>

            <div class="col-lg-12" align="center">
                <div style="max-width: 600px; text-align: left">
                    <div class="form-group">
                        <strong>@resShared.lblRPBalance</strong>
                        @Html.TextBoxFor(m => @Model.Member.RegisterWallet, new { @class = "form-control", disabled = "disabled", Value = String.Format("{0:n2}", Model.Member.RegisterWallet) })
                    </div>
                </div>
            </div>

            <div class="col-lg-12" align="center">
                <div style="max-width: 600px; text-align: left">
                    <div class="form-group">
                        <strong>@resShared.mnuRMPWallet</strong>
                        @Html.TextBoxFor(m => @Model.Member.RMPWallet, new { @class = "form-control", disabled = "disabled", Value = String.Format("{0:n2}", Model.Member.RMPWallet) })
                    </div>
                </div>
            </div>

            <div class="col-lg-12" align="center">
                <div style="max-width: 600px; text-align: left">
                    <div class="form-group">
                        <strong>@resShared.lblCountry</strong>

                        @Html.DropDownListFor(m => m.SelectedCountry, @Model.Countries, new { @id = "SelectedCountry", @class = "form-control", disabled = "disabled" })
                    </div>
                </div>
            </div>

            <div class="col-lg-12" align="center">
                <div style="max-width: 600px; text-align: left">
                    <div class="form-group">
                        <strong>@resShared.lblpackageAmount </strong>
                        @Html.TextBoxFor(m => @Model.SelectedPackageAmount, new { @class = "form-control", disabled = "disabled" })
                    </div>
                </div>
            </div>

            <div class="col-lg-12" align="center">
                <div style="max-width: 600px; text-align: left">
                    <div class="form-group">
                        <strong>@resShared.lblPaymentMethod </strong>
                        <select name="ctl00$ContentPlaceHolder1$ddlOption"  id="PaymentType" class="form-control input-inline input-medium">
                            <option selected="selected" disabled value="0">@resShared.lblSelected</option>
                            <option  value="RP">RP (100%)</option>
                            <option  value="RMP">RMP (100%)</option>
                        </select>
                    </div>
                </div>
            </div>





            <div style=" height:30px"></div>
            <div class="col-lg-12" align="center">
                <div style="max-width: 600px;">
                    <div class="form-group">
                        <button id="btnBack" type="button" class="btn btn-primary" style="width:100px">@resShared.btnBack <<</button>
                        <button id="btnNext" type="button" class="btn btn-primary" style="width:100px">@resShared.btnNext >></button>
                    </div>
                </div>
            </div>

        </div>

    }
</div>
