﻿@using ECFBase.Models
@using resShared = ECFBase.Resources.OneForAll.OneForAll;
@model RegisterNewMemberModel
@{
    ViewBag.Title = "RegisterNewMemberPage1";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    
    $("#btnNext").click(function (evt) {
        $.validator.unobtrusive.parse($('#regMem'));
        $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/MemberShopCenter/SelfUpgradeMemberPage1Method",                
                data: $("#regMem").serialize(),
                success: function (data) {
                    $("#main-content").html(data);
                   $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                   $('#Loading').hide();
                }
            });
    });    
    
</script>

<div>
    @{ Html.EnableClientValidation(true); }
    @using (Html.BeginForm("SelfUpgradeMemberPage1Method", "MemberShopCenter", FormMethod.Post, new { enctype = "multipart/form-data", name = "regMem", id = "regMem" })) //this id very important to do HttpPost
    {
        //display Model's errors
        @Html.ValidationSummary(true)

    <div class="row">
        <div class="col-lg-12">
            <!-- Begin breadcrumb -->
            <ol class="breadcrumb default square rsaquo sm no-border" style="margin:10px;">
                <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                <li><a href="#">@resShared.mnuTransaction</a></li>
                <li><a href="#">@resShared.mnuPersonalUpgrade</a></li>
            </ol>
            <!-- End breadcrumb -->
            <h1 class="page-sub-header"></h1>
        </div>


        <div class="col-lg-12" align="center">
            <div style="max-width: 600px; text-align: left">
                <div class="form-group">
                    <strong>@resShared.lblUserID</strong>
                    @Html.TextBoxFor(m => @Model.Member.SelectedOwnAccount, new { @class = "form-control", disabled = "disabled", @id = "SelectedOwnAccount" })
                </div>
            </div>
        </div>

        <div class="col-lg-12" align="center">
            <div style="max-width: 600px; text-align: left">
                <div class="form-group">
                    <strong>@resShared.lblName</strong>
                    @Html.TextBoxFor(m => @Model.Member.FirstName, new { @class = "form-control", disabled = "disabled", @id = "FirstName" })
                </div>
            </div>
        </div>

        <div class="col-lg-12" align="center">
            <div style="max-width: 600px; text-align: left">
                <div class="form-group">
                    <strong>@resShared.lblRank</strong>
                    @Html.TextBoxFor(m => @Model.Member.Rank, new { @class = "form-control", disabled = "disabled", @id = "Rank" })
                </div>
            </div>
        </div>

        <div class="col-lg-12" align="center">
            <div style="max-width: 600px; text-align: left">
                <div class="form-group">
                    <strong>@resShared.lblCountry</strong>

                    @Html.DropDownListFor(m => m.SelectedCountry, @Model.Countries, new { @id = "SelectedCountry", @class = "form-control", disabled = "disabled" })
                    @Html.HiddenFor(m => m.SelectedCountry)
                </div>
            </div>
        </div>

        <div style=" height:30px">

        </div>

        <div class="col-lg-12" align="center">
            <div style="max-width: 600px;">
                <div class="form-group">
                    <button id="btnNext" type="button" class="btn btn-primary" style="width:100px">@resShared.btnNext >></button>
                </div>
            </div>
        </div>

    </div>

    }
</div>
