﻿@using resShared = ECFBase.Resources.OneForAll.OneForAll;
@using ECFBase.Models
@model MemberSponsorChartModel
@using System.Linq;

<!DOCTYPE html>


<style>

    @@media screen and (max-width: 600px) {
        #Display_None_In_Mobile {
            visibility: hidden;
            clear: both;
            float: left;
            margin: 10px auto 5px 20px;
            width: 28%;
            display: none;
        }
    }
</style>

<script type="text/javascript">
    //$("#btnSearchByName").click(function (evt) {
    $(document).on('click', '#btnSearchByName', function () {
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/MemberShopCenter/SearchSponsor",
            data: { Username: $('#searchName').val() },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });

    });


</script>
<script type="text/javascript">
    //    $(document).ready(function () {

    $("#btnUp").click(function (evt) {
        $('#Loading').show();

        var e = document.getElementById("page");
        var page = e.options[e.selectedIndex].value;

        if (parseInt(page) == 0)
            return false;

        //            $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/MemberShopCenter/SponsorChartTree",
            data: { selectedPage: parseInt(page) - 1 },
            success: function (data) {
                $("#main-content").html(data);
                $('.tab-pane fade in').click();
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });


    $("#btnNext").click(function (evt) {

        var e = document.getElementById("page");
        var page = e.options[e.selectedIndex].value;

        var lastValue = $('#page option:last-child').val();
        if (parseInt(page) == parseInt(lastValue))
            //return false;

            $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/MemberShopCenter/SponsorChartTree",
            data: { selectedPage: parseInt(page) + 1 },
            success: function (data) {
                $("#main-content").html(data);
                $('.tab-pane fade in').click();
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });

    $("#btnPage").click(function (evt) {
        var e = document.getElementById("page");
        var page = e.options[e.selectedIndex].value;

        $.ajax({
            type: "POST",
            url: "/MemberShopCenter/SponsorChartTree",
            data: { selectedPage: page },
            success: function (data) {
                $("#sponsorlist").html(data);
                $('.tab-pane fade in').click();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
            }
        });
    });

    $(document).on('click', '.sponsorlist', function () {
        $(".qtip").hide();
        $('#Loading').show();
        var topMember = $(this).attr("member");
        $.ajax({
            type: "POST",
            url: "/MemberShopCenter/SponsorListing",
            data: { TopMember: topMember },
            success: function (data) {
                $("#sponsorlist").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                overlay.hide();
            }
        });
       
    });

</script>

<html lang="en">

<body>


    <!--
    ===========================================================
    BEGIN PAGE
    ===========================================================
    -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h2 style="padding-left:10px;">@resShared.mnuReferralChart</h2>
                <!-- Begin breadcrumb -->
                <ol class="breadcrumb default square rsaquo sm no-border ">
                    <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                    <li><a href="#">@resShared.mnuReferralChart</a></li>
                    @*<li class="active"><a href="#">@resShared.mnuReferralChart</a></li>*@
                </ol>
            </div>
        </div>
        <br />
        <!-- End breadcrumb -->

        <div class="margin-bottom-25 ">
            <div class="faq-site the-box no-margin no-border col-sm-12 margin-bottom-f25" data-delay="0">
                <div class="faq-container-fluid">
                    <div class="content row">
                        <div class="col-md-12">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a data-toggle="tab" class="sponsorchart" href="#sponsorchart">
                                        @resShared.mnuReferralChart
                                    </a>
                                </li>
                                <li class="">
                                    <a data-toggle="tab" class="sponsorlist" href="#sponsorlist">
                                        @resShared.mnuReferralListing
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content faq">
                                <div id="sponsorchart" class="tab-pane fade in active ">
                                    <div id="accordion_sponsorchart" class="panel-group accordion">
                                        <div class="row margin-bottom-25">
                                            <div class="col-sm-4 col-md-3 margin-bottom-f25" id="Display_None_In_Mobile">
                                                <div class="no-border no-margin no-padding">
                                                    <div style="display:table">
                                                        <div class="business-plan-tab">
                                                            <ul class="no-margin no-padding bg-dark" style="margin-bottom:0;">

                                                                @foreach (var item in Model.RankList)
                                                                {
                                                                    if (@item.RankIconPath != null)
                                                                    {
                                                                        <li style="padding: 10px 10px; font-size:10px"> <img src=@(Url.Action("GetImage", "Home", new { id = @item.RankIconPath })) />@item.RankName</li>
                                                                    }
                                                                }
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div><!-- /.the-box .no-border .no-margin -->
                                            </div><!-- /.col-sm-5 col-md-4-->

                                            <div class="col-sm-8 col-md-8 col-full-width-left tree-tab">

                                                <div class="the-box no-margin no-border col-sm-12 margin-bottom-f25 border-grandiant-style1">
                                                    <div id="tree">
                                                        <div id="tree">
                                                            <ul id="treeData">
                                                                <li class="none">
                                                                    <img src=@Model.FirstLevelRankIcon style="width:38px;height:38px;" />
                                                                    <b>@Model.FirstLevelMember</b>
                                                                    <img src="../../Content/assets/img/icon/tree/ico_upline.png" /><u>@Model.FirstLevelLevel</u>
                                                                    <img src="../../Content/assets/img/icon/tree/ico_member.png" />@Model.FirstLevelFullname
                                                                    <img src="../../Content/assets/img/icon/tree/ico_star.png" />@Model.FirstLevelRanking
                                                                    <img src="../../Content/assets/img/icon/tree/ico_total.png" />@Model.FirstLevelJoinedDate
                                                                    <ul id=@Model.FirstLevelMember>
                                                                        <li></li>
                                                                    </ul>
                                                                </li>
                                                            </ul>


                                                        </div><!--end of tree-->

                                                    </div>
                                                    <fieldset class="legend">
                                                        <legend>Legend:</legend>
                                                        <ul>

                                                            <li><img src="../../Content/assets/img/icon/tree/ico_member.png" width="16" /><p>@resShared.lblFullname</li>
                                                            <li><img src="../../Content/assets/img/icon/tree/ico_star.png" /><p>@resShared.lblRanking </p></li>
                                                            <li><img src="../../Content/assets/img/icon/tree/ico_total.png" /><p>@resShared.lblJoinedDate </p></li>
                                                            <li><img src="../../Content/assets/img/icon/tree/ico_upline.png" /><p>@resShared.lblSponsor</p></li>
                                                        </ul><!--end of legend-->
                                                    </fieldset>
                                                </div><!-- /.col-sm-7 col-md-8-->



                                            </div>
                                        </div>
                                    </div>



                                </div>
                                <div id="sponsorlist" class="tab-pane fade in">
                                    <div id="accordion_sponsorlist" class="panel-group accordion">
                                        <div class="panel">

                                            <div id="MemberDiv">
                                                <div class="table-responsive">
                                                    <table id="tablestyle" width="100%" class="table-bordered table-hover">
                                                        <thead>
                                                            <tr style="height: 25px; background-color: #414558;">
                                                                <th style="text-align: center;color:White">
                                                                    @resShared.lblNumber
                                                                </th>
                                                                <th style="text-align: center;color:White">
                                                                    @resShared.lblUsername
                                                                </th>
                                                                <th style="text-align: center;color:White">
                                                                    @resShared.lblName
                                                                </th>
                                                                <th style="text-align: center;color:White">
                                                                    @resShared.lblSponsor
                                                                </th>
                                                                <th style="text-align: center;color:White">
                                                                    @resShared.lblLevel
                                                                </th>
                                                                <th style="text-align: center;color:White">
                                                                    @resShared.lblRank
                                                                </th>
                                                                <th style="text-align: center;color:White">
                                                                    @resShared.lblDateJoined
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        @if (Model.SponsorList.Count == 0)
                                                        {
                                                            <tr style="height: 25px; border-top: 2px solid white;">
                                                                <td style="padding: 5px;" colspan="10">
                                                                    @resShared.lblNoRecFound
                                                                </td>
                                                            </tr>
                                                        }
                                                        @foreach (var item in Model.SponsorList)
                                                        {
                                                            <tr align="center" style="height: 25px; border-top: 2px solid white;">
                                                                <td style="text-align: center">
                                                                    @Html.DisplayFor(modelItem => item.No)
                                                                </td>
                                                                <td style="text-align: center">
                                                                    @Html.DisplayFor(modelItem => item.Username)
                                                                </td>
                                                                <td style="text-align: center">
                                                                    @Html.DisplayFor(modelItem => item.Name)
                                                                </td>
                                                                <td style="text-align: center">
                                                                    @Html.DisplayFor(modelItem => item.Sponsor)
                                                                </td>
                                                                <td style="text-align: center">
                                                                    @Html.DisplayFor(modelItem => item.Level)
                                                                </td>
                                                                <td style="text-align: center">
                                                                    @Html.DisplayFor(modelItem => item.Rank)
                                                                </td>
                                                                <td style="text-align: center">
                                                                    @Html.DisplayFor(modelItem => item.CreatedDate)
                                                                </td>
                                                            </tr>
                                                        }
                                                    </table>
                                                </div>
                                                <br />
                                                @if (Model.SponsorList.Count != 0)
                                                {
                                                    <table width="100%">
                                                        <tr>
                                                            <td style="text-align: right">
                                                                <div class="BtnClass" style="float: right;">
                                                                    <button id="btnUp" type="button" class="btn btn-sm btn-success" style="width:150px">@resShared.btnPreviousPage</button>
                                                                    <button id="btnNext" type="button" class="btn btn-sm btn-success" style="width:150px;margin-right:10px">@resShared.btnNextPage</button>

                                                                </div>

                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="text-align: right; padding-top:10px">
                                                                <div>
                                                                    @Html.DropDownList("page", @Model.Pages, new { style = "width:50px;" })
                                                                    <button id="btnPage" type="button" class="btn btn-sm btn-success" style="width: 100px;margin-right:10px; color:black">@resShared.btnView</button>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                }
                                            </div>

                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div> <!-- ./content row -->
                    </div><!-- faq-container-fluid -->
                </div>

            </div> <!-- ./row -->



        </div><!-- /.container-fluid -->

    </div>
    <link href="../../Content/assets/css/ui.fancytree.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="../../Content/assets/js/jquery.ui.core.js"></script>
    <script type="text/javascript" src="../../Content/assets/js/jquery.ui.widget.js"></script>
    <script src="../../Content/assets/js/jquery.fancytree.js"></script>
    <script type="text/javascript">
        $("#tree").fancytree();
        var tree = $("#tree").fancytree("getTree");
        activeNode = tree.getActiveNode();

        var memberID = "";
        var titles = new Array();

        $("#tree").fancytree({
            collapse: function (event, data) {
                //alert('collapse');
            },
            expand: function (event, data) {
                var node = data.node;
                var title = node.title;

                var start = title.search("<b>") + 3;
                var end = title.search("</b>");

                var member = title.substring(start, end);
                var a = titles.indexOf(title);
                var startlevel = title.search("<u>") + 3;
                var endlevel = title.search("</u>");

                var lvl = title.substring(startlevel, endlevel);
                if (a != -1) {
                    return false;
                }
                memberID = member;

                $.ajax({
                    type: "POST",
                    url: "/MemberShopCenter/FindNextSponsorList",
                    data: { username: member, level: lvl },
                    success: function (data) {

                        var ul = document.getElementById(member);
                        ul.innerHTML = '';

                        $.each(data, function (index, optionData) {

                            var html_to_insert = '';
                            if (optionData.MemberCount == '0') {
                                html_to_insert = '<li class="none">' +
                                    '<img src=' + optionData.RankIcon + '  style="width:38px;height:38px;"/>' +
                                    '<b>' + optionData.Member + '</b>' +
                                    '<img src="../../Content/assets/img/icon/tree/ico_upline.png" /><u>' + optionData.Level + '</u>' +
                                    '<img src="../../Content/assets/img/icon/tree/ico_member.png" />' + optionData.FullName +
                                    '<img src="../../Content/assets/img/icon/tree/ico_star.png" />' + optionData.Ranking +
                                    '<img src="../../Content/assets/img/icon/tree/ico_total.png" />' + optionData.JoinedDate +
                                    '<img src="../../Content/assets/img/icon/tree/ico_upline.png" />' + optionData.Intro +
                                    '</li>'
                            }
                            else {
                                html_to_insert = '<li class="none">' +
                                    '<img src=' + optionData.RankIcon + '  style="width:38px;height:38px;"/>' +
                                    '<b>' + optionData.Member + '</b>' +
                                    '<img src="../../Content/assets/img/icon/tree/ico_upline.png" /><u>' + optionData.Level + '</u>' +
                                    '<img src="../../Content/assets/img/icon/tree/ico_member.png" />' + optionData.FullName +
                                    '<img src="../../Content/assets/img/icon/tree/ico_star.png" />' + optionData.Ranking +
                                    '<img src="../../Content/assets/img/icon/tree/ico_total.png" />' + optionData.JoinedDate +
                                    '<img src="../../Content/assets/img/icon/tree/ico_upline.png" />' + optionData.Intro +
                                    '<ul id=' + optionData.Member + '>' +
                                    '<li>' +
                                    '</li>' +
                                    '</ul>' +
                                    '</li>'
                            }

                            ul.innerHTML += html_to_insert;
                        });

                        $("#tree").fancytree();
                        tree.getActiveNode();
                        titles.push(node.title);

                        tree.visit(function (n) {
                            var a = titles.indexOf(n.title);
                            if (a != -1) {
                                n.setExpanded(true);
                            }
                        });
                        return false;
                    },
                    error: function (xhr, status, error) {
                        var errorM = xhr.responseText;
                        errorM = errorM.replace('""', '');
                        alert(errorM);
                    }
                });

            }
        });
    </script>



</body>
</html>