﻿@using resShared = ECFBase.Resources.OneForAll.OneForAll;
@using ECFBase.Models
@model MemberSponsorChartModel
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    //    $(document).ready(function () {
    var mybutton_counter = 0;

    $(document).on('click', '.sponsorchart', function () {
        if (mybutton_counter > 0) { return false; } //you can set the number to any
        var topMember = $(this).attr("member");
        $.ajax({
            type: "POST",
            url: "/MemberShopCenter/SponsorChartTree",
            data: { TopMember: topMember },
            success: function (data) {
                $("#main-content").html(data);
                $('.tab-pane fade in').click();
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                overlay.hide();
            }
        });
        mybutton_counter++; //incremental

    });

    $("#btnUp").click(function (evt) {
        $('#Loading').show();

        var e = document.getElementById("page");
        var page = e.options[e.selectedIndex].value;

        if (parseInt(page) == 0)
            return false;

        //            $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/MemberShopCenter/SponsorListing",
            data: { selectedPage: parseInt(page) - 1 },
            success: function (data) {
                $("#sponsorlist").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });



    $("#btnNext").click(function (evt) {

        var e = document.getElementById("page");
        var page = e.options[e.selectedIndex].value;

        var lastValue = $('#page option:last-child').val();
        if (parseInt(page) == parseInt(lastValue))
            //return false;

            $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/MemberShopCenter/SponsorListing",
            data: { selectedPage: parseInt(page) + 1 },
            success: function (data) {
                $("#sponsorlist").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });

    $("#btnPage").click(function (evt) {
        $('#Loading').show();
        var e = document.getElementById("page");
        var page = e.options[e.selectedIndex].value;

        $.ajax({
            type: "POST",
            url: "/MemberShopCenter/SponsorListing",
            data: { selectedPage: page },
            success: function (data) {
                $("#sponsorlist").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
            }
        });
    });


</script>
<div id="accordion_sponsorlist" class="panel-group accordion">
    <div class="panel">

        <div id="MemberDiv">
            <div class="table-responsive">
                <table id="tablestyle" width="100%" class="table-bordered table-hover">
                    <thead>
                        <tr style="height: 25px; background-color: #414558;">
                            <th style="text-align: center;color:White">
                                @resShared.lblNumber
                            </th>
                            <th style="text-align: center;color:White">
                                @resShared.lblUsername
                            </th>
                            <th style="text-align: center;color:White">
                                @resShared.lblName
                            </th>
                            <th style="text-align: center;color:White">
                                @resShared.lblSponsor
                            </th>
                            <th style="text-align: center;color:White">
                                @resShared.lblLevel
                            </th>
                            <th style="text-align: center;color:White">
                                @resShared.lblRank
                            </th>
                            <th style="text-align: center;color:White">
                                @resShared.lblDateJoined
                            </th>
                        </tr>
                    </thead>
                    @if (Model.SponsorList.Count == 0)
                    {
                        <tr style="height: 25px; border-top: 2px solid white;">
                            <td style="padding: 5px;" colspan="10">
                                @resShared.lblNoRecFound
                            </td>
                        </tr>
                    }
                    @foreach (var item in Model.SponsorList)
                    {
                        <tr align="center" style="height: 25px; border-top: 2px solid white;">
                            <td style="text-align: center">
                                @Html.DisplayFor(modelItem => item.No)
                            </td>
                            <td style="text-align: center">
                                @Html.DisplayFor(modelItem => item.Username)
                            </td>
                            <td style="text-align: center">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td style="text-align: center">
                                @Html.DisplayFor(modelItem => item.Sponsor)
                            </td>
                            <td style="text-align: center">
                                @Html.DisplayFor(modelItem => item.Level)
                            </td>
                            <td style="text-align: center">
                                @Html.DisplayFor(modelItem => item.Rank)
                            </td>
                            <td style="text-align: center">
                                @Html.DisplayFor(modelItem => item.CreatedDate)
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <br />
            @if (Model.SponsorList.Count != 0)
            {
                <table width="100%">
                    @*<tr>
                        <td style="text-align: right">
                            <div class="BtnClass" style="float: right;">
                                <button id="btnUp" type="button" class="btn btn-sm btn-success" style="width:150px">@resShared.btnPreviousPage</button>
                                <button id="btnNext" type="button" class="btn btn-sm btn-success" style="width:150px;margin-right:10px">@resShared.btnNextPage</button>

                            </div>

                        </td>
                    </tr>*@
                    <tr>
                        <td style="text-align: right; padding-top:10px">
                            <div>
                                @Html.DropDownList("page", @Model.Pages, new { style = "width:50px;" })
                                <button id="btnPage" type="button" class="btn btn-sm btn-success" style="width: 100px;margin-right:10px; color:black">@resShared.btnView</button>
                            </div>
                        </td>
                    </tr>
                </table>
            }
        </div>

    </div>


</div>
