﻿@using ECFBase.Models
@using resShared = ECFBase.Resources.OneForAll.OneForAll;
@model RegisterNewMemberModel
@{
    ViewBag.Title = "RegisterNewMemberPage2";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $("#btnBack").click(function (evt) {
        $('#Loading').show();
        $.validator.unobtrusive.parse($('#regMem'));
        if (jQuery("#regMem").valid() == true) {
            $.ajax({
                type: "POST",
                url: "/MemberShopCenter/BackToUpgradeMemberPage1",
                data: $("#regMem").serialize(),
                success: function (data) {
                    $("#main-content").html(data);
                   $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                   $('#Loading').hide();
                }
            });
        } return false;
    });

   $("#btnNext").click(function (evt) {
       $('#Loading').show();
        $.validator.unobtrusive.parse($('#regMem'));
        if (jQuery("#regMem").valid() == true) {
            $.ajax({
                type: "POST",
                url: "/MemberShopCenter/UpgradeMemberPage2Method",
                data: $("#regMem").serialize(),
                success: function (data) {
                    $("#main-content").html(data);
                   $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                   $('#Loading').hide();
                }
            });
        } return false;
    });
    

</script>

<div class="container-fluid">
    @{ Html.EnableClientValidation(true); }
    @using (Html.BeginForm("RegisterNewMemberPage2", "MemberShopCenter", FormMethod.Post, new { enctype = "multipart/form-data", name = "regMem", id = "regMem" })) //this id very important to do HttpPost
    {
        //display Model's errors
        @Html.ValidationSummary(true)

         <div class="row">
            <div class="col-lg-12">
                 
                  <!-- Begin breadcrumb -->
                <ol class="breadcrumb default square rsaquo sm no-border">
                    <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                    <li><a href="#">@resShared.lblTransaction</a></li>
                    <li><a href="#">@resShared.mnuAccountUpgrade</a></li>
                    <li class="active"><a href="#">@resShared.lblPackage</a></li>
                </ol>
                
                <h1 class="page-sub-header"></h1>
            </div>
        </div>
            
                       
        if (@Model.Packagechecking == true)
        {              
                      <div class="table-responsive" id="packagetable" >
            <table id="tablestyle" class="table table-bordered table-hover table-striped">
                <thead>
                    <tr style="background-color: #080808; color:White">
                        <th style="text-align: center">
                            @resShared.lblImage
                        </th>
                        <th style="text-align: center">
                            @resShared.lblPackageDescription
                        </th>
                        <th style="text-align: center">
                            @resShared.lblselect
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
            int count = 0;
            foreach (var item in Model.Packages)
            {
                            <tr>
                                <td align="center">
                                    <img alt="" src="@item.Image" style="max-height: 200px; max-width: 200px;" />
                                </td>
                                <td align="left">
                                    <div style="max-width: 300px; text-align: left">

                                        <div class="form-group">
                                            <b>                           
                                                @Html.DisplayFor(modelItem => item.PackageName, new { @class = "form-control", disabled = "disabled" })
                                            </b>                
                                        </div>
                                        <div class="form-group">
                                            <label>
                                                @resShared.lblCountry :
                                            </label>
                                             @Html.DisplayFor(modelItem => item.Country, new { @class = "form-control", disabled = "disabled" })
                                             <img src="@Url.Content(item.CountryImage)" style=" width:30px; height:30px" />
                                        </div>
                                        <div class="form-group">
                                            <label>
                                                @resShared.lblpackageAmount :
                                            </label>
                                            @Html.DisplayFor(modelItem => item.TotalAmount, new { @class = "form-control", disabled = "disabled" })
                                        </div>                                                             
                                            <div class="form-group">
                                                <label>
                                                    @resShared.lblbv :
                                                </label>
                                                @Html.DisplayFor(modelItem => item.BV, new { @class = "form-control", disabled = "disabled" })
                                            </div>
                                         <div class="form-group">
                                                <label>
                                                    @resShared.lblEfundPoint :
                                                </label>
                                                @Html.DisplayFor(modelItem => item.EPoint, new { @class = "form-control", disabled = "disabled" })
                                            </div>
                                    </div>
                                   
                                </td>
                                <td align="center">
                                    <center>
                                         @Html.RadioButtonFor(x => Model.SelectedPackage, item.PackageCode, new { @class = "form-control", @style = "height:35px; width:35px; vertical-align: middle; transform: scale(1.5)" })
                                    </center>
                                </td>
                            </tr>
                                            count++;
            }
                    }
                </tbody>
            </table>
        </div>      
        }
        else
        {
                <script type="text/javascript">
                    alert("@resShared.warningCountryNoPackage");
                 </script> 
        }

         <div class="row" align="center">
            <div style="max-width: 600px;">
                <div class="form-group">

                    <button id="btnBack" type="button" class="btn btn-primary" style="width:100px"><< @resShared.btnBack </button>
                    <button id="btnNext" type="button" class="btn btn-primary" style="width:100px">@resShared.btnNext >></button>
                </div>
            </div>
        </div>
    }
</div>
