﻿@using ECFBase.Models
@model AdminModel
@using resMasterSetup = ECFBase.Resources.OneForAll.OneForAll;
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $("#btnSaveAd").click(function (evt) {
        $('#Loading').show();
        var username = document.getElementById('username').value;
        $.ajax({
            type: "POST",
            url: "/AdminGeneral/EditAdminPermissionMethod",
            data: { data: $("#editAdForm").serialize().toString(), userId: username },
            success: function (data) {
                $("#main-content").html(data);
                alert("@resMasterSetup.msgSaveSuccessfully");
                $('#Loading').hide();
                event.stopPropagation();        
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();   
            }
        });
    });
    
</script>



<div class="container-fluid">
<div id="editAdDiv">
    @using (Html.BeginForm("EditAdminListFromDialog", "AdminGeneral", FormMethod.Post, new { name = "editAdForm", id = "editAdForm" }))
    {
        @Html.ValidationSummary(true)
        <div class="row">
            <div class="col-lg-12">
                     <h2>@resMasterSetup.mnuAccessControl</h2>
            <!-- Begin breadcrumb -->
					<ol class="breadcrumb default square rsaquo sm no-border ">
						<li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
						<li><a href="#">@resMasterSetup.lblGeneral</a></li>
						<li><a href="#">@resMasterSetup.mnuAdminUser</a></li>
						<li class="active"><a href="#">@resMasterSetup.mnuAccessControl</a></li>
					</ol>
			<!-- End breadcrumb -->
             
                <h1 class="page-sub-header">
                    @Html.Hidden("username", Model.AdminUserName)
                </h1>
            </div>
        </div>
        <div class="row" align="left" style="padding-left:15px;">
            <table>
                <tr>
                    <td>
                        <strong>@resMasterSetup.lblUsername : </strong>
                    </td>
                    <td style="padding: 5px">
                        @Html.DisplayFor(model => model.AdminUserName)
                    </td>
                </tr>
            </table>
        </div>
        <div class="row" align="center" >
            @{
                //find all the mainModules by distinct it out
                var mainModules = Model.AdminAccessRight.GroupBy(x => x.MainModule).Select(y => y.First().MainModule);
                foreach (var mainModule in mainModules)
                {
                    //get all actual accessRight object based on mainModules
                    var groupedByMainModule = Model.AdminAccessRight.FindAll(x => x.MainModule == mainModule);
                    if (groupedByMainModule.Any())
                    {
                        <table id="tablestyle" class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr style="background-color: #080808;">
                                    <th style="text-align: center" colspan="2">
                                        @mainModule
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    //categorize by sub-module
                                    var subModules = groupedByMainModule.GroupBy(x => x.Module).Select(y => y.First().Module);
                                    foreach (var subModule in subModules)
                                    {
                                        var groupedBySubModules = groupedByMainModule.FindAll(x => x.Module == subModule);
                                        if (groupedBySubModules.Any())
                                        {
                                            bool isAdded = false;
                                            foreach (var item in groupedBySubModules)
                                            {
                                                if (!isAdded)
                                                {
                                                <tr style="height: 25px; border-top: 2px solid white;">
                                                    <td style="width: 200px">
                                                        <label>
                                                            <strong>@item.Module</strong>
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <p align="center">
                                                            @Html.CheckBoxFor(model => item.Function, new { @ID = item.FunctionCode, @Name = item.FunctionCode })
                                                            @item.FunctionName
                                                        </p>
                                                    </td>
                                                </tr>
                                                    isAdded = true;
                                                }
                                                else
                                                {
                                                <tr style="height: 25px; border-top: 2px solid white;">
                                                    <td style="width: 200px">
                                                    </td>
                                                    <td>
                                                        <p align="center">
                                                            @Html.CheckBoxFor(model => item.Function, new { @ID = item.FunctionCode, @Name = item.FunctionCode })
                                                            @item.FunctionName
                                                        </p>
                                                    </td>
                                                </tr>
                                                }
                                            }
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    }
                }
            }
            @if ((string)Session["EditPermissionSetup"] == "true")
            {           
                <table width="100%">
                    <tr>
                        <td colspan="2">
                            <div style="text-align: center;" >
                                <button id="btnSaveAd" type="button" class="btn btn-sm btn-success" style="width:100px">@resMasterSetup.btnSave</button>
                            </div>
                        </td>
                    </tr>
                </table>  
            }
        </div>
    }
</div>
</div>
