﻿@using ECFBase.Models
@model PaginationAdminModel
@using resMasterSetup = ECFBase.Resources.OneForAll.OneForAll;

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $.ajaxSetup({ cache: false });

    $("#btnPage").click(function (evt) {

        $('#Loading').show();
        var e = document.getElementById("page")
        var page = e.options[e.selectedIndex].value;

        //ShowProgressAnimation();
        $.ajax({
            type: "POST",
            url: "/AdminGeneral/AdminPermissionList",
            data: { selectedPage: page },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
                event.stopPropagation();        
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });

    $(".EditData").click(function (e) {
        $('#Loading').show();
        //ShowProgressAnimation();
        $.ajax({
            type: "POST",
            url: "/AdminGeneral/AdminPermissionData",
            data: { Username: this.id },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
                event.stopPropagation();        
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });

</script>

<div id="reportAd">
          
        <div class="col-lg-12">
            <h2 style="padding:10px">@resMasterSetup.mnuAccessControl</h2>
        <!-- Begin breadcrumb -->
					<ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px">
						<li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
						<li><a href="#">@resMasterSetup.lblGeneral</a></li>
						<li><a href="#">@resMasterSetup.mnuAdminUser</a></li>
						<li class="active"><a href="#">@resMasterSetup.mnuAccessControl</a></li>
					</ol>
			<!-- End breadcrumb -->
            <h1 class="page-sub-header"></h1>
        </div>
    <div class="container-fluid">
        <table id="tablestyle" width="100%" class="table table-bordered table-hover table-striped" border="1px solid #414558;">
            <thead>
                <tr style="height: 25px; background-color:#414558;">
                    <th style="text-align: center">
                        @Html.Label(@resMasterSetup.lblUsername, new { @style = "color:White" })
                    </th>
                    <th style="text-align: center">
                        @Html.Label(@resMasterSetup.lblFullname, new { @style = "color:White" })
                    </th>
                    <th style="padding: 5px; color: White; text-align: center">
                       @Html.Label(@resMasterSetup.lblEdit, new { @style = "color:White" })
                    </th>                           
                </tr>
            </thead>
            <tbody>
                @if (Model.AdminList.Count == 0)
                {
                    <tr style="height: 25px; border-top: 2px solid white;">
                        <td style="padding: 5px;" colspan="10">
                            @resMasterSetup.lblNoRecFound
                        </td>
                    </tr>
                }
                @foreach (var item in Model.AdminList)
                { 
                    <tr style="height: 25px; border-top: 2px solid white;">
                        <td>
                            @Html.DisplayFor(modelItem => item.AdminUserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AdminFirstName)
                        </td>                              
                        <td style="width: 60px">
                            <button style="text-decoration:none;" class="EditData" id="@item.AdminUserName">
                                @Html.Image("imgEditBS|" + @item.AdminUserName, "~/Images/187-pencil.png", @resMasterSetup.lblEdit, 10, 0, 0, @resMasterSetup.lblEdit)
                            </button>
                        </td>
                    </tr> 
                }
            </tbody>
        </table>
        @if (Model.AdminList.Count != 0)
        {
        <table width="auto" style="text-align:right; margin-right:0px; margin-left:auto;">
            <tr style="text-align: right">
                <td style="text-align: right">
                    <div class="BtnClass" style="float: right;">
                        @Html.DropDownList("page", @Model.Pages, new { @class = "form-control", style = "width:80px;" })
                        
                    </div>
                </td>
                <td style="text-align: right">
                    <button id="btnPage" type="button" class="btn btn-sm btn-primary" style="width: 100px"> @resMasterSetup.btnView
                    </button>
                </td>
            </tr>
        </table>
           
        }
    </div>
</div>