﻿@using ECFBase.Models
@model PaginationCourierCompanySetupModel
@using resMasterSetup = ECFBase.Resources.OneForAll.OneForAll;

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $.ajaxSetup({ cache: false });

    $("#btnPage").click(function (evt) {
        $('#Loading').show();

        var e = document.getElementById("page")
        var page = e.options[e.selectedIndex].value;

        //ShowProgressAnimation();
        $.ajax({
            type: "POST",
            url: "/AdminGeneral/CourierCompanySetup",
            data: { selectedPage: page },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
                event.stopPropagation();        
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });

    $("#btnCreate").click(function (evt) {
        $('#Loading').show();
        //ShowProgressAnimation();
        $.ajax({
            type: "POST",
            url: "/AdminGeneral/CourierCompanySetupData",
            data: {},
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
                event.stopPropagation();        
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });

    $(".EditData").click(function (e) {
        $('#Loading').show();
        //ShowProgressAnimation();
        $.ajax({
            type: "POST",
            url: "/AdminGeneral/CourierCompanySetupData",
            data: { CourierCode: this.id },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
                event.stopPropagation();        
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide(); 
            }
        });
    });
</script>

<div id="reportBS">
    <div class="row">
        <div class="col-lg-12">
         <h2 style="padding-left:15px;">@resMasterSetup.lblCourierCompany</h2>
            
            <ol class="breadcrumb default square rsaquo sm no-border " style="margin:15px;">
                <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                <li><a href="#">@resMasterSetup.lblGeneral</a></li>
                <li><a href="#">@resMasterSetup.mnuMasterSetup</a></li>
                <li class="active"><a href="#">@resMasterSetup.lblCourierCompany</a></li>

            </ol>
            <h1 class="page-sub-header">
                <input type="hidden" id="eliminateId" />
            </h1>
        </div>
    </div>

    <table style="width: 100%">
         @if ((string) Session["EditCountry"] == "true")
         {
            @*<tr>
                <td>
                    <button id="btnCreate" 
                            type="button" 
                            class="btn btn-sm btn-success" 
                            style="float: right; width: 180px">
                        @resMasterSetup.lblCreateCourierCompany
                    </button>
                </td>
            </tr>*@

            <tr>
                <td style="padding:10px;">
                    <button id="btnCreate" type="button" class="btn btn-sm btn-success" style="float:right;width:180px">@resMasterSetup.lblCreateCourierCompany</button>
                </td>
            </tr>
         }
                    <table id="tablestyle" width="100%" class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr style="height: 25px; background-color: #414558;">
                                <th style="text-align: center">
                                    <small>@Html.Label(@resMasterSetup.lblCourierCompany, new { @style = "color:White" })</small>
                                </th>
                                <th style="text-align: center">
                                    <small>@Html.Label(@resMasterSetup.lblContactPerson, new { @style = "color:White" })</small>
                                </th>
                                <th style="text-align: center">
                                    <small>@Html.Label(@resMasterSetup.lblContactNumber, new { @style = "color:White" })</small>
                                </th>
                                <th style="text-align: center">
                                    <small>@Html.Label(@resMasterSetup.lblContactNumber1, new { @style = "color:White" })</small>
                                </th>
                                <th style="text-align: center">
                                    <small>@Html.Label(@resMasterSetup.lblWebsite, new { @style = "color:White" })</small>
                                </th>
                                <th style="width: 5%; color: White; text-align: center">
                                    <small>@Html.Label(@resMasterSetup.lblEdit, new { @style = "color:White" })</small>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.CourierCompanyList.Count == 0)
                        {
                        <tr style="height: 25px; border-top: 2px solid white;">
                            <td style="padding: 5px;" colspan="10">
                                @resMasterSetup.lblNoRecFound
                            </td>
                        </tr>
                        }
                            @foreach (var item in Model.CourierCompanyList)
                        {
                        <tr style="height: 25px; border-top: 2px solid white;">
                            <td>
                                @Html.DisplayFor(modelItem => item.CourierCompany)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ContactPerson)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ContactNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ContactNumber2)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Website)
                            </td>
                            <td style="width: 60px; text-align: center;">
                                <button style="text-decoration:none;" class="EditData" id="@item.CourierCode">
                                    @Html.Image("imgEditBS|" + @item.CourierCode, "~/Images/187-pencil.png", @resMasterSetup.lblEdit, 10, 0, 0, @resMasterSetup.lblEdit)
                                </button>
                            </td>
                        </tr>
                        }
                        </tbody>
                    </table>
             
                    @if (Model.CourierCompanyList.Count != 0)
                    {
                        <table width="auto" style="text-align:right; margin-right:0px; margin-left:auto;">
                            <tr>
                                <td style="text-align: right">
                                    <div class="BtnClass" style="float: right;">
                                        @Html.DropDownList("page", @Model.Pages, new { @class = "form-control", style = "width:80px;" })
                                    </div>
                                </td>
                                <td style="text-align: right">
                                    <button id="btnPage" type="button" class="btn btn-sm btn-success" style="width: 100px">@resMasterSetup.btnView</button>
                                </td>
                            </tr>
                        </table>
                    }

    </table>
</div>
