﻿@using ECFBase.Models
@model PaginationCurrencySetupModel
@using resMasterSetup = ECFBase.Resources.OneForAll.OneForAll;


<script type="text/javascript">

    $("#btnPage").click(function (evt) {
        $('#Loading').show();

        var e = document.getElementById("page")
        var page = e.options[e.selectedIndex].value;

        $.ajax({
            type: "POST",
            url: "/AdminGeneral/CurrencySetup",
            data: { selectedPage: page },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
                event.stopPropagation();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });

    $("#btnCreate").click(function (evt) {
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/AdminGeneral/CurrencySetupData",
            data: { CurrencyId: 0 },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
                event.stopPropagation();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });

    $(".EditData").click(function (e) {
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/AdminGeneral/CurrencySetupData",
            data: { CurrencyId: this.id },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
                event.stopPropagation();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });

    $(".InactiveCurrency").click(function (e) {
        
        if (confirm('Are you sure you want to Inactive?')) {
            $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/AdminGeneral/InactiveCurrency",
                data: { CurrencyId: this.id },
                success: function (data) {
                    $("#main-content").html(data);
                    alert("@resMasterSetup.msgSaveSuccessfully");
                        $('#Loading').hide();
                        event.stopPropagation();
                    },
                    error: function (xhr, status, error) {
                        var errorM = xhr.responseText;
                        errorM = errorM.replace('""', '');
                        alert(errorM);
                        $('#Loading').hide();
                    }
                });
            } else {
            }


        });

     $(".ActiveCurrency").click(function (e) {
            
         if (confirm('Are you sure you want to Active?')) {
             $('#Loading').show();
                $.ajax({
                    type: "POST",
                    url: "/AdminGeneral/ActiveCurrency",
                    data: { CurrencyId: this.id },
                    success: function (data) {
                        $("#main-content").html(data);
                    alert("@resMasterSetup.msgSaveSuccessfully");
                        $('#Loading').hide();
                        event.stopPropagation();
                    },
                    error: function (xhr, status, error) {
                        var errorM = xhr.responseText;
                        errorM = errorM.replace('""', '');
                        alert(errorM);
                        $('#Loading').hide();
                    }
                });
            } else {
            }


        });
</script>

<div id="reportBS">
    <div class="row">
        <div class="col-lg-12">
         <h2 style="padding-left:10px;">@resMasterSetup.mnuCurrency</h2>
          <!-- Begin breadcrumb -->
				<ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
					<li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
					<li><a href="#">@resMasterSetup.lblGeneral</a></li>
					<li><a href="#">@resMasterSetup.mnuMasterSetup</a></li>
					<li class="active"><a href="#" onclick="dummy(0);return false;">@resMasterSetup.mnuCurrency</a></li>
				</ol>
	    	<!-- End breadcrumb -->
              
            <h1 class="page-sub-header"></h1>
        </div>
    </div>
    <div>
        <div class="grid" style="margin-left: 5px;margin-right: auto;" id= "grid">
            @if (Session["EditCurrencyExchange"] == "true")
            {
                <tr>
                    <td>
                        <button id="btnCreate" type="button" class="btn btn-lm btn-success" style="float:right;width:180px">@resMasterSetup.lblCreateNewCurrency</button>
                    </td>
                </tr>
                <br />
            }
            <br />
            <div class="table-responsive">
                <table id="tablestyle" class="table table-bordered table-hover table-striped" >
                    <thead>
                        <tr style="background-color: #414558;">
                            <th style="text-align:center">      
                                @Html.Label(@resMasterSetup.lblCurrencyCode, new { @style = "color:White" })
                            </th>
                            <th style="text-align:center">      
                                @Html.Label(@resMasterSetup.lblCurrencyName, new { @style = "color:White" })
                            </th>
                            <th style="text-align:center">      
                                @Html.Label(@resMasterSetup.lblCurrencyBuy, new { @style = "color:White" })
                            </th>
                            <th style="text-align:center">      
                                @Html.Label(@resMasterSetup.lblCurrencySell, new { @style = "color:White" })
                            </th>
                            <th style="text-align:center">
                                @Html.Label("Status", new { @style = "color:White" })
                            </th>
                            <th style="padding: 5px; width: 5%; color: White;">
                                @resMasterSetup.lblEdit
                            </th>
                            <th style="padding: 5px; width: 5%; color: White;">
                                @resMasterSetup.lblAction
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.CurrencyList.Count == 0)
                        {
                            <tr style="height: 25px; border-top: 2px solid white;">
                                <td style="padding: 5px;" colspan="10">
                                    @resMasterSetup.lblNoRecFound
                                </td>
                            </tr>
                        }
                        @foreach (var item in Model.CurrencyList)
                        { 
                            <tr style="height: 25px; border-top: 2px solid white;">
                                <td>
                                    @Html.DisplayFor(modelItem => item.CurrencyCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CurrencyName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CurrencyBuy)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CurrencySell)
                                </td>
                                <td align="center">


                                    @if (item.Status == "False")
                                    {
                                        @Html.Label("Active", new { @style = "color:green" })
                                    }
                                    else if (item.Status == "True")
                                    {
                                        @Html.Label("InActive", new { @style = "color:Red" })
                                    }
                                </td>
                                <td style="border-left: 1px solid white; align: right; cursor: pointer; padding: 0 0 0 0;margin: 0 0 0 0; text-align: center;">
                                    <a style="text-decoration:none;" id="@item.CurrencyId" class="EditData">
                                        @Html.Image("imgEditBS|" + @item.CurrencyId, "~/Images/187-pencil.png", @resMasterSetup.lblEdit, 10, 0, 0, @resMasterSetup.lblEdit)
                                    </a>
                                </td>
                                <td style="border-left: 1px solid white; align: right; cursor: pointer; padding: 0 0 0 0;margin: 0 0 0 0; text-align: center;">
                                   

                                    @if (item.Status == "False")
                                    {
                                        <a style="text-decoration:none;" id="@item.CurrencyId" class="InactiveCurrency">
                                            @Html.Image("imgEditBS|" + @item.CurrencyId, "~/Images/60-x-red.png","Inactive", 10, 0, 0, "Inactive")
                                        </a>
                                    }
                                    else if (item.Status == "True")
                                    {
                                        <a style="text-decoration:none;" id="@item.CurrencyId" class="ActiveCurrency">
                                            @Html.Image("imgEditBS|" + @item.CurrencyId, "~/Images/tick.png", "Actived", 10, 0, 0, "Actived")
                                        </a>
                                    }
                                </td>
                            </tr> 
                        }
                    </tbody>
                </table>
            </div>
            @if (Model.CurrencyList.Count != 0)
            {
                <table width="auto" style="text-align:right; margin-right:0px; margin-left:auto;">
                    <tr>
                        <td style="text-align: right">
                            <div class="BtnClass" style="float: right;">
                                @Html.DropDownList("page", @Model.Pages, new { style = "width:80px;", @class = "form-control" })
                                
                            </div>
                        </td>
                        <td style="text-align: right">
                            <button id="btnPage" type="button" class="btn btn-sm btn-primary" style="width:100px">@resMasterSetup.btnView</button>
                        </td>
                    </tr>
                </table>
            }
        </div>
    </div>
</div>
