﻿@model ECFBase.Models.CurrencySetupModel
@using System.Globalization
@using resMasterSetup = ECFBase.Resources.OneForAll.OneForAll;

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $('#CountryId').change(function () {
        $('#Loading').show();
            var countries = document.getElementById("CountryId");
            var countryCode = countries.options[countries.selectedIndex].value;
            var selected = document.getElementById("SelectedCountryCode");
            selected.value = countryCode;
            $('#Loading').hide();
            event.stopPropagation();        
        });

        $("#btnSave").click(function (evt) {
            $('#Loading').show();
          //  if ($('#editBSForm').valid()) {
                $.ajax({
                    type: "POST",
                    url: "/AdminGeneral/CurrencySetupDataMethod",
                    data: $("#editBSForm").serialize(),
                    success: function (data) {
                        $("#main-content").html(data);
                        alert("Save Successfully");
                        $('#Loading').hide();
                        event.stopPropagation();        
                    },
                    error: function (xhr, status, error) {
                        var errorM = xhr.responseText;
                        errorM = errorM.replace('""', '');
                        alert(errorM);
                        $('#Loading').hide();   
                    }
                });
          //  }
        });
</script>

<div id="editBSDiv">
    @{ Html.EnableClientValidation(true); }
    @using (Html.BeginForm("EditBSFromDialog", "AdminSettings", FormMethod.Post, new { name = "editBSForm", id = "editBSForm" }))
    {
        @Html.ValidationSummary(true)
        <div id="t1">
            @Html.HiddenFor(model => model.CurrencyId)
            @Html.HiddenFor(model => model.SelectedCountryCode)
            <div class="container-fluid">
               <div class="col-lg-12">
                        @*<h1 class="page-sub-header">
                                <small>@resMasterSetup.lblCreateNewCurrency</small>
                            </h1>*@
                        <h2>@resMasterSetup.lblCreateNewCurrency</h2>
                        <!-- Begin breadcrumb -->
                        <ol class="breadcrumb default square rsaquo sm no-border ">
                            <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                            <li><a href="#">@resMasterSetup.lblGeneral</a></li>
                            <li><a href="#">@resMasterSetup.mnuMasterSetup</a></li>
                            <li class="active"><a href="#" onclick="dummy(0);return false;">@resMasterSetup.lblCreateNewCurrency</a></li>
                        </ol>
                        <!-- End breadcrumb -->
                </div>
                <div class="row" align="center">
                    <div>
                        <form role="form">
                            <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                                <div class="form-group">
                                    <label>
                                        <strong>@resMasterSetup.lblCountryName</strong>
                                    </label>
                                    @Html.DropDownList("CountryId", @Model.CountryList, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label><strong>@resMasterSetup.lblCurrencyCode<span style="color: Red">*</span></strong></label>
                                    @Html.TextBoxFor(model => model.CurrencyCode, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CurrencyCode)
                                    <div class="form-group">
                                        <label>
                                            <strong>@resMasterSetup.lblCurrencyName<span style="color: Red">*</span></strong>
                                        </label>
                                        @Html.TextBoxFor(model => model.CurrencyName, new { @class = "form-control" })
                                        <div style="margin-left: 0px;">
                                            @Html.ValidationMessageFor(model => model.CurrencyName)
                                        </div>
                                        <div class="form-group">
                                            <label for="Position">
                                                <strong>@resMasterSetup.lblCurrencyBuy<span style="color: Red">*</span></strong>
                                            </label>
                                            @Html.TextBoxFor(model => model.CurrencyBuy, new { @class = "form-control" })
                                            <div style="margin-left: 0px;">
                                                @Html.ValidationMessageFor(model => model.CurrencyBuy)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Position">
                                                <strong>@resMasterSetup.lblCurrencySell<span style="color: Red">*</span></strong>
                                            </label>
                                            @Html.TextBoxFor(model => model.CurrencySell, new { @class = "form-control" })
                                            <div style="margin-left: 0px;">
                                                @Html.ValidationMessageFor(model => model.CurrencySell)
                                            </div>
                                        </div>
                                    </div>
                                    @if (Session["EditCurrencyExchange"] == "true")
                                                {
                                                <div class="BtnClass" style="text-align:center">
                                                    <button id="btnSave" type="button" class="btn btn-sm btn-success" style="width: 150px">@resMasterSetup.btnSave</button>
                                                </div>
                                                }
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
