﻿@using ECFBase.Models
@model PaginationLanguageSetupModel
@using resMasterSetup = ECFBase.Resources.OneForAll.OneForAll;

<script type="text/javascript">

    $.ajaxSetup({ cache: false });
    $(document).ready(function () {

        $("#btnPage").click(function (evt) {
            $('#Loading').show();

            var e = document.getElementById("page")
            var page = e.options[e.selectedIndex].value;

            ShowProgressAnimation();
            $.ajax({
                type: "POST",
                url: "/AdminGeneral/LanguageSetup",
                data: { selectedPage: page },
                success: function (data) {
                    $("#main-content").html(data);
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        });

        $("#btnCreate").click(function (evt) {
            $('#Loading').show();
//            ShowProgressAnimation();
            $.ajax({
                type: "POST",
                url: "/AdminGeneral/LanguageSetupData",
                data: { languageID: 0 },
                success: function (data) {
                    $("#main-content").html(data);
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        });

       // $(".EditData").die() //must come in pair with .live if not multiple times will fired
        //$(".EditData").live("click", function (e) {
        $(".EditData").click(function (e) {
            $('#Loading').show();
            //ShowProgressAnimation();
            $.ajax({
                type: "POST",
                url: "/AdminGeneral/LanguageSetupData",
                data: { languageID: this.id },
                success: function (data) {
                    $("#main-content").html(data);
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        });

    });
</script>

<div id="reportBS">
   <div >
            <div class="col-lg-12">
                <h2>@resMasterSetup.mnuLanguage</h2>
                <!-- Begin breadcrumb -->
					<ol class="breadcrumb default square rsaquo sm no-border ">
						<li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
						<li><a href="#">@resMasterSetup.lblGeneral</a></li>
						<li><a href="#">@resMasterSetup.mnuMasterSetup</a></li>
						<li class="active"><a href="#" onclick="dummy(0);return false;">@resMasterSetup.mnuLanguage</a></li>
					</ol>
					<!-- End breadcrumb -->
            </div>
 <div class="row" align="center">
        
    <table style="width: 95%">
     @if (Session["EditLanguage"] == "true")
     {
        <tr>
            <td>
         @*<input id="btnCreate" value=@resMasterSetup.lblCreateNewLanguage class="button" style="float:right;width:180px" /> *@
                <button class="btn btn-primary btn-square btn-block" id="btnCreate" style="float:right;width:180px">@resMasterSetup.lblCreateNewLanguage</button>
            </td>
        </tr>
     }

        <tr>
            <td>
                <div class="table-responsive">
                    <table id="tablestyle" width="100%"class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr style="height: 25px; background-color: #414558; color:White; border-top: 2px solid white;">
                                <th style="padding: 5px; width: 30%">
                                    @Html.Label(@resMasterSetup.lblLanguageCode, new { @style = "font-weight: bold" })
                                </th>
                                <th>
                                    @Html.Label(@resMasterSetup.lblLanguageName, new { @style = "font-weight: bold" })
                                </th>
                                <th style="padding: 5px; width: 10%; color: White;">
                                    @Html.Label(@resMasterSetup.lblEdit, new { @style = "font-weight: bold" })
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.LanguageList.Count == 0)
      {
                        <tr style="height: 25px; border-top: 2px solid white;">
                            <td style="padding: 5px;" colspan="10">
                                @resMasterSetup.lblNoRecFound
                            </td>
                        </tr>
      }

                            @foreach (var item in Model.LanguageList)
                        {
                        <tr style="height: 25px; border-top: 2px solid white;">
                            <td>
                                @Html.DisplayFor(modelItem => item.LanguageCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LanguageName)
                            </td>
                            <td style="border-left: 1px; align: right; cursor: pointer; padding: 0 0 0 0;margin: 0 0 0 0; text-align: center;">
                                <a style="text-decoration:none;" id="@item.LanguageId" class="EditData">
                                    @Html.Image("imgEditBS|" + @item.LanguageId, "~/Images/187-pencil.png", @resMasterSetup.lblEdit, 10, 0, 0, @resMasterSetup.lblEdit)
                                </a>
                            </td>
                        </tr>
                        }
                        </tbody>
                    </table>
                    </div>
                    <br />
                    @if (Model.LanguageList.Count != 0)
                    {
                        <table width="auto" style="text-align:right; margin-right:0px; margin-left:auto;">
                            <tr>
                                <td style="text-align: right">
                                    <div class="BtnClass" style="float: right;">
                                        @Html.DropDownList("page", @Model.Pages, new { style = "width:80px;", @class = "form-control" })

                                    </div>
                                </td>
                                <td style="text-align: right">
                                    <button class="btn btn-primary btn-square btn-block" id="btnPage" style="float:right;width:180px">@resMasterSetup.btnView</button>
                                </td>
                            </tr>
                        </table>
                    }
</td>
        </tr>
    </table>
</div>
</div>
</div>
