﻿@using ECFBase.Models
@model AdminModel
@using resMasterSetup = ECFBase.Resources.OneForAll.OneForAll; 

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $('#1').hide();
    $('#2').hide();
    $('#3').hide();
    $('#4').hide();
    $('#5').hide();
    $('#6').hide();

    $("#AdminChangePassword").click(function () {
        $('#Loading').show();
        var checkedValue = $('#AdminChangePassword:checked').val();
        if (checkedValue == "true") {
            $("#1").show();
            $('#2').show();
            $('#3').show();
        } else {
            $('#1').hide();
            $('#2').hide();
            $('#3').hide();
        }
        $('#Loading').hide();
    });

    $("#AdminChangePIN").click(function () {
        $('#Loading').show();
        var checkedValue = $('#AdminChangePIN:checked').val();
        if (checkedValue == "true") {
            $("#4").show();
            $('#5').show();
            $('#6').show();
        } else {
            $('#4').hide();
            $('#5').hide();
            $('#6').hide();
        }
        $('#Loading').hide();
    });

    $("#btnSaveAd").click(function (evt) {
        
        $.validator.unobtrusive.parse($('#editAdForm'));
        //if (jQuery("#editAdForm").valid() == true) {
        $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/AdminGeneral/EditAdminListFromDialog",
                data: $("#editAdForm").serialize(),
                success: function (data) {
                    $("#main-content").html(data);
                    alert("@resMasterSetup.msgSaveSuccessfully");
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        //}
    });

</script>

<div id="editAdDiv">
    @{ Html.EnableClientValidation(true); }
    @using (Html.BeginForm("EditAdminPermissionMethod", "AdminGeneral", FormMethod.Post, new { name = "editAdForm", id = "editAdForm" }))
    {
        @*@Html.ValidationSummary(true)*@

        

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h2 style="padding-left:15px;">@resMasterSetup.lblNewAdmin</h2>
                    <ol class="breadcrumb default square rsaquo sm no-border " style="margin:15px;">
                        <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                        <li><a href="#">@resMasterSetup.lblGeneral</a></li>
                        <li><a href="#">@resMasterSetup.mnuAdminUser</a></li>
                        <li class="active"><a href="#">@resMasterSetup.lblNewAdmin</a></li>
                    </ol>
                </div>
            </div>
            <div class="row" align="center">
                <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                    <div class="form-group">
                        <strong>@resMasterSetup.lblUsername <span style="color: Red">*</span></strong>
                        @Html.HiddenFor(model => model.UserID)

                        @if (@Model.AdminUserName == "")
                        {
                            @Html.TextBoxFor(model => model.AdminUserName, new { @class = "form-control" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => @Model.AdminUserName, new { @class = "form-control", @readonly = "readonly" })
                        }
                        <div style="margin-left: 0px;">
                            @Html.ValidationMessageFor(model => model.AdminUserName)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" align="center">
                <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                    <div class="form-group">
                        <strong>@resMasterSetup.lblFullname <span style="color: Red">*</span></strong>
                        @Html.TextBoxFor(model => model.AdminFirstName, new { @class = "form-control" })
                        <div style="margin-left: 0px;">
                            @Html.ValidationMessageFor(model => model.AdminFirstName)
                        </div>
                    </div>
                </div>
            </div>

            @if (@Model.AdminUserName == "")
            {
            <div class="row" align="center">
                <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                    <div class="form-group">
                        <strong>@resMasterSetup.lblPassword <span style="color: Red">*</span></strong>
                        @Html.PasswordFor(model => model.AdminPassword, new { @class = "form-control" })
                        <div style="margin-left: 0px;">
                            @Html.ValidationMessageFor(model => model.AdminPassword)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" align="center">
                <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                    <div class="form-group">
                        <strong>@resMasterSetup.lblSecurityPin <span style="color: Red">*</span></strong>
                        @Html.PasswordFor(model => model.AdminPIN, new { @class = "form-control" })
                        <div style="margin-left: 0px;">
                            @Html.ValidationMessageFor(model => model.AdminPIN)
                        </div>
                    </div>
                </div>
            </div>
            }
            else
            {
            @Html.HiddenFor(model => model.AdminPassword)
            @Html.ValidationMessageFor(model => model.AdminPassword)
            @Html.HiddenFor(model => model.AdminPIN)
            @Html.ValidationMessageFor(model => model.AdminPIN)
            <div class="row" align="center">
                <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                    <div class="form-group">
                        @Html.CheckBox("AdminChangePassword")
                        @Html.ValidationMessage("AdminChangePassword")
                        @resMasterSetup.lblChgPassword
                    </div>
                </div>
            </div>
            <div id="1" class="row" align="center">
                <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                    <div class="form-group">
                        <strong>@resMasterSetup.lblCurrPwd</strong>
                        @Html.PasswordFor(model => model.AdminCurrentPassword, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div id="2" class="row" align="center">
                <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                    <div class="form-group">
                        <strong>@resMasterSetup.lblNewPwd</strong>
                        @Html.PasswordFor(model => model.AdminNewPassword, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div id="3" class="row" align="center">
                <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                    <div class="form-group">
                        <strong>@resMasterSetup.lblConfirmNewPwd</strong>
                        @Html.PasswordFor(model => model.AdminConfirmNewPassword, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row" align="center">
                <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                    <div class="form-group">
                        @Html.CheckBox("AdminChangePIN")
                        @Html.ValidationMessage("AdminChangePIN")
                        @resMasterSetup.lblChgPIN
                    </div>
                </div>
            </div>
            <div id="4" class="row" align="center">
                <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                    <div class="form-group">
                        <strong>@resMasterSetup.lblCurrPIN</strong>
                        @Html.PasswordFor(model => model.AdminCurrentPIN, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div id="5" class="row" align="center">
                <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                    <div class="form-group">
                        <strong>@resMasterSetup.lblNewPIN</strong>
                        @Html.PasswordFor(model => model.AdminNewPIN, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div id="6" class="row" align="center">
                <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                    <div class="form-group">
                        <strong>@resMasterSetup.lblConfirmNewPIN</strong>
                        @Html.PasswordFor(model => model.AdminConfirmNewPIN, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            }
            <div class="row" align="center">
                <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                    <div class="form-group">
                        @if (Session["EditUserSetup"] == "true")
                        {
                            <button id="btnSaveAd" type="button" class="btn btn-sm btn-success" style="width:100px;">@resMasterSetup.btnSave</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
        </div>
