﻿@model ECFBase.Models.PaymentModeSetupModel 
@using resShared = ECFBase.Resources.OneForAll.OneForAll;

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $("#btnSave").click(function (evt) {
       
        $.validator.unobtrusive.parse($('#editBSForm'));
        if ($('#editBSForm').valid()) {
            $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/AdminGeneral/PaymentModeSetupDataMethod",
                data: $("#editBSForm").serialize(),
                success: function (data) {
                    $("#main-content").html(data);
                    alert("@resShared.msgSaveSuccessfully");
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        }
    });
</script>
<div id="editPage">
    @{ Html.EnableClientValidation(true); }
    @using (Html.BeginForm("EditBSFromDialog", "AdminSettings", FormMethod.Post, new { name = "editBSForm", id = "editBSForm" }))
    {
        @Html.ValidationSummary(true)

                
       
            @Html.HiddenFor(model => model.PayModeID)
            @Html.ValidationMessageFor(model => model.PayModeID)

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-sub-header"></h1>
                    <!-- Begin breadcrumb -->
                    <ol class="breadcrumb default square rsaquo sm no-border ">
                        <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                        <li><a href="#">@resShared.lblGeneral</a></li>
                        <li><a href="#">@resShared.mnuMasterSetup</a></li>
                        <li class="active"><a href="#" onclick="dummy(0);return false;">@resShared.lblPaymentmode1</a></li>
                    </ol>
                    <!-- End breadcrumb -->
                </div>
            </div>
            <div id="t1" align="center">
                <table width="600" id="tablestyle2" border="0" cellpadding="0" cellspacing="0">
                    <div class="row" align="center">
                        <div>
                            <form role="form">
                                <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                                    <div class="form-group">
                                        <strong>@resShared.lblPaymentModeType<span style="color: Red">*</span></strong>
                                        @Html.TextBoxFor(model => model.PayModeType, new { @class = "form-control" })
                                        <div style="margin-left: 0px;">
                                            @Html.ValidationMessageFor(model => model.PayModeType)
                                        </div>
                                    </div>
                                </div>
                                @if (Session["EditPaymentMode"] == "true")
                                {
                                    <div class="BtnClass" style="text-align:center">
                                        <button id="btnSave" type="button" class="btn btn-sm btn-primary" style="width: 150px">@resShared.btnSave</button>
                                    </div>
                                }
                            </form>
                        </div>
                    </div>

                </table>
            </div>
            <br />
        </div>
    }
        </div>


     @*       <table width="600" id="tablestyle2" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td colspan="2" class="tabletitle">
                        <center>
                            <div>@resShared.lblNewPaymentModeSetup</div>
                        </center>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <center>
                            <table width="400" id="tablestyle">
                                <tr>
                                    <td width="30%">
                                        <label for="Position">
                                            <strong>@resShared.lblPaymentModeType<span style="color: Red">*</span></strong>
                                        </label>
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.PayModeType)
                                        <div style="margin-left: 0px;">
                                            @Html.ValidationMessageFor(model => model.PayModeType)
                                        </div>
                                    </td>
                                </tr>
                                  @if (Session["EditPaymentMode"] == "true")
                                  {
                                <tr>
                                    <td colspan="2">
                                        <center>
                                            <input class="button" id="btnSave" value=@resShared.btnSave />
                                        </center>
                                    </td>
                                </tr>
                                  }
                            </table>
                        </center>
                    </td>
                </tr>
            </table>*@