﻿@using ECFBase.Models
@model PaginationProvinceSetupModel
@using resMasterSetup = ECFBase.Resources.OneForAll.OneForAll; 


<script type="text/javascript">

    $("#btnPage").click(function (evt) {
        $('#Loading').show();

        var e = document.getElementById("page");
        var page = e.options[e.selectedIndex].value;

        var country = document.getElementById("SelectedCountry");
        var countryCode = country.options[country.selectedIndex].value;
        $.ajax({
            type: "POST",
            url: "/AdminGeneral/ProvinceSetup",
            data: { selectedCountryCode: countryCode, selectedPage: page },
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });

    $("#SelectedCountry").change(function () {
        $('#Loading').show();
        var country = document.getElementById("SelectedCountry");
        var countryCode = country.options[country.selectedIndex].value;
        $.ajax({
            type: "POST",
            url: "/AdminGeneral/ProvinceSetup",
            data: { selectedCountryCode: countryCode, selectedPage: 1 },
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });

    $("#btnCreate").click(function (evt) {
        $('#Loading').show();
        var country = document.getElementById("SelectedCountry");
        var countryCode = country.options[country.selectedIndex].value;
        $.ajax({
            type: "POST",
            url: "/AdminGeneral/ProvinceSetupData",
            data: { ProvinceId: 0, selectedCountryCode: countryCode },
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });

    function deleteProvince(provinceId) {
        $.ajax({
            url: "/AdminGeneral/DeleteProvince",
            type: "POST",
            data: { ProvinceId: provinceId },
            success: function (data) {
                $("#main-content").html(data);               
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);                
            }
        });
    };

    $("#OkBtn").click(function (evt) {
        $('#Loading').show();
        var provinceId = document.getElementById("eliminateId").value;
        deleteProvince(provinceId);
        $("[class *= 'modal-backdrop']").hide();
    });

    $(".DeleteData").click(function (e) {
        $('#Loading').show();
        document.getElementById("eliminateId").value = this.id;
    });


    $(".EditData").click(function (e) {
        $('#Loading').show();
        var country = document.getElementById("SelectedCountry");
        var countryCode = country.options[country.selectedIndex].value;
        $.ajax({
            type: "POST",
            url: "/AdminGeneral/ProvinceSetupData",
            data: { ProvinceId: this.id, selectedCountryCode: countryCode },
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });  
</script>

<div class="modal fade" id="confirmDialog" title="message title" role="dialog" aria-hidden="true" >
    <div class="modal-dialog" style="max-width:450px; width:auto">
        <div class="modal-content" style="text-align:center" align="center">
            <div class="modal-header" style="height:70px">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4>@resMasterSetup.lblConfirmation</h4>
            </div>
            <div class="modal-body">
                @resMasterSetup.WarningDeleteProvince
            </div>
            <div class="modal-footer">
                <button type="button" id="OkBtn" class="btn btn-info" data-dismiss="modal" style="width:100px;" aria-hidden="true">@resMasterSetup.lblYes</button>
                <button type="button" id="CancelBtn" class="btn btn-info" data-dismiss="modal" style="width:100px; padding-left:10px" aria-hidden="true">@resMasterSetup.lblNo</button>
            </div>
        </div>
    </div>
</div>

<div id="reportBS">



 
        <div class="col-lg-12">
         <h2>@resMasterSetup.mnuProvince</h2>
            <!-- Begin breadcrumb -->
				<ol class="breadcrumb default square rsaquo sm no-border ">
					<li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
					<li><a href="#">@resMasterSetup.lblGeneral</a></li>
					<li><a href="#">@resMasterSetup.mnuMasterSetup</a></li>
					<li class="active"><a href="#">@resMasterSetup.mnuProvince</a></li>
				</ol>
		    <!-- End breadcrumb --> 
        </div>
     <div class="grid" style="padding: 20px;" id="grid">  
            <input type="hidden" id="eliminateId" />      
            <div class="grid">
                <table width="auto" class="test" style="text-align:right; margin-right:auto; margin-left:10px;">
                    <tr>
                        <td style="text-align:right">
                           <label>@resMasterSetup.lblCountry:</label>
                        </td>
                          <td style="padding-left:10px">
                            @Html.DropDownListFor(m => m.SelectedCountry, @Model.CountryList, new { style = "width:400px;", @class = "form-control" })  
                        </td>
                        
                    </tr>
                </table>
            </div>
         <div style="padding-right:10px;">
             @if (Session["EditProvince"] == "true")
             {
                 <div class="grid" style="margin-left: 5px;" id="grid">
                     <input id="btnCreate" class="btn btn-sm btn-primary" value=@resMasterSetup.lblCreateNewProvince class="button" style="float:right;width:180px" />
                 </div>
                             <br />
             }

         </div>
            <br />
               <div class="table-responsive">
                <table id="tablestyle" class="table table-bordered table-hover table-striped" >
                    <thead>
                        <tr style="background-color: #414558;">
                            <th style="text-align:center">
                              @Html.Label(@resMasterSetup.lblProvinceCode, new { @style = "color:White" })
                            </th>
                            <th>
                                @Html.Label(@resMasterSetup.lblProvinceName, new { @style = "color:White" })
                            </th>
                            
                             @if (Session["EditProvince"] == "true")
                             {
                                <th style="padding: 5px; width: 5%; color: White;">
                                    @Html.Label(@resMasterSetup.lblEdit, new { @style = "color:White" })
                                </th>
                                 <th style="padding: 5px; width: 5%; color: White;">
                                     @Html.Label(@resMasterSetup.lblDelete, new { @style = "color:White" })
                                </th>
                             }
                        </tr>      
                    </thead>
                    <tbody>
						@if (Model.ProvinceList.Count == 0)
                        {
                            <tr style="height: 25px; border-top: 2px solid white;">
                                <td style="padding: 5px;" colspan="10">
                                   @resMasterSetup.lblNoRecFound
                                </td>
                            </tr>
                         }
                        @foreach (var item in Model.ProvinceList)
                        { 
                            <tr style="height: 25px; border-top: 2px solid white;">
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProvinceCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProvinceName)
                                </td> 
                                <td style="border-left: 1px solid white; align: right; cursor: pointer; padding: 0 0 0 0;margin: 0 0 0 0; text-align: center;">
                                    <a style="text-decoration:none;" id="@item.ProvinceId" class="EditData">
                                        @Html.Image("imgEditBS|" + @item.ProvinceId, "~/Images/187-pencil.png", @resMasterSetup.lblEdit, 10, 0, 0, @resMasterSetup.lblEdit)
                                    </a>
                                </td>
                                 @if (Session["EditProvince"] == "true")
                                 { 
                                     <td style="border-left: 1px solid white; align: right; cursor: pointer; padding: 0 0 0 0;margin: 0 0 0 0; text-align: center;">
                                    <a style="text-decoration:none;" id="@item.ProvinceId" class="DeleteData" data-toggle="modal" data-target="#confirmDialog">
                                        @Html.Image(String.Concat("imgDeleteAd|", @item.ProvinceId), "~/Images/60-x-red.png", "Delete", 7, 0, 0)
                                    </a>
                                </td>
                                 }
                            </tr> 
                        }
                    </tbody>
				</table>
            </div>
				@if (Model.ProvinceList.Count != 0)
    {
				    <table width="auto" style="text-align:right; margin-right:0px; margin-left:auto;">
                        <tr>
                            <td style="text-align: right">
                                <div class="BtnClass" style="float: right;">
							    @Html.DropDownList("page", @Model.Pages, new { style = "width:80px;", @class = "form-control" })
                               
						        </div>
                            </td>
                            <td style="text-align: right">
                                 <button id="btnPage" type="button" class="btn btn-sm btn-primary" style="width:100px">@resMasterSetup.btnView</button>
                            </td>
                        </tr>
                    </table>
				}
    </div>

</div>
