﻿@model ECFBase.Models.ProvinceSetupModel
@using System.Globalization
@using resMasterSetup = ECFBase.Resources.OneForAll.OneForAll; 

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
        $("#SelectedLanguage").change(function () {
            $("[id *= 'Name|']").hide();
            $("[id='Name|" + $(document.getElementById("SelectedLanguage")).val() + "']").show();
            $("[id *= 'Description|']").hide();
            $("[id='Description|" + $(document.getElementById("SelectedLanguage")).val() + "']").show();
        });

        $("#btnSave").click(function (evt) {
           
            $.validator.unobtrusive.parse($('#editBSForm'));
            if (jQuery("#editBSForm").valid() == true) {
                $('#Loading').show();
                $.ajax({
                    type: "POST",
                    url: "/AdminGeneral/ProvinceSetupDataMethod",
                    data: $("#editBSForm").serialize(),
                    success: function (data) {
                        $("#main-content").html(data);
                        alert("@resMasterSetup.msgSaveSuccessfully");
                        $('#Loading').hide();
                    },
                    error: function (xhr, status, error) {
                        var errorM = xhr.responseText;
                        errorM = errorM.replace('""', '');
                        alert(errorM);
                        $('#Loading').hide();
                    }
                });
            }
        });
</script>

<div id="editBSDiv">
    @{ Html.EnableClientValidation(true); }
    @using (Html.BeginForm("EditBSFromDialog", "AdminSettings", FormMethod.Post, new { name = "editBSForm", id = "editBSForm" }))
    {
        @Html.ValidationSummary(true)
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h2 style="padding-left:15px;">@resMasterSetup.lblCreateNewProvince</h2>
                    <!-- Begin breadcrumb -->
                    <ol class="breadcrumb default square rsaquo sm no-border " style="margin:15px;">
                        <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                        <li><a href="#">@resMasterSetup.lblGeneral</a></li>
                        <li><a href="#">@resMasterSetup.mnuMasterSetup</a></li>
                        <li class="active"><a href="#">@resMasterSetup.lblCreateNewProvince</a></li>

                        @Html.HiddenFor(model => model.ProvinceId)
                        @Html.ValidationMessageFor(model => model.ProvinceId)
                    </ol>
                </div>
            </div>
            <div class="row" align="center">
                <div>
                    <form role="form">
                        <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                            <div class="form-group">
                                <label for="Position">
                                    <strong>@resMasterSetup.lblCountryName<span style="color: Red">*</span></strong>
                                </label>
                                @if (Model.ProvinceId == null)
                                {
                                    @Html.DropDownListFor(m => m.SelectedCountry, @Model.Countries, new { @class = "form-control" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(m => m.SelectedCountry, @Model.Countries, new { @disabled = "disabled", @class = "form-control" })
                                    @Html.HiddenFor(m => m.SelectedCountry)
                                }
                            </div>
                            <div class="form-group">
                                <label for="Position">
                                    <strong>@resMasterSetup.lblProvinceCode<span style="color: Red">*</span></strong>
                                </label>
                                @Html.TextBoxFor(model => model.ProvinceCode, new { @class = "form-control" })
                                <div style="margin-left: 0px;">
                                    @Html.ValidationMessageFor(model => model.ProvinceCode)
                                </div>
                            </div>
                            <div class="form-group">
                                <label>@resMasterSetup.lblSelectLanguage</label>
                                @Html.DropDownListFor(model => model.SelectedLanguage, @Model.LanguageList, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @for (var i = 0; i < Model.NameLanguageList.Count; i++)
                                {
                                    string nameVisibility = "none";
                                    string rowId = Model.NameLanguageList[i].LanguageCode;

                                    if (Model.NameLanguageList[i].LanguageCode == Model.SelectedLanguage)
                                    {
                                        nameVisibility = "table-row";
                                    }
                                    <tr style="display:@nameVisibility">
                                        <td width="50%" style="padding-bottom:100px">
                                            <label for="Position" id="Name|@rowId" style="width:100%; display:@nameVisibility">
                                                @resMasterSetup.lblCityName ( @Html.DisplayFor(x => x.NameLanguageList[i].LanguageName) )
                                            </label>
                                        </td>
                                        <td>
                                            @Html.HiddenFor(x => x.NameLanguageList[i].LanguageCode)
                                            @Html.HiddenFor(x => x.NameLanguageList[i].LanguageName)
                                            @Html.TextBoxFor(x => x.NameLanguageList[i].Text, new { @class = "form-control", style = "display:" + @nameVisibility, id = "Description|" + @rowId })
                                        </td>
                                    </tr>
                                }
                            </div>
                            @if (Session["EditProvince"] == "true")
                            {
                                <div class="BtnClass" style="text-align:center">
                                    <button id="btnSave" type="button" class="btn btn-sm btn-success" style="width: 150px">@resMasterSetup.btnSave</button>
                                </div>
                            }
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
        </div>
