﻿@using resShared = ECFBase.Resources.OneForAll.OneForAll; 

@using ECFBase.Models
@model PaginationSalesDeliveryModel

<script type="text/javascript">
    $("#btnPage").click(function (evt) {
        $('#Loading').show();

            var e = document.getElementById("page")
            var page = e.options[e.selectedIndex].value;
          
            $.ajax({
                type: "POST",
                url: "/AdminGeneral/SalesDeliveryMode",
                data: { selectedPage: page },
                success: function (data) {
                    $("#main-content").html(data);
                   $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                   $('#Loading').hide();
                }
            });
        });

       $("#OkBtn").click(function (evt) {
           $('#Loading').show();
            var modeID = document.getElementById("eliminateId").value;
            deleteSalesDeliveryMode(modeID);
            $("[class *= 'modal-backdrop']").hide();
        });

        $(".DeleteData").click(function (e) {
            document.getElementById("eliminateId").value = this.id;
        });       

        function deleteSalesDeliveryMode(modeID) {
            $.ajax({
                url: "/AdminGeneral/DeleteSalesDeliveryMode",
                type: "POST",
                data: { Mode: modeID },
                success: function (data) {
                    $("#reportBS").html(data);
                },
                error: function (xhr, status, error) {
                    $("#reportBS").html('');
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert('ERROR:' + errorM);
                }
            });
        };

        $("#btnCreate").click(function (evt) {
            $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/AdminGeneral/SalesDeliveryModeData",
                data: { DeliveryID: 0 },
                success: function (data) {
                    $("#main-content").html(data);
                   $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                   $('#Loading').hide();
                }
            });
        });

       $(".EditData").click(function (e) {
           $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/AdminGeneral/SalesDeliveryModeData",
                data: { DeliveryID: this.id },
                success: function (data) {
                    $("#main-content").html(data);
                   $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                   $('#Loading').hide();
                }
            });
        });
</script>

<div class="modal fade" id="confirmDialog" title="message title" role="dialog" aria-hidden="true" >
    <div class="modal-dialog" style="max-width:450px; width:auto">
        <div class="modal-content" style="text-align:center" align="center">
            <div class="modal-header" style="height:70px">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4>@resShared.lblConfirmation</h4>
            </div>
            <div class="modal-body">
                @resShared.WarningDeleteSalesDeliveryMode
            </div>
            <div class="modal-footer">
                <button type="button" id="OkBtn" class="btn btn-info" data-dismiss="modal" style="width:100px;" aria-hidden="true">@resShared.lblYes</button>
                <button type="button" id="CancelBtn" class="btn btn-info" data-dismiss="modal" style="width:100px; padding-left:10px" aria-hidden="true">@resShared.lblNo</button>
            </div>
        </div>
    </div>
</div>
<div id="reportBS">
    <div class="row">
        <div class="col-lg-12">
 <h2 style="padding-left:15px;">@resShared.lblDeliveryTo</h2>
            <ol class="breadcrumb default square rsaquo sm no-border " style="margin:15px;">
                <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                <li><a href="#">@resShared.lblGeneral</a></li>
                <li><a href="#">@resShared.mnuMasterSetup</a></li>
                <li class="active"><a href="#">@resShared.lblDeliveryTo</a></li>
                <input type="hidden" id="eliminateId" />  
            </ol>
            <h1 class="page-sub-header">
            </h1>
        </div>
    </div>
    <table style="width: 100%">
          @if (Session["EditSalesDeliveryMode"] == "true")
          {
             <table width="100%">
                <tr>
                    <td style="text-align: right">
                        <div class="BtnClass" style="float: right;">
                            <input id="btnCreate" value=@resShared.btnCreateNewDeliveryMode type="button" class="btn btn-sm btn-success"  style="width: 150px" />                      
                        </div>
                    </td>
                </tr>
            </table>
          }
          <div class="table-responsive">
                <table id="tablestyle" class="table table-bordered table-hover table-striped">
                    <thead>
                         <tr style="background-color: #080808;">
                            <th style="text-align: center">
                                @Html.Label(@resShared.lblNumber, new { @style = "color:White" })
                            </th>
                            <th style="text-align: center">
                                @Html.Label(@resShared.lblMethod, new { @style = "color:White" })
                            </th>
                           
                             @if (Session["EditSalesDeliveryMode"] == "true")
                             {
                                <th style="text-align: center">
                                    @Html.Label(@resShared.lblEdit, new { @style = "color:White" })
                                </th>
                                <th style="text-align: center">
                                    @Html.Label(@resShared.lblDelete, new { @style = "color:White" })
                                </th>
                             }
                        </tr>
                    </thead>
                    <tbody>
						@if (Model.SalesDeliveryList.Count == 0)
                        {
                            <tr style="height: 25px; border-top: 2px solid white;">
                                <td style="padding: 5px;" colspan="10">
                                    @resShared.lblNoRecFound
                                </td>
                            </tr>
                        }
                        @foreach (var item in Model.SalesDeliveryList)
                        { 
                            <tr style="height: 25px; border-top: 2px solid white;">
                                <td>
                                    @Html.DisplayFor(modelItem => item.Number)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DeliveryMethod)
                                </td>
                                <td align="center" style="width: 60px">
                                    <button style="text-decoration:none;" id="@item.SalesDeliveryID" class="EditData">
                                        @Html.Image("imgEditBS|" + @item.SalesDeliveryID, "~/Images/187-pencil.png", @resShared.lblEdit, 10, 0, 0, @resShared.lblEdit)
                                    </button>
                                </td>
                                @if (Session["EditSalesDeliveryMode"] == "true")
                                {
                                    <td align="center" style="width: 60px">
                                        <button style="text-decoration:none;" class="DeleteData" id="@item.SalesDeliveryID" data-toggle="modal" data-target="#confirmDialog">
                                        @Html.Image(String.Concat("imgDeleteAd|", @item.SalesDeliveryID), "~/Images/60-x-red.png", "Delete", 7, 0, 0)                                     
                                        </button>
                                   </td>
                                }                                 
                            </tr> 
                        }
                    </tbody>
				</table>
                </div>
			@if (Model.SalesDeliveryList.Count != 0)
            {
                    <table width="100%">
                    <tr>
                        <td style="text-align: right">
                            <div class="BtnClass" style="float: right;">
							@Html.DropDownList("page", @Model.Pages, new { style = "width:80px;", @class = "form-control" })
                            <button id="btnPage" type="button" class="btn btn-sm btn-success" style="width:100px">@resShared.btnView</button>
						    </div>
                        </td>
                    </tr>
                </table>
            }
    </table>
</div>
