﻿@using resShared = ECFBase.Resources.OneForAll.OneForAll;
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@resShared.messageError</title>
</head>
<body>
    <h2>
        @resShared.messageSorryErrorOccurred
    </h2>
</body>
</html>